//TODO: clean up here

/**
 * That's for the base styling of the app
 * things that are not generic enough to be put in the sdk
 * but also do not belong into any specify component
 *
 */

%cc-flex-column, 
.cc-flex-column {
    display: flex;
    flex-direction: column;
}

%cc-scroll-container {
    overflow: auto;
    overflow-x: hidden;
}

.cc-has-overflow-support.cc-modern-flexbox {
    .cc-app-wrapper {
        @extend %sofa-dock-all;

        overflow: hidden;
    }
}

.cc-link {
    text-decoration: underline;
}

// the page wrapper needs to be `position:relative` for the animations
// since those need `position: absolute
.cc-page-wrapper {
    position: relative;
}

.cc-no-modern-flexbox {
    .cc-page-wrapper,
    .cc-ui-view {
        height: 100%;
    }
}

.snap-content:after {
    content: '';
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:100%;
    background-color: rgba(0,0,0,0);
    -webkit-transition: background-color .3s ease-in, right .01s ease-in .3s;
    transition: background-color .3s ease-in, right .01s ease-in .3s;
}

.snapjs-left,
.snapjs-right {
    .snap-content:after {
        right:0;
        background-color: rgba(0,0,0,0.5);

        -webkit-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;
    }
}

.cc-has-overflow-support.cc-modern-flexbox {
    .cc-page-wrapper,
    .cc-main-wrapper {
        @extend %cc-flex-column;

        flex: 1;
    }
    .cc-ui-view {
        flex: 1;
    }
    .cc-view-wrapper {
        @extend %cc-scroll-container;
    }
}

.cc-has-no-overflow-support{
    .cc-main-wrapper{
        // if we use `height` instead of `min-height` scrolling does not
        // work anymore on Android 2.3. I love the web!
        min-height: 100%;
    }
}

.cc-ipad-ios-7 {
    position: fixed;
    top:0;
}

.cc-ipad-ios-7 > body {
    position: absolute;
    top:0;
    bottom:0;
}

// from the former theme file
// TODO: move contents into the correct files

body{
    font-family: $cc-font-default;
    background: $theme-color-light;
    line-height: 1.2em;
}

a {
    color:$theme-color-accent;
}

.snap-content {
    background: $theme-color-light;
}

.snap-drawer {
    width:266px;
}

.cc-modal{
    color: $theme-color-dark__tinted--20;
}

.cc-modal--solid{
    background: $theme-color-light;
}

.cc-title--huge {
    margin:0;
    line-height: 1.25;
}

.cc-text-box,
.cc-search-field__input {
    @extend %sofa-text-field;

    border-radius: $theme-border-radius--basic;

    &:focus {
        box-shadow: none;
        border-color: $theme-color-dark__lighter--33;
    }
}

// Override for sofa placeholder
%cc-message-box--base {
    border-radius: $theme-border-radius--basic;
}

.cc-form-item,
.cc-form__item {
    @extend %sofa-form__item;
}

.cc-form-label {
    @extend %sofa-form-label;
}
.cc-form-label--required {
    @extend %sofa-form-label--required;

    color: $theme-color-dark;
}

.cc-form-label--optional {
    @extend %sofa-form-label--optional;

    color: $theme-color-dark__tinted--50;
}

.cc-hidden {
    display: none;
}

.cc-img-loading {
    position: relative;
}
.cc-img-loading:before {
    content: '';
    height:60px;
    width:60px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin:-30px 0 0 -30px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border:6px solid rgba(0,0,0,.15);
    border-top:6px solid rgba(0,0,0,.4);
    border-radius:100%;
    z-index:2;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.cc-validation__wrapper {
    position: relative;
}

.cc-validation__message--success {
    position: absolute;
    right: .875rem;
    //set line-height to the height of the text-box
    line-height: 46px;
    color:$theme-success-color;


    @include fa-icon-type($fa-var-check-circle, after);
}

.cc-validation__message--fail {
    position: relative;
    display:block;
    padding: .5rem;
    border-radius: 0 0 $theme-border-radius--basic $theme-border-radius--basic;
    border:2px solid $theme-warning-border-color;
    color: $theme-warning-color;
    font-size: 0.875rem;
    background: $theme-warning-background-color;
    margin:-2px 0 0;

    &:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: -9px;
        left: 15px;
        background: $theme-warning-background-color;
        border-bottom-color: $theme-warning-background-color;
        border:2px solid $theme-warning-border-color;
        border-width:2px 0 0 2px;

        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.cc-date__field--small,
.cc-date__field--large {
    display: inline-block;
    width:3em;
}
.cc-date__field--large {
    width:5em;
}

// This is a modal class to overwrite some default bootstrap properties
// and is separate from the couch modal which is used in the search, among others.
.modal,
.cc-bootstrap-modal {
    background: $theme-color-light;
    border-radius: $theme-border-radius--basic !important;
    border:0;
}

.cc-go-up-button,
.cc-go-back-button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
}

.cc-go-up-control__icon,
.cc-go-back-button__icon {

    @include fa-icon-type($fa-var-angle-left);

    margin-right:6px;
}

@include breakpoint(wide) {
    .cc-go-up-control__icon {
//        @extend %fa-fw-class--wide;

        margin:0;
    }
}

.cc-view-wrapper {
    color: $theme-color-dark__tinted--20;
}

.cc-cms-content {

    font-size: 0.9375rem;

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        margin:0 0 1rem;
        font-weight: 700;
    }
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 135%;
    }
    h3 {
        font-size: 125%;
    }
    h4 {
        font-size: 115%;
    }
    h5 {
        font-size: 110%;
    }
    h6 {
        font-size: 105%;
    }

    p {
        font-size: inherit;
        line-height: 1.25rem;
        margin: .5rem 0;
    }

    ul {
        font-size: inherit;
        list-style: disc;
        margin: 1rem 0;
    }
    li {
        margin-left: 1rem;
    }
}
