$cc-product-view__image-background-color: $content-background-color;
$cc-product-view__image-border-radius: $primary-border-radius;

$cc-product-view__zippy-icon-color: $content-border-color;
$cc-product-view__zippy-border-color: $content-border-color;
$cc-product-view__zippy-caption-font-size: $font-size-big;

$cc-product-view__content-box-color: $content-text-color;