$cc-product-buy-box__info-padding-top: $primary-padding;
$cc-product-buy-box__font-size: $font-size-small;
$cc-product-buy-box__price: $font-size-huge;
$cc-product-buy-box__price-old: $font-size-big;
$cc-product-buy-box__sold-out-background: $warning-background-color;
$cc-product-buy-box__sold-out-color: $warning-text-color;