// ATTENTION: The footer derives from cc-text-list and therefore has access
// to all config variables exposed by cc-text-list. It also brings new ones.

$cc-footer-list__color: #000000;
$cc-footer-list--tablet__color: #000000;
$cc-footer-list__background: #ffffff;
$cc-footer-list__border-color: grey;
$cc-footer-list--docked__left: 10px;
$cc-footer-list--docked__right: 10px;
$cc-text-list__icon-color: grey;