.cc-footer-list{
    @extend %cc-text-list;
    margin-top: 50px;
    color: $footer-text-color;
}

.cc-footer-list__row{
    @extend %cc-text-list__row;
    background-color: $footer-background-color;

    &:last-child{
        border-bottom-color: $footer-border-color;
    }
}


.cc-footer-list__row-content{
    @extend .cc-text-list__row-content;
    border-bottom-color: $footer-border-color;
}

.cc-footer-list__row-icon{
    @extend %cc-text-list__row-icon;
    //intentionally! We want the icon to use the same color as the border
    color: $footer-border-color;
}