
.cc-summary__agreements {
    @extend %theme-checkout-section;
}

.cc-summary__info {
    @extend %theme-checkout-section;

    .cc-title--big {
        color: $theme-color-dark;
    }
}

.cc-summary__info-data {
    font-size:14px;
    font-style: normal;

    span {
        display: block;
    }
}

.cc-summary__cart {
    @extend %theme-checkout-section;
    padding: 0;

    .cc-cart-total-panel {
        padding:6px 0 0;
        font-size:inherit;
        color: $theme-color-dark__lighter--50;
        background: $theme-color-dark__lighter--10;

        .cc-properties__key {
            padding: 6px 0 6px 10px;
        }
        .cc-properties__value {
            padding: 6px 10px 6px 0;
        }
    }
    .cc-cart-total-panel__grand-total {
        color: $theme-color-light;
        padding: 0 0 6px;
    }
}

@include breakpoint(wide) {

    .cc-summary__agreements {
        @extend %checkout-section--wide;
    }
    .cc-summary__info {
        @extend %checkout-section--wide;
    }
    .cc-summary__cart {
        @extend %checkout-section--wide;
        padding: 0;

        .cc-cart-list__item-image {
            width:80px;
            height:80px;
        }
        .cc-cart-list__item-content {
            margin-left: 100px;
        }
        .cc-cart-list__item-footer {
            margin-left: 100px;
            clear: none;
        }
    }

    .cc-summary__finish-wrapper {
        text-align: center;
    }
}
