/**
 * That's for the base styling of the app
 * things that are not generic enough to be put in the sdk 
 * but also do not belong into any specify component
 * 
 */


.cc-content {
    position: absolute;
    top: $cc-header__height;
    left: 0;
    right: 0;
    bottom: 0;
}