%cc-box-highlight-helper {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    @extend .cc-highlight--animated;
    @extend .cc-highlight;
    opacity: .66;
}