<div class="cc-view-wrapper">

    <div class="cc-sticky-view-wrapper">

        <div class="cc-sticky-view-wrapper__content">

            <div class="cc-pages__header-block">
                <div class="cc-pages__header">
                    <h1 class="cc-title--huge" ng-bind="page.title"></h1>
                </div>
            </div>

            <cc-inject target="beneathTitle"></cc-inject>

            <div class="cc-pages__content-box">
                <div ng-bind-html="page.content"></div>
                <div ng-if="page.content">
                    <a class="cc-pages__send-as-mail" href="{{mailTo}}" ng-bind="ln.sendCmsMail"></a>
                </div>
            </div>

            <div ng-if="isLoading" class="cc-pages__loading-box">
                <cc-loading-spinner class="cc-pages__loading-box-spinner"></cc-loading-spinner>
            </div>

            <div ng-include="tpl.404" ng-if="!page.content && !isLoading"></div>

        </div>
    </div>
</div>
