<div cc-scroller-announcer class="sofa-view">

    <div class="sofa-sticky-view">

        <div class="sofa-sticky-view__content">
            <cc-inject target="aboveContent"></cc-inject>

            <div class="sofa-view__header sofa-view__header--pages">
                <div class="sofa-up-nav">
                    <sofa-go-back-control button-text="{{ ln.back }}"></sofa-go-back-control>
                </div>
                <div class="sofa-view__title">
                    <h1 class="cc-title--huge" ng-bind="page.title"></h1>
                </div>
            </div>

            <cc-inject target="beneathTitle"></cc-inject>

            <div class="cc-pages__content-box">
                <div ng-bind-html="page.content"></div>
                <div ng-if="page.content">
                    <a class="cc-pages__send-as-mail" href="{{mailTo}}" ng-bind="ln.sendCmsMail"></a>
                </div>
            </div>

            <div ng-if="isLoading" class="cc-pages__loading-box">
                <sofa-loading-spinner class="cc-pages__loading-box-spinner"></sofa-loading-spinner>
            </div>

            <div ng-include="tpl.404" ng-if="!page.content && !isLoading"></div>

        </div>

        <div class="sofa-sticky-view__footer">
            <cc-inject target="aboveFooter"></cc-inject>
            <cc-footer></cc-footer>
            <cc-inject target="beneathFooter"></cc-inject>
        </div>
    </div>
</div>
