.cc-pages__loading-box {
    position: relative;
}

.cc-pages__loading-box-spinner {
    left: 50%;
    margin-left: -64px;
}
.cc-pages__content-box {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        margin:0 0 1rem;
        font-weight: 700;
    }
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 135%;
    }
    h3 {
        font-size: 125%;
    }
    h4 {
        font-size: 115%;
    }
    h5 {
        font-size: 110%;
    }
    h6 {
        font-size: 105%;
    }

    p {
        font-size: 100%;
        line-height: 1.4;
        margin: .5rem 0;
    }

    ul {
        list-style: disc;
        margin: 1rem 0;
        padding-left: 2.5rem;
    }
}