$cc-product-grid__border-top-width: 0px;
$cc-product-grid__border-right-width: 0px;
$cc-product-grid__border-left-width: 0px;
$cc-product-grid__border-bottom-width: $cc-border-bottom-width;
$cc-product-grid__border-radius: $cc-primary-border-radius;
$cc-product-grid__border-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.22);
$cc-product-grid__color: hsla($color-1-h, $color-1-s, $color-1-l, 0.8);
$cc-product-grid__background: hsla($color-6-h, $color-6-s, $color-6-l, 1);
$cc-product-grid__space-between-boxes: $cc-primary-padding;

//we invert the colors here
$cc-product-grid__price-tag-background: hsla($color-1-h, $color-1-s, $color-1-l, 1);
$cc-product-grid__price-tag-color: hsla($color-6-h, $color-6-s, $color-6-l, 0.8);
$cc-product-grid__price-tag-top-right-border-radius: $cc-primary-border-radius;
