<div class="cc-view-wrapper">
    <ul class="cc-category-listing">
        <li ng-repeat="category in category.children"
            ng-click="goToCategory(category, $event)"
            ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(category) }"
            class="cc-list-row cc-category-listing-row" >
            <div class="cc-list-row-image cc-category-listing-row-image" 
                 style="background-image: url({{category.image}})">

            </div>
            <div class="cc-list-row-text cc-category-listing-row-text">
                <div class="cc-list-row-text-centered">
                    {{category.label}}
                </div>
            </div>
        </li>
    </ul>
    <cc-footer></cc-footer>
</div>