<div class="cc-view-wrapper">
    <ul class="cc-category-list">
        <li ng-repeat="category in category.children"
            ng-click="goToCategory(category, $event)"
            ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(category) }"
            class="cc-category-list__row" >

            <div class="cc-category-list__row-content">
                {{category.label}}
                <i class="cc-category-list__row-icon icon-angle-right icon-2x"></i>
            </div>

        </li>
    </ul>
    <cc-footer></cc-footer>
</div>

