<div cc-scroller-announcer class="cc-scroller--if-fixed cc-view-wrapper">
    <cc-inject target="aboveContent"></cc-inject>

    <div bindonce="category" ng-if="category">
        <h1 class="cc-title--huge" bo-text="headline"></h1>
        <ul class="cc-category-list">
            <li ng-repeat="category in category.children"
                ng-click="goToCategory(category, $event)"
                ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(category) }" 
                class="cc-category-list__row" >

                <div class="cc-category-list__row-content">
                    <span bo-text="category.label"></span>
                    <i class="cc-category-list__row-icon fa fa-chevron-right"></i>
                </div>

            </li>
        </ul>
    </div>
    <div ng-if="!category" ng-include="tpl.404"></div>

    <cc-inject target="aboveFooter"></cc-inject>
    <cca-footer></cca-footer>
    <cc-inject target="beneathFooter"></cc-inject>
</div>

