<div class="cc-left-box cc-scrollable-vertical" cc-scroll-fix>
    <ul ng-if="viewData.leftBoxIsCategories()" class="cc-category-listing">
        <li ng-repeat="category in viewData.leftCategory.children"
            ng-click="goToCategory(category, $index, $event)" 
            ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(category) }"
            class="cc-list-row cc-category-listing-row" >
            <div class="cc-list-row-image cc-category-listing-row-image" 
                 style="background-image: url({{category.image}})">

            </div>
            <div class="cc-list-row-text cc-category-listing-row-text">
                <div class="cc-list-row-text-centered">
                    {{category.label}}
                </div>
            </div>
        </li>
    </ul>
    <ul ng-if="viewData.leftBoxIsProducts()">
        <li ng-repeat="product in viewData.products"
            ng-click="navigateToProduct(product, $index, $event)"
            ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(product) }"
            class="cc-list-row cc-product-list-row">
            <div class="cc-list-row-image" 
                 style="background-image: url({{product.getImage('small')}})">
            </div>
            <div class="cc-product-list-row-text">
                <div class="cc-product-list-row-name">
                    {{product.name}}
                </div>
                <div class="cc-product-list-row-price">
                    {{product.price | currency}}
                </div>
            </div>
        </li>
    </ul>
</div>
<div cc-scroll-fix class="cc-right-box cc-scrollable-vertical" ui-view ng-animate="splitViewSlideDirectionService.getSlideAnimationConfig($state.current.name)"></div>
<!-- <div ui-view="products" ng-animate="{ enter: 'slide-in-rtl', leave: 'slide-out-ltr' }"></div> -->