.cc-category-list{
    @extend %cc-text-list;
}

.cc-category-list__row{
    @extend %cc-text-list__row;

    &.cc-highlight:after,
    .cc-category-list__row-highlighter{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: 1;
    }

    &.cc-highlight:after{
        background: $highlight-color;
    }

    .cc-category-list__row-highlighter{
        @extend .cc-highlight--animated;
    }
}


.cc-category-list__row-content{
    @extend .cc-text-list__row-content;
}

.cc-category-list__row-icon{
    @extend %cc-text-list__row-icon;
}