// .cc-tablet-size{
//     .cc-category-listing{
//         width: 250px;
//     }
// }

.cc-left-box{
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
}

.cc-right-box{
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    padding-left: 5px;
}