// Basics
$cc-header-base__height:         56px;
$cc-header-base__icon-height:    21px;
$cc-header-base__element-height: 44px;

// Header Box
$cc-header__height:         $cc-header-base__height;
$cc-header__padding-x:      4px;
$cc-header__padding-y:      6px;
$cc-header__paddings:       $cc-header__padding-y $cc-header__padding-x;
$cc-header__shadow-size-y:  $cc-border-bottom-width;

// Header Icons
$cc-header__icon-width:         $cc-header-base__element-height;
$cc-header__icon-height:        $cc-header-base__element-height;
$cc-header__icon-line-height:   $cc-header-base__element-height;
$cc-header__icon-font-size:     $cc-header-base__icon-height;
$cc-header__icon-border-radius: $cc-primary-border-radius;

// Header Icon Badges
$cc-header__icon-badge-font-size:    12px;
$cc-header__icon-badge-border-width: 2px;

// Logo
$cc-header__logo-height:    $cc-header-base__element-height;
$cc-header__logo-big:       $logo-big;
$cc-header__logo-small:     $logo-small;
