@import 'src/cc-button.scss';
@import 'src/cc-highlight.scss';
@import 'src/common/header/cc-header.scss';
@import 'src/search/cc-search-result.scss';

body{
    font-family: $cc-font-default;
    background: $cc-background-color;
    line-height: 1.2em;
}

.snap-content{
    background: $cc-background-color;
}

.cc-modal{
    color: $cc-background-text-color;
}

.cc-modal--solid{
    background: $cc-background-color;
}

// This is a modal class to overwrite some default bootstrap properties
// and is separate from the couch modal which is used in the search, among others.
.cc-bootstrap-modal {
    background: $cc-background-color;
}

.cc-go-up-button,
.cc-go-back-button{
    background: none;
    border: none;
    padding: 0;
    color: $cc-background-text-color;
    font-size: $cc-font-size-big;
}

.cc-go-up-control{
    font-size: $cc-font-size-big;
}

.cc-go-up-control__icon {
    @extend .fa;
    @extend .fa-arrow-circle-o-left;
    @extend .fa-rotate-90;
}

.cc-primary-margin{
    margin-top: $cc-primary-padding;
}

.cc-view-wrapper{
    padding: $cc-primary-padding;
    color: hsla($color-1-h, $color-1-s, $color-1-l, 0.8);
}

.cc-info-box{
    background: $cc-info-area-background-color;
    color: $cc-info-area-text-color;
    border: 1px solid $cc-info-area-text-color;
}

.cc-warning-box {
    background: $cc-warning-background-color;
    color: $cc-warning-text-color;
    border: 1px solid $cc-warning-text-color;
}

.cc-tooltip--info {
    @extend .cc-tooltip;
    background: $cc-info-area-background-color;

    &:before {
        border-bottom-color: $cc-info-area-background-color;
    }
}

//not sure yet where would be the best location for this kind of component bootstrapping
@include cc-select-box($cc-select-box__name: 'cc-select-box',
                       $cc-select-box__modifier: '',
                       $cc-select-box__background: $cc-select-box__background,
                       $cc-select-box__color: hsla($color-1-h, $color-1-s, $color-1-l, 0.8),
                       $cc-select-box__font-size: $cc-select-box__font-size,
                       $cc-select-box__height: $cc-select-box__height,
                       $cc-select-box__border-radius: $cc-select-box__border-radius,
                       $cc-select-box__border-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.22),
                       $cc-select-box__border-bottom-width: $cc-select-box__border-bottom-width);

// stays until we can apply font-awesome styles to generic cc-icon classes
%cc-text-list__row-icon-thin {
    position: absolute;
    margin:0;
    right: $cc-text-list__icon-right-margin;
    top: 50%;
    color: $cc-text-list__icon-color;
    font-size: 21px;
    @include vendor-prefix(transform, translateY(-50%));
}
