
%theme-add-to-cart-button--base {
    display: block;
    line-height: 50px;
    padding: 0;
    margin: 12px 0;
}


.cc-product-buy-box {
    padding:12px 4px 6px;
    text-align: center;
    background: $theme-color-light__darker--10;

    .cc-product-buy-box__base-price-info {
        display: block;
    }

    .cc-product-buy-box__add-to-cart {
        @extend %theme-button--primary;
        @extend %theme-add-to-cart-button--base;
    }

    .cc-product-buy-box__sold-out {
        @extend %theme-button--primary;
        @extend %theme-add-to-cart-button--base;
        @extend %theme-button--primary--disabled;
    }

    .cc-price--basic {
        display: inline-block;
        font-size: 1.25rem;
        line-height: 2.75rem;
    }
    .cc-price--special {
        display: table;
        width: 100%;

        .cc-price__price {
            display: table-row;
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }

    .cc-price__price--old {
        display: table-row;
        line-height: 1.25rem;
    }
}

.cc-product-buy-box__info-text {
    font-size: smaller;
    margin: 10px 0;

    &:first-child {
        margin-top: 0;
    }
}
