$cc-product-view__image-background-color: hsla($color-6-h, $color-6-s, $color-6-l, 1);;
$cc-product-view__image-border-radius: $cc-primary-border-radius;

$cc-product-view__zippy-icon-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.55);;
$cc-product-view__zippy-border-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.22);;
$cc-product-view__zippy-caption-font-size: $cc-font-size-big;

$cc-product-view__content-box-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.8);