.cc-product-buy-box {
    padding:12px 4px 6px;
    text-align: center;
    background: darken($color-6, 10%);

    .cc-product-buy-box__add-to-cart {
        @extend .cc-couch-action-button;

        display: block;
        line-height: 50px;
        padding: 0;
        margin: 12px 0;
        background-color: $color-2;
        box-shadow: 0 $theme-box-shadow-width 0 darken($color-2, 20%);
    }

    .cc-product-buy-box__sold-out {
        @extend .cc-product-buy-box__add-to-cart;

        background-color: transparentize($color-2, .5);
    }

    .cc-price {
        font-size:125%;
        line-height:40px;
    }

    .cc-price__price {
        @extend %cc-theme-price;

        width: 100%;
        box-shadow:0 2px 0 shade($color-6, 30%);
    }

    .cc-price__price--old {
        @extend %cc-theme-price--old;

        display:block;
    }

    .cc-price__price--special {
        @extend %cc-theme-price--special;

        width: 100%;
        box-shadow:0 2px 0 shade($color-6, 30%);
    }

}
.cc-product-buy-box__info-text {
    font-size: smaller;
}
