<ul class="sofa-editable-list sofa-editable-list--cart">
    <li class="sofa-editable-list__item cc-animate" ng-class="{'sofa-editable-list__item--open': vm.activeIndex === $index}">
        <div class="sofa-editable-list__drawer">
            <div class="sofa-editable-list__options">
                <button type="button" ng-click="vm.increase(item)" class="sofa-cart__item-increase"></button>
                <button type="button" ng-click="vm.decrease(item)" class="sofa-cart__item-decrease"></button>
                <button type="button" ng-click="vm.removeItem(item)" class="sofa-editable-list__delete"></button>
                <button type="button" ng-click="vm.toggleState($index)" class="sofa-editable-list__toggle"></button>
            </div>
            <div class="sofa-editable-list__content" ng-click="vm.activeIndex === $index && vm.toggleState($index)"></div>
        </div>
        <div class="sofa-cart__item-footer">
            <span class="sofa-cart__item-price">
                {{item.quantity}} &times; <sofa-price price="item.getPrice()" special-price="item.getSpecialPrice()"></sofa-price>
            </span>

            <span class="sofa-cart__item-price--total">
                {{item.getTotal() | currency: '€'}}
            </span>
        </div>
    </li>
</ul>
