.cc-supports-modern-flexbox{
    .cc-product-grid{
        @include vendor-prefix-value(display, flex);
        @include vendor-prefix(flex-flow, row wrap);
    }

    .cc-product-grid__row{
        @include vendor-prefix-value(display, flex);
        @include vendor-prefix(flex, 0 0 50%);
        @include vendor-prefix(justify-content, center);
    }

    @include breakpoint(tablet){
        .cc-product-grid__row{
            @include vendor-prefix(flex, 0 0 33.33%);
        }
    }
}

.cc-product-grid{
    overflow: auto;
    margin: 10px 0 10px 0;
    list-style: none;
    color: $cc-product-grid__color;
}

.cc-product-grid__row{
    margin-bottom: 10px;

    //display will be overwritten with flex for browsers that support
    //the modern flexbox
    display: inline-block;
    //width won't have any effect for browsers which use flexbox
    width: 50%;

    @include breakpoint(smaller-than-tablet){
        &:nth-child(even){
            //the space visible between boxes is the sum of the left padding of one box
            //and the right padding of the other box. Therefore we devide by 2.
            padding-left: $cc-product-grid__space-between-boxes/2;
        }

        &:nth-child(odd){
            //the space visible between boxes is the sum of the left padding of one box
            //and the right padding of the other box. Therefore we devide by 2.
            padding-right: $cc-product-grid__space-between-boxes/2;
        }
    }
}

@include breakpoint(tablet){

    .cc-product-grid__row{

        // won't have an effect for flex box
        width: 33.33%;

        &:nth-child(3n +3){
            padding-left: $cc-product-grid__space-between-boxes/2;
        }

        &:nth-child(3n + 1){
            padding-right: $cc-product-grid__space-between-boxes/2;
        }

        &:nth-child(3n -7){
            padding-left: $cc-product-grid__space-between-boxes/2;
            padding-right: $cc-product-grid__space-between-boxes/2;
        }
    }
}

.cc-product-grid__row-wrapper{
    width: 100%;
    background: $cc-product-grid__background;
    border-radius: $cc-product-grid__border-radius;
    border-color: $cc-product-grid__border-color;
    border-style: solid;
    border-width: 0;
    border-left-width: $cc-product-grid__border-left-width;
    border-right-width: $cc-product-grid__border-right-width;
    border-top-width: $cc-product-grid__border-top-width;
    border-bottom: 0;
    //android 2.3 needs blur for box shadow
    -webkit-box-shadow: 0 $cc-product-grid__border-bottom-width 1px 0 $cc-product-grid__border-color;
    box-shadow: 0 $cc-product-grid__border-bottom-width 0 0 $cc-product-grid__border-color;

    position: relative;

    &.cc-highlight {
        color: inherit;
    }
}
.cc-highlight .cc-product-grid__row-highlight-helper {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $cc-product-grid__border-radius;
    z-index: 1;

    @extend .cc-highlight--animated;
    @extend .cc-highlight;
    opacity: .66; /* deprecated */
}

.cc-product-grid__row-price{
    float:right;
    background: $cc-product-grid__price-tag-background;
    color: $cc-product-grid__price-tag-color;
    border-top-right-radius: $cc-product-grid__price-tag-top-right-border-radius;
    padding: 5px;
    position: relative;
    z-index: 4;
}

.cc-product-grid__row-image{
    min-height: 200px;
    width: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.cc-product-grid__row-text{
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 4;
}