<ul class="cc-products-list">
    <li ng-repeat="product in viewData.products"
        ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(product) }"
        ng-click="navigateToProduct(product, $index)" 
        class="cc-products-list-item" >
            <div class="cc-products-list-item-wrapper">
                <div class="cc-products-list-item-image" style="background-image: url({{product.getImage('small')}})">
                </div>
                <div class="cc-products-list-item-texts cc-products-list-item-desc">{{product.name}}</div>
                <div class="cc-products-list-item-texts cc-products-list-item-price">{{product.price | currency}}</div>
            </div>
    </li>
</ul>
<div ng-if="viewData.products.length === 0" ng-include="tpl.404"></div>