.cc-product-list-row-text{
    display: block;
    position: relative;
    color: $content-text-color;
    font-size: $font-size-regular;
}

.cc-product-list-row-name{
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
}

.cc-product-list-row-price{
    position: absolute;
    bottom: 5px;
    right: 5px;
}