<div class="cc-view-wrapper">
    <ul>
        <li ng-repeat="product in products"
            ng-click="navigationService.navigateToProduct(product)"
            class="cc-list-row cc-product-list-row">
            <div class="cc-list-row-image" 
                 style="background-image: url({{product.getImage('small')}})">
            </div>
            <div class="cc-product-list-row-text">
                <div class="cc-product-list-row-name">
                    {{product.name}}
                </div>
                <div class="cc-product-list-row-price">
                    {{product.price | currency}}
                </div>
            </div>
        </li>
    </ul>
    <cc-footer></cc-footer>
</div>