<ul>
    <li ng-repeat="product in viewData.products"
        ng-click="navigateToProduct(product, $index)"
        ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(product) }"
        class="cc-list-row cc-product-list-row">
        <div class="cc-list-row-image" 
             style="background-image: url({{product.getImage('small')}})">
        </div>
        <div class="cc-product-list-row-text">
            <div class="cc-product-list-row-name">
                {{product.name}}
            </div>
            <div class="cc-product-list-row-price">
                {{product.price | currency}}
            </div>
        </div>
    </li>
</ul>