//we could get that to work with flexbox but is it worth it? Ask Daniel
//http://stackoverflow.com/questions/14248095/how-to-make-3-li-columns-with-variable-height-content-the-same-height

.cc-tablet-size{
    .cc-products-list-item{
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        padding-right: 10px;
    }

    .cc-products-list-item-image{
        min-height: 220px;
        width: 100%;
        display: block;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $content-background-color;
        position: relative;
    }

    .cc-products-list-item-texts{
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    .cc-products-list-item-desc{
        padding-top: 10px;
    }

    .cc-products-list-item-price{
        text-align: right;
    }

    .cc-products-list{
        padding-top: 10px;
        overflow: auto;
    }
}

