<div class="cc-view-wrapper">
    <ul class="cc-product-grid">
        <li ng-repeat="product in products"
            ng-click="goToProduct(product, $event)"
            ng-class="{ 
                'cc-highlight': backStepHighlightService.isHighlighted(product),
                'cc-product-grid__row--odd' : $odd,
                'cc-product-grid__row--even' : $even
            }"
            >
            <div class="cc-product-grid__row-wrapper">
            <div class="cc-product-grid__row-price">
                {{product.price | currency}}
            </div>
            <div class="cc-product-grid__row-image" 
                 style="background-image: url({{product.getImage('small')}})">
            </div>
            <div class="cc-product-grid__row-text">
                {{product.name}}
            </div>
            <div>
        </li>
    </ul>
    <cc-footer></cc-footer>
</div>