<div class="cc-view-wrapper">
    <h1 class="cc-title--huge">{{ headline }}</h1>
    <ul class="cc-product-grid">
        <li ng-repeat="product in products"
            ng-class="{ 'cc-product-grid__row--odd' : $odd,
                        'cc-product-grid__row--even' : $even }">
            <div class="cc-product-grid__row-wrapper" 
                 ng-click="goToProduct(product, $event)">
            <!-- we can't use a pseudo class for the highlighting as pseudo elements + animations got poor mobile browser support so far -->
            <div ng-class="{ 'cc-product-grid__row-highlighter': backStepHighlightService.isHighlighted(product) }"></div>
            <div class="cc-product-grid__row-price">
                {{product.price | currency}}
            </div>
            <div class="cc-product-grid__row-image" 
                 style="background-image: url({{product.getImage('small')}})">
            </div>
            <div class="cc-product-grid__row-text">
                {{product.name}}
            </div>
            <div>
        </li>
    </ul>
    <cca-footer></cca-footer>
</div>