.cc-product-list-row{
    min-height: 120px;
}

.cc-product-list-row.cc-static-highlight{
    background: $info-area-background-color;
}

.cc-product-list-row-text{
    margin-left: 120px;
    color: $content-text-color;
    font-size: $font-size-regular;
}

.cc-product-list-row-name{
    font-weight: bold;
    padding-bottom: 20px;
}

.cc-product-list-row-price{
    position: absolute;
    bottom: 0;
    right: 5px;
    margin-right: 5px;
}