<div cc-scroller-announcer class="cc-scroller--if-fixed cc-view-wrapper" bindonce="ln">

    <div class="cc-checkout__header-block">

        <div class="cc-checkout__up-nav">
            <cc-go-back-button>
                <i class="cc-go-back-button__icon"></i>
                <span class="cc-go-back-button__text" ng-bind="ln.back"></span>
            </cc-go-back-button>
        </div>

        <div class="cc-checkout__header">
            <h1 bo-text="ln.checkout" class="cc-title--huge"></h1>
        </div>

    </div>

    <div class="cc-checkout__wrapper">

        <section class="cc-checkout-section cc-checkout__options">

            <div class="cc-grid__row">
                <div class="cc-grid__cell--1-1 cc-form-item">
                    <p class="cc-form-label--required" bo-text="ln.paymentMethod"></p>
                    <cc-select-box
                            ng-model="checkoutModel.selectedPaymentMethod"
                            choose-text="ln.choose"
                            allow-null
                            omit-null
                            property-name="ln.paymentMethod"
                            display-value-exp="'title'"
                            data="checkoutModel.supportedPaymentMethods">
                    </cc-select-box>
                </div>
            </div>
            <div class="cc-grid__row">
                <div class="cc-grid__cell--1-1 cc-form-item">
                    <p class="cc-form-label--required" bo-text="ln.shippingMethod"></p>
                    <cc-select-box ng-hide="$parent.displayEmptyShippingMethodsMessage"
                                   ng-model="checkoutModel.selectedShippingMethod"
                                   allow-null
                                   omit-null
                                   choose-text="ln.choose"
                                   property-name="ln.shippingMethod"
                                   display-value-exp="shippingMethodFormatter"
                                   data="checkoutModel.supportedShippingMethods">
                    </cc-select-box>
                </div>
            </div>

            <div class="cc-message-box--error--iconic" ng-show="displayEmptyShippingMethodsMessage" ng-bind="ln.noShippingMethodsAvailable"></div>

        </section>

        <section class="cc-checkout-section cc-checkout__address--billing">

            <div class="cc-message-box--warning--iconic" ng-show="checkoutModel.surchargeHint" ng-bind="checkoutModel.surchargeHint"></div>

            <h3 bo-text="ln.billingAddress"></h3>

            <form name="billingAddressForm" novalidate>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--optional">{{ln.formCompany}}</p>
                        <input ng-model="checkoutModel.billingAddress.company" class="cc-text-box" type="text" />
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formSalutation}}</p>
                        <cc-select-box
                                name="salutation"
                                ng-model="checkoutModel.billingAddress.salutation"
                                choose-text="ln.choose"
                                property-name="ln.formSalutation"
                                fail-message="ln.invalidInput_Salutation"
                                data="checkoutModel.salutations">
                        </cc-select-box>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formGivenName}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.name" required cc-lazy-validation="parent" name="name" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Firstname}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formSurname}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.surname" required cc-lazy-validation="parent" name="surname" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Lastname}}</span>
                        </span>
                    </div>
                </div>


                <div class="cc-grid__row">
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formStreet}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.street" required cc-lazy-validation="parent" name="street" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Street}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formStreetNumber}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.streetnumber" required cc-lazy-validation="parent" name="streetnumber" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_StreetNumber}}</span>
                        </span>
                    </div>
                </div>

                <div class="cc-grid__row"  ng-if="requiredInputFields['streetextra']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                            <input ng-model="checkoutModel.billingAddress.streetextra" name="streetextra" class="cc-text-box" type="text" />
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formZip}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.zip" required cc-lazy-validation="parent" name="zip" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Zip}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formCity}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.city" required cc-lazy-validation="parent" name="city" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_City}}</span>
                        </span>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formCountry}}</p>
                        <cc-select-box
                                name="country"
                                ng-model="checkoutModel.billingAddress.country"
                                omit-null
                                choose-text="ln.choose"
                                display-value-exp="'label'"
                                data="configService.getSupportedCountries()">
                        </cc-select-box>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formEmail}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input type="email" ng-model="checkoutModel.billingAddress.email" required cc-lazy-validation="parent" name="email" class="cc-text-box" type="email" placeholder="email@example.com"/>
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Email}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <p ng-class="requiredInputFields['phone'] ? 'cc-form-label--required' : 'cc-form-label--optional'">{{ln.formTelephone}}</p>
                        <input ng-model="checkoutModel.billingAddress.phone" cc-lazy-validation="parent" ng-required="requiredInputFields['phone']" name="city" class="cc-text-box" type="tel" placeholder=""/>
                        <span class="cc-validation__message--fail">{{ln.invalidInput_Phone}}</span>
                    </div>
                </div>

                <div class="cc-grid__row" ng-if="requiredInputFields['birthdate']">
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formBirthdate}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.birthday" required="requiredInputFields['birthdate']" cc-lazy-validation="parent" name="birthday" class="cc-text-box" type="text" placeholder="23"/>
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Birthday}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--2-4 cc-form-item">
                        <p class="cc-form-label--optional">&nbsp;</p>
                        <cc-select-box
                            name="birthmonth"
                            ng-model="checkoutModel.billingAddress.birthmonth"
                            omit-null
                            choose-text="ln.choose"
                            display-value-exp="'label'"
                            data="availableBirthmonths">
                        </cc-select-box>
                    </div>
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <p class="cc-form-label--optional">&nbsp;</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.billingAddress.birthyear" required="requiredInputFields['birthdate']" cc-lazy-validation="parent" name="birthyear" class="cc-text-box" type="text" placeholder="1980"/>
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Birthyear}}</span>
                        </span>
                    </div>
                </div>

                <div class="cc-grid__row" ng-if="requiredInputFields['merchantnote']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--optional">{{ln.formMerchantNote}}</p>
                        <input ng-model="checkoutModel.billingAddress.merchantnote" name="merchantnote" class="cc-text-box" type="text" />
                    </div>
                </div>

                <div class="cc-grid__row" ng-if="requiredInputFields['pickuptimeatstore']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--optional">{{ln.formPickupTimeAtShop}}</p>
                        <input ng-model="checkoutModel.billingAddress.pickuptimeatstore" name="pickuptimeatstore" class="cc-text-box" type="text" />
                    </div>
                </div>

            </form>

        </section>

        <section class="cc-checkout-section cc-checkout__address--shipping">

            <h3 bo-text="ln.shippingAddress"></h3>

            <cc-check-box value="checkoutModel.addressEqual" label="ln.sameAsBillingAddress"></cc-check-box>

            <form ng-hide="checkoutModel.addressEqual" name="shippingAddressForm">

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--optional">{{ln.formCompany}}</p>
                        <input ng-model="checkoutModel.shippingAddress.company" class="cc-text-box" type="text" />
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formSalutation}}</p>
                        <cc-select-box
                                name="salutation"
                                ng-model="checkoutModel.shippingAddress.salutation"
                                choose-text="ln.choose"
                                property-name="ln.formSalutation"
                                fail-message="ln.invalidInput_Salutation"
                                data="checkoutModel.salutations">
                        </cc-select-box>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formGivenName}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.shippingAddress.name" required cc-lazy-validation="parent" name="name" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Firstname}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formSurname}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.shippingAddress.surname" required cc-lazy-validation="parent" name="surname" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Lastname}}</span>
                        </span>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formStreet}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.shippingAddress.street" required cc-lazy-validation="parent" name="street" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Street}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formStreetNumber}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.shippingAddress.streetnumber" required cc-lazy-validation="parent" name="streetnumber" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_StreetNumber}}</span>
                        </span>
                    </div>
                </div>

                <div class="cc-grid__row"  ng-if="requiredInputFields['streetextra']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                            <input ng-model="checkoutModel.shippingAddress.streetextra" name="streetextra" class="cc-text-box" type="text" />
                    </div>
                </div>
                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formZip}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.shippingAddress.zip" required cc-lazy-validation="parent" name="zip" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Zip}}</span>
                        </span>
                    </div>
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formCity}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input ng-model="checkoutModel.shippingAddress.city" required cc-lazy-validation="parent" name="city" class="cc-text-box" type="text" />
                            <span class="cc-validation__message--fail">{{ln.invalidInput_City}}</span>
                        </span>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formCountry}}</p>
                        <cc-select-box
                                ng-model="checkoutModel.shippingAddress.country"
                                choose-text="ln.choose"
                                fail-message="ln.invalidInput_Salutation"
                                display-value-exp="'label'"
                                data="configService.getSupportedCountries()">
                        </cc-select-box>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--required">{{ln.formEmail}}</p>
                        <span class="cc-validation">
                            <i class="cc-validation__message--success"></i>
                            <input type="email" ng-model="checkoutModel.shippingAddress.email" required cc-lazy-validation="parent" name="email" class="cc-text-box" type="email" placeholder="email@example.com"/>
                            <span class="cc-validation__message--fail">{{ln.invalidInput_Email}}</span>
                        </span>
                    </div>
                </div>

            </form>
        </section>

        <section class="cc-checkout-section cc-checkout__navigation">
            <div class="cc-message-box--warning" ng-if="!canProceed()" bo-text="ln.checkoutProceedInfo"></div>
            <a ng-click="canProceed() && proceed()" ng-class="canProceed() ? 'cc-checkout-button' : 'cc-checkout-button--disabled'" bo-text="ln.nextStep"></a>
        </section>
    </div>

    <!-- WTF!? why can't we get that to work with ng-show? -->
    <cc-footer ng-if="!isEmpty"></cc-footer>
</div>
