<div cc-scroller-announcer class="cc-scroller--if-fixed cc-view-wrapper" bindonce="ln">

    <div class="cc-checkout__header-block">

        <div class="cc-checkout__up-nav">
            <cc-go-back-button>
                <i class="cc-go-back-button__icon"></i>
                <span class="cc-go-back-button__text" ng-bind="ln.back"></span>
            </cc-go-back-button>
        </div>

        <div class="cc-checkout__header">
            <h1 bo-text="ln.checkout" class="cc-title--huge"></h1>
        </div>

    </div>

    <div class="cc-checkout__wrapper">

        <section class="cc-checkout-section cc-checkout__options">

            <form name="paymentMethodForm" novalidate>
                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <span class="cc-form-label--required" bo-text="ln.paymentMethod"></span>
                        <cc-select-box
                                model="checkoutModel.selectedPaymentMethod"
                                data="checkoutModel.supportedPaymentMethods"
                                choose-text="ln.choose"
                                required="true"
                                property-name="{{ln.paymentMethod}}"
                                display-value-exp="'title'">
                        </cc-select-box>
                    </div>
                </div>
            </form>
            <form name="shippingMethodForm" novalidate ng-hide="displayEmptyShippingMethodsMessage">
                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <span class="cc-form-label--required" bo-text="ln.shippingMethod"></span>
                        <cc-select-box
                                   model="checkoutModel.selectedShippingMethod"
                                   data="checkoutModel.supportedShippingMethods"
                                   required="true"
                                   property-name="{{ln.shippingMethod}}"
                                   display-value-exp="shippingMethodFormatter">
                        </cc-select-box>
                    </div>
                </div>
            </form>

            <div class="cc-message-box--error--iconic" ng-show="displayEmptyShippingMethodsMessage" ng-bind="ln.noShippingMethodsAvailable"></div>

        </section>

        <section class="cc-checkout-section cc-checkout__address--billing">

            <div class="cc-message-box--info--iconic" ng-show="checkoutModel.surchargeHint" ng-bind="checkoutModel.surchargeHint"></div>

            <h3 bo-text="ln.billingAddress"></h3>

            <form name="billingAddressForm" novalidate>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <label for="billing_company" class="cc-form-label--optional" bo-text="ln.formCompany"></label>
                        <input type="text" id="billing_company" name="f_company" class="cc-text-box"
                               ng-model="checkoutModel.billingAddress.company" />
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <span class="cc-form-label--required" bo-text="ln.formSalutation"></span>
                        <cc-select-box
                                model="checkoutModel.billingAddress.salutation"
                                data="checkoutModel.salutations"
                                required="true"
                                choose-text="ln.choose"
                                property-name="f_salutation">
                        </cc-select-box>
                        <span ng-show="billingAddressForm.f_salutation.$dirty && billingAddressForm.f_salutation.$invalid"
                              class="cc-validation__message--fail" bo-text="ln.invalidInput_Salutation">
                        </span>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <label for="billing_given_name" class="cc-form-label--required" bo-text="ln.formGivenName"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.f_first_name.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="billing_given_name" name="f_first_name" class="cc-text-box"
                                   ng-model="checkoutModel.billingAddress.name" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.f_first_name.$dirty && billingAddressForm.f_first_name.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Firstname">
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <label for="billing_last_name" class="cc-form-label--required" bo-text="ln.formSurname"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.f_last_name.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="billing_last_name" name="f_last_name" class="cc-text-box"
                                   ng-model="checkoutModel.billingAddress.surname" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.f_last_name.$dirty && billingAddressForm.f_last_name.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Lastname">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <label for="billing_street" class="cc-form-label--required" bo-text="ln.formStreet"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.f_street.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="billing_street" name="f_street" class="cc-text-box"
                                   ng-model="checkoutModel.billingAddress.street" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.f_street.$dirty && billingAddressForm.f_street.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Street">
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <label for="billing_street_number" class="cc-form-label--required" bo-text="ln.formStreetNumber"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.f_street_number.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="billing_street_number" name="f_street_number" class="cc-text-box"
                                   ng-model="checkoutModel.billingAddress.streetnumber" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.f_street_number.$dirty && billingAddressForm.f_street_number.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_StreetNumber">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row" ng-if="requiredInputFields['streetextra']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <input ng-model="checkoutModel.billingAddress.streetextra" name="streetextra" class="cc-text-box" type="text" />
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <label for="billing_zip" class="cc-form-label--required" bo-text="ln.formZip"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.f_zip.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="billing_zip" name="f_zip" class="cc-text-box"
                                   ng-model="checkoutModel.billingAddress.zip" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.f_zip.$dirty && billingAddressForm.f_zip.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Zip">
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <label for="billing_city" class="cc-form-label--required" bo-text="ln.formCity"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.f_city.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="billing_city" name="f_city" class="cc-text-box"
                                   ng-model="checkoutModel.billingAddress.city" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.f_city.$dirty && billingAddressForm.f_city.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_City">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <span class="cc-form-label--required" bo-text="ln.formCountry"></span>
                        <div class="cc-validation__wrapper">
                            <cc-select-box
                                    model="checkoutModel.billingAddress.country"
                                    data="configService.getSupportedCountries()"
                                    choose-text="ln.choose"
                                    required="true"
                                    property-name="f_country"
                                    display-value-exp="'label'">
                            </cc-select-box>
                            <span ng-show="billingAddressForm.f_country.$dirty && billingAddressForm.f_country.$invalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Country">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <label for="billing_email" class="cc-form-label--required" bo-text="ln.formEmail"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.f_email.ccValid" class="cc-validation__message--success"></i>
                            <input type="email" id="billing_email" name="f_email" class="cc-text-box" placeholder="email@example.com"
                                   ng-model="checkoutModel.billingAddress.email" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.f_email.$dirty && billingAddressForm.f_email.ccInvalid">
                                <span ng-show="billingAddressForm.f_email.$error.required"
                                      class="cc-validation__message--fail" bo-text="ln.invalidInput_Email_required"></span>
                                <span ng-show="billingAddressForm.f_email.$error.email"
                                      class="cc-validation__message--fail" bo-text="ln.invalidInput_Email_pattern"></span>
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <div class="cc-validation__wrapper">
                            <label for="billing_phone" ng-class="requiredInputFields['phone'] ? 'cc-form-label--required' : 'cc-form-label--optional'" bo-text="ln.formTelephone"></label>
                            <input type="tel" id="billing_phone" name="f_phone" class="cc-text-box"
                                   ng-model="checkoutModel.billingAddress.phone" cc-lazy-validation ng-required="requiredInputFields['phone']" />
                            <span ng-show="billingAddressForm.f_phone.$dirty && billingAddressForm.f_phone.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Phone"></span>
                        </div>
                    </div>
                </div>

                <div class="cc-form-item" ng-if="requiredInputFields['birthdate']">
                    <span class="cc-form-label--required" bo-text="ln.formBirthdate"></span>
                    <div class="cc-validation__wrapper">
                        <div class="cc-date__field--small">
                            <label for="billing_birthday" class="cc-hidden" bo-text="ln.formDay"></label>
                            <input ng-model="checkoutModel.billingAddress.birthday" id="billing_birthday"
                                   required cc-lazy-validation
                                   name="f_birthday" class="cc-text-box" ng-pattern="/[0-9]{2}/"
                                   type="text" placeholder="{{ln.formPlaceholderDay}}" />
                        </div>
                        <div class="cc-date__field--small">
                            <label for="billing_birthmonth" class="cc-hidden" bo-text="ln.formMonth"></label>
                            <input ng-model="checkoutModel.billingAddress[field.name + '_month']" id="billing_birthmonth"
                                   required cc-lazy-validation
                                   name="f_birthmonth" class="cc-text-box" ng-pattern="/[0-9]{2}/"
                                   type="text" placeholder="{{ln.formPlaceholderMonth}}" />
                        </div>
                        <div class="cc-date__field--large">
                            <label for="billing_birthyear" class="cc-hidden" bo-text="ln.formYear"></label>
                            <input ng-model="checkoutModel.billingAddress[field.name + '_year']" id="billing_birthyear"
                                   required cc-lazy-validation
                                   name="f_birthyear" class="cc-text-box" ng-pattern="/[0-9]{4}/"
                                   type="text" placeholder="{{ln.formPlaceholderYear}}" />
                        </div>
                        <span ng-show="billingAddressForm.f_birthday.$dirty && billingAddressForm.f_birthday.ccInvalid" class="cc-validation__message--fail" bo-text="ln.invalidInput_Day"></span>
                        <span ng-show="billingAddressForm.f_birthmonth.$dirty && billingAddressForm.f_birthmonth.ccInvalid" class="cc-validation__message--fail" bo-text="ln.invalidInput_Month"></span>
                        <span ng-show="billingAddressForm.f_birthyear.$dirty && billingAddressForm.f_birthyear.ccInvalid" class="cc-validation__message--fail" bo-text="ln.invalidInput_Year"></span>

                    </div>
                </div>

                <div class="cc-grid__row" ng-if="requiredInputFields['merchantnote']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--optional">{{ln.formMerchantNote}}</p>
                        <input ng-model="checkoutModel.billingAddress.merchantnote" name="merchantnote" class="cc-text-box" type="text" />
                    </div>
                </div>

                <div class="cc-grid__row" ng-if="requiredInputFields['pickuptimeatstore']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <p class="cc-form-label--optional">{{ln.formPickupTimeAtShop}}</p>
                        <input ng-model="checkoutModel.billingAddress.pickuptimeatstore" name="pickuptimeatstore" class="cc-text-box" type="text" />
                    </div>
                </div>


                <div class="cc-grid__row" ng-if="requiredInputFields['braintree_creditcard']">
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <label for="braintree_creditcardnumber" class="cc-form-label--required" bo-text="ln.formCreditCardNumber"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="billingAddressForm.bt_ccn.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="braintree_creditcardnumber" name="bt_ccn" class="cc-text-box" placeholder="" maxlength="19"
                                   ng-model="checkoutModel.braintree.creditcardnumber" required cc-lazy-validation cc-credit-card />
                            <span ng-show="billingAddressForm.bt_ccn.$dirty && billingAddressForm.bt_ccn.ccInvalid">
                            <span ng-show="billingAddressForm.bt_ccn.$error.required"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_CreditCardNumber"></span>
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <label for="braintree_creditcardcvc2" class="cc-form-label--required" bo-text="ln.formCreditCardCVC2"></label>
                        <div class="cc-validation__wrapper">
                            <input type="text" id="braintree_creditcardcvc2" name="bt_cccvc2" class="cc-text-box" placeholder="" maxlength="3"
                                   ng-model="checkoutModel.braintree.creditcardcvc2" required cc-lazy-validation />
                            <span ng-show="billingAddressForm.bt_cccvc2.$dirty && billingAddressForm.bt_cccvc2.ccInvalid">
                            <span ng-show="billingAddressForm.bt_cccvc2.$error.required"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_CreditCardCVC2"></span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="cc-grid__row" ng-if="requiredInputFields['braintree_creditcard']">
                     <div class="cc-grid__cell--2-4 cc-form-item">
                         <p class="cc-form-label--required" bo-text="ln.formCreditCardExpirationDate"></p>
                         <div class="cc-validation__wrapper">
                             <cc-select-box
                                 name="bt_ccexpm"
                                 model="checkoutModel.braintree.creditcardexpirationmonth"
                                 class="cc-select-box-on-background"
                                 property-name="ln.formMonth"
                                 required="true"
                                 choose-text="ln.choose"
                                 display-value-exp="'label'"
                                 data="monthList">
                             </cc-select-box>
                            <span ng-show="billingAddressForm.bt_ccexpm.$dirty && billingAddressForm.bt_ccexpm.$invalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Month">
                            </span>
                        </div>
                     </div>
                     <div class="cc-grid__cell--2-4 cc-form-item">
                         <p class="cc-form-label--optional">&nbsp;</p>

                         <div class="cc-validation__wrapper">
                             <cc-select-box
                                 name="bt_ccexpy"
                                 model="checkoutModel.braintree.creditcardexpirationyear"
                                 class="cc-select-box-on-background"
                                 required="true"
                                 property-name="ln.formYear"
                                 choose-text="ln.choose"
                                 display-value-exp="'label'"
                                 data="creditcardExpirationYears">
                             </cc-select-box>
                            <span ng-show="billingAddressForm.bt_ccexpy.$dirty && billingAddressForm.bt_ccexpy.$invalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Year">
                            </span>
                         </div>
 <!--                            <cc-select-box
                                    model="checkoutModel.shippingAddress.country"
                                    data="configService.getSupportedCountries()"
                                    choose-text="ln.choose"
                                    required="true"
                                    property-name="f_country"
                                    display-value-exp="'label'">
                            </cc-select-box> -->
                     </div>
                 </div>


            </form>

        </section>

        <section class="cc-checkout-section cc-checkout__address--shipping">

            <h3 bo-text="ln.shippingAddress"></h3>

            <cc-check-box value="checkoutModel.addressEqual" label="ln.sameAsBillingAddress"></cc-check-box>

            <form ng-hide="checkoutModel.addressEqual" name="shippingAddressForm">

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <label for="shipping_company" class="cc-form-label--optional" bo-text="ln.formCompany"></label>
                        <input type="text" id="shipping_company" name="f_company" class="cc-text-box"
                               ng-model="checkoutModel.shippingAddress.company" />
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <span class="cc-form-label--required" bo-text="ln.formSalutation"></span>
                        <div class="cc-validation__wrapper">
                            <cc-select-box
                                    model="checkoutModel.shippingAddress.salutation"
                                    data="checkoutModel.salutations"
                                    required="true"
                                    choose-text="ln.choose"
                                    property-name="f_salutation">
                            </cc-select-box>
                            <span ng-show="shippingAddressForm.f_salutation.$dirty && shippingAddressForm.f_salutation.$invalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Salutation">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <label for="shipping_given_name" class="cc-form-label--required" bo-text="ln.formGivenName"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="shippingAddressForm.f_first_name.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="shipping_given_name" name="f_first_name" class="cc-text-box"
                                   ng-model="checkoutModel.shippingAddress.name" required cc-lazy-validation />
                            <span ng-show="shippingAddressForm.f_first_name.$dirty && shippingAddressForm.f_first_name.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Firstname">
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--1-2 cc-form-item">
                        <label for="shipping_last_name" class="cc-form-label--required" bo-text="ln.formSurname"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="shippingAddressForm.f_last_name.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="shipping_last_name" name="f_last_name" class="cc-text-box"
                                   ng-model="checkoutModel.shippingAddress.surname" required cc-lazy-validation />
                            <span ng-show="shippingAddressForm.f_last_name.$dirty && shippingAddressForm.f_last_name.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Lastname">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <label for="shipping_street" class="cc-form-label--required" bo-text="ln.formStreet"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="shippingAddressForm.f_street.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="shipping_street" name="f_street" class="cc-text-box"
                                   ng-model="checkoutModel.shippingAddress.street" required cc-lazy-validation />
                            <span ng-show="shippingAddressForm.f_street.$dirty && shippingAddressForm.f_street.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Street">
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <label for="shipping_street_number" class="cc-form-label--required" bo-text="ln.formStreetNumber"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="shippingAddressForm.f_street_number.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="shipping_street_number" name="f_street_number" class="cc-text-box"
                                   ng-model="checkoutModel.shippingAddress.streetnumber" required cc-lazy-validation />
                            <span ng-show="shippingAddressForm.f_street_number.$dirty && shippingAddressForm.f_street_number.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_StreetNumber">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row"  ng-if="requiredInputFields['streetextra']">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                            <input ng-model="checkoutModel.shippingAddress.streetextra" name="streetextra" class="cc-text-box" type="text" />
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-4 cc-form-item">
                        <label for="shipping_zip" class="cc-form-label--required" bo-text="ln.formZip"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="shippingAddressForm.f_zip.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="shipping_zip" name="f_zip" class="cc-text-box"
                                   ng-model="checkoutModel.shippingAddress.zip" required cc-lazy-validation />
                            <span ng-show="shippingAddressForm.f_zip.$dirty && shippingAddressForm.f_zip.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Zip">
                            </span>
                        </div>
                    </div>
                    <div class="cc-grid__cell--3-4 cc-form-item">
                        <label for="shipping_city" class="cc-form-label--required" bo-text="ln.formCity"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="shippingAddressForm.f_city.ccValid" class="cc-validation__message--success"></i>
                            <input type="text" id="shipping_city" name="f_city" class="cc-text-box"
                                   ng-model="checkoutModel.shippingAddress.city" required cc-lazy-validation />
                            <span ng-show="shippingAddressForm.f_city.$dirty && shippingAddressForm.f_city.ccInvalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_City">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <span class="cc-form-label--required" bo-text="ln.formCountry"></span>
                        <div class="cc-validation__wrapper">
                            <cc-select-box
                                    model="checkoutModel.shippingAddress.country"
                                    data="configService.getSupportedCountries()"
                                    choose-text="ln.choose"
                                    required="true"
                                    property-name="f_country"
                                    display-value-exp="'label'">
                            </cc-select-box>
                            <span ng-show="shippingAddressForm.f_country.$dirty && shippingAddressForm.f_country.$invalid"
                                  class="cc-validation__message--fail" bo-text="ln.invalidInput_Country">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cc-grid__row">
                    <div class="cc-grid__cell--1-1 cc-form-item">
                        <label for="shipping_email" class="cc-form-label--required" bo-text="ln.formEmail"></label>
                        <div class="cc-validation__wrapper">
                            <i ng-show="shippingAddressForm.f_email.ccValid" class="cc-validation__message--success"></i>
                            <input type="email" id="shipping_email" name="f_email" class="cc-text-box" placeholder="email@example.com"
                                   ng-model="checkoutModel.shippingAddress.email" required cc-lazy-validation />
                            <span ng-show="shippingAddressForm.f_email.$dirty && shippingAddressForm.f_email.ccInvalid">
                                <span ng-show="shippingAddressForm.f_email.$error.required"
                                      class="cc-validation__message--fail" bo-text="ln.invalidInput_Email_required"></span>
                                <span ng-show="shippingAddressForm.f_email.$error.email"
                                      class="cc-validation__message--fail" bo-text="ln.invalidInput_Email_pattern"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </form>
        </section>

        <section class="cc-checkout-section cc-checkout__navigation">
            <div class="cc-message-box--warning" ng-if="!canProceed()" bo-text="ln.checkoutProceedInfo"></div>
            <a ng-click="canProceed() && proceed()" ng-class="canProceed() ? 'cc-checkout-button' : 'cc-checkout-button--disabled'" bo-text="ln.nextStep"></a>
        </section>
    </div>

    <!-- WTF!? why can't we get that to work with ng-show? -->
    <cc-footer ng-if="!isEmpty"></cc-footer>
</div>
