/**
 * That's for the base styling of the app
 * things that are not generic enough to be put in the sdk 
 * but also do not belong into any specify component
 * 
 */

.cc-primary-margin{
    margin-top: $primary-padding;
}

.cc-content-box{
    font-size: $font-size-medium;
    background: $content-background-color;
    border-radius: 15px;
    border-bottom: 3px solid $content-border-color;
    margin: $primary-padding 0 $primary-padding 0;
}

.cc-content-box--padded{
    @extend .cc-content-box;
    padding: $primary-padding;
}

.cc-content-box--padded--stick-right{
    @extend .cc-content-box--padded;
    padding-right: 0;
}

