/**
 * That's for the base styling of the app
 * things that are not generic enough to be put in the sdk 
 * but also do not belong into any specify component
 * 
 */


.cc-view-phone{
    color: $background-text-color;
}

.cc-content-box{
    font-size: $font-size-medium;
    background: $content-background-color;
    border-radius: 15px;
    border-bottom: 3px solid $content-border-color;
}

.cc-content-box--padded{
    @extend .cc-content-box;
    padding: $primary-padding;
}

.cc-content-box--padded--stick-right{
    @extend .cc-content-box--padded;
    padding-right: 0;
}