.cc-cart-total-panel{
    background: $content-background-color;
    padding: 10px;
    margin: 0 10px 10px 10px;
    border: 1px solid $background-border-color;
    overflow: hidden;
}

.cc-cart-total-panel-text{
    float: left;
    clear: both;
}

.cc-cart-total-panel-figure{
    float: right;
}

.cc-cart-total-line{
    font-size: $font-size-huge;
}