.cc-cart-total-panel{
    background: $content-background-color;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 1px solid $background-border-color;
    overflow: hidden;
}

.cc-cart-total-panel-text{
    float: left;
    clear: both;
}

.cc-cart-total-panel-figure{
    float: right;
}

.cc-cart-total-line{
    font-size: $font-size-huge;
}

.cc-cart-list-row{
    height: 100%;
    min-height: 120px;
}

.cc-cart-list-row-name{
    font-weight: bold;
}

.cc-cart-list-row-single-price{
    padding-bottom: 20px;
}

.cc-cart-list-row-text{
    margin-left: 120px;
    color: $content-text-color;
    font-size: $font-size-regular;
}

.cc-cart-list-row-price{
    position: absolute;
    bottom: 0;
    right: 5px;
    margin-right: 5px;
}

.cc-cart-button{
    padding: 15px;
    border: 1px solid $content-border-color;
    border-radius: 3px;
}

.cc-cart-quantity-selector{
    margin-bottom: 40px;
}

.cc-cart-empty-hint{
    display: table;
}

.cc-cart-empty-hint-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

