<div class="cc-view-wrapper">
    <h1 class="cc-title--huge" ng-bind="ln.shoppingCart"></h1>

    <div ng-show="!isEmpty">

        <div class="cc-content-box--padded">
            <ul class="cc-cart-list">
                <li ng-repeat="item in items" 
                    class="cc-cart-list__row"
                    ng-animate="{ leave: 'fade-out' }">
                    <div 
                        class="cc-cart-list__row-image" 
                        ng-click="navigationService.navigateToProduct(item.product)"
                        style="background-image: url({{ item.product.getImage('small') }})">
                    </div>
                    <div class="cc-cart-list__row-content">
                        <h2 class="cc-title--big">
                            {{item.product.name}}
                        </h2>
                        <div class="">
                            {{ln.listItemPrice}} {{item.product.price | currency}}
                        </div>
                        <div class="cc-cart-list__row-variants">
                            <div ng-repeat="(variantProperty, variantPropertyValue) in item.variant.properties">
                                {{variantProperty}}:{{variantPropertyValue}}
                            </div>
                        </div>
                        <div class="cc-cart-list__row-total">
                            {{item.getTotal() | currency: '€'}}
                        </div>
                        <div>
                            <div class="cc-cart-quantity-selector">
                                <span ng-click="decreaseItem(item)" class="cc-cart-button">-</span>
                                <span>{{item.quantity}}</span>
                                <span ng-click="basketService.increaseOne(item)" class="cc-cart-button">+</span>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
            <!-- is that a candidate for a cc-total-box directive? -->
            <div ng-include="tpl.TOTALBOX"></div>
        </div>

        <a ng-click="navigationService.navigateToCheckout()" class="cc-couch-action-button cc-cart-checkout-button">{{ ln.checkout }}</a>
        
        <a class="cc-primary-margin" ng-click="checkoutWithPayPal()" ng-class="configService.getLocalizedPayPalButtonClass()"></a>

    </div>
    <div class="cc-expand cc-cart-empty-hint" ng-show="isEmpty">
        <div class="cc-cart-empty-hint-content">
            <div class="icon-4x icon-shopping-cart"></div>
            <div>{{ln.cartIsEmpty}}</div>
        </div>
    </div>
    <cca-footer ng-class="{'cc-footer-list--docked': $parent.isEmpty}"></cca-footer>
</div>