.cc-cart-button{
    @extend .cc-couch-default-button-on-content;
    width: 50px;
}

.cc-cart-quantity-selector{
    float: right;
    font-size: $font-size-big;
}

.cc-cart-empty-hint{
    display: table;
}

.cc-cart-empty-hint-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cc-cart-footer{
    position:absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.cc-cart-list {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.cc-cart-list__row {
    display: table-row;
    height: 200px;
    border-bottom: 1px solid $content-border-color;
}

.cc-cart-list__row:last-child{
    border-width: 3px;
}

.cc-cart-list__row-image{
    width: 30%;
    display: table-cell;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cc-cart-list__row-content{
    width: 70%;
    display: table-cell;
    padding: 0 0 $primary-padding $primary-padding;
}

.cc-cart-list__row-total{
    text-align: right;
    font-size: $font-size-big;
}