<div cc-scroller-announcer class="cc-scroller--if-fixed cc-view-wrapper" bindonce="ln">
    <h1 class="cc-title--huge">
        <cc-go-back-button></cc-go-back-button>
        <span bo-text="ln.shoppingCart"></span>
    </h1>
    <div ng-show="!isEmpty">

        <div class="cc-cart__content-box">
            <ul class="cc-cart-list">
                <li ng-repeat="item in items" 
                    class="cc-cart-list__row"
                    ng-animate="{ leave: 'fade-out' }">
                    <div 
                        class="cc-cart-list__row-image" 
                        ng-click="navigationService.navigateToProduct(item.product)"
                        style="background-image: url({{ item.product.getImage('small') }})">
                    </div>
                    <div class="cc-cart-list__row-content">
                        <h2 class="cc-title--big">
                            {{item.product.name}}
                        </h2>
                        <div class="">
                            {{ln.listItemPrice}} {{item.getPrice() | currency}}
                        </div>
                        <div class="cc-cart-list__row-variants">
                            <div ng-repeat="(variantProperty, variantPropertyValue) in item.variant.properties">
                                {{variantProperty}}:{{variantPropertyValue}}
                            </div>
                        </div>
                        <div class="cc-cart-list__row-total">
                            {{item.getTotal() | currency: '€'}}
                        </div>
                        <div>
                            <div class="cc-cart-quantity-selector">
                                <span ng-click="decreaseItem(item)" class="cc-cart-button">-</span>
                                <span>{{item.quantity}}</span>
                                <span ng-click="basketService.increaseOne(item)" class="cc-cart-button">+</span>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
            <!-- is that a candidate for a cc-total-box directive? -->
            <div ng-include="tpl.TOTALBOX"></div>
        </div>

        <a ng-if="cfg.showCheckoutButton" 
           ng-click="navigationService.navigateToCheckout()" 
           class="cc-couch-action-button--stretched cc-cart-checkout-button"
           bo-text="ln.checkout"></a>
        
        <a ng-if="cfg.showPayPalButton" 
           class="cc-primary-margin" 
           ng-click="checkoutWithPayPal()" 
           bo-class="configService.getLocalizedPayPalButtonClass()"></a>

    </div>
    <div class="cc-full-width-height cc-cart-empty-hint" ng-show="isEmpty">
        <div class="cc-cart-empty-hint-content">
            <div class="fa-4x fa fa-shopping-cart"></div>
            <div bo-text="ln.cartIsEmpty"></div>
        </div>
    </div>
    <cca-footer></cca-footer>
</div>