.cc-paypal-overlay {
    padding-top: 2.5rem;

    .cc-paypal-button {
        margin-top: 1.25rem;
        height: 101px;
    }
    // TODO: exclude to loading spinner component
    .cc-loading-spinner {
        margin: 0 auto;
    }
    // TODO: exclude to message component
    .cc-message-box--error {
        margin: 1rem 0;
    }
}

// TODO: exclude to bootstrap modal (where to place? "vendor" folder? under "components", like "sofa"?)
.cc-bootstrap-modal {
    .modal-body {
        height: auto;
        max-height: 100%;
    }
}

.cc-paypal-overlay__close-icon {
    @include fa-icon-type($fa-var-times);

    position: absolute;
    width: 2.5rem;
    line-height: 2.5rem;
    top: .625rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    border-radius: $theme-border-radius--basic;
    background: #333;
}
