.cc-view-wrapper {
    .cc-footer {
        background: $theme-color-dark;
        color: $theme-color-light;
    }
}

.cc-trust-list {
    .cc-trust-list__item {
        background: $theme-color-dark__lighter--10;
        border-color: $theme-color-dark;
        border-radius: $theme-border-radius--basic;
    }
}
