$cc-footer-base__height--wide: 108px; // required for sticky footers to work


.cc-footer {
    background: $color-1;
    color: $color-6;
}

.cc-trust-list {
    .cc-trust-list__item {
        background: lighten($color-1, 10%);
        border-color: $color-1;
        border-radius: $cc-primary-border-radius;
    }
}
