.cc-pages-send-as-mail{
    float: right;
    color: $background-text-color;
}

.cc-pages-send-as-mail:visited{
    color: $background-text-color;
}

.cc-404{
    text-align: center;
}

.cc-404__icon{
    font-size: 50px;
}