<div cc-scroller-announcer class="sofa-view">

    <div class="sofa-sticky-view">

        <div class="sofa-sticky-view__content">
            <cc-inject target="aboveContent"></cc-inject>

            <div ng-if="categoryController.category">

                <div class="sofa-view__header sofa-view__header--category"
                     ng-class="{'sofa-view__header--root': categoryController.category.isRoot}">
                    <div class="sofa-up-nav" ng-if="categoryController.category.parent">
                        <sofa-go-back-control button-text="{{ ln.home }}" category="categoryController.category"></sofa-go-back-control>
                    </div>
                    <div class="sofa-view__title">
                        <h1 class="cc-title--huge">{{::categorycontroller.headline}}</h1>
                    </div>
                </div>

                <div class="sofa-category-grid">
                    <ul class="sofa-category-grid__list">
                        <li ng-repeat="category in categoryController.category.children" class="sofa-category-grid__item">
                            <a ng-href="{{category.getOriginFullUrl()}}"
                               ng-click="categoryController.goToCategory(category, $event)"
                               ng-class="{ 'sofa-highlight--out': categoryController.backStepHighlightService.isHighlighted(category) }"
                               class="sofa-category-item">

                                <div class="sofa-category-item__media-wrapper">
                                    <div class="sofa-category-item__media">
                                        <img class="sofa-category-item__image" cc-src="category.image" cc-src-config="{maxwidth: 300, maxheight: 200}" alt=""/>
                                    </div>
                                </div>
                                <div class="sofa-category-item__info-wrapper">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-if="!categoryController.category" ng-include="tpl.404"></div>
        </div>

        <div class="sofa-sticky-view__footer">
            <cc-inject target="aboveFooter"></cc-inject>
            <cc-footer></cc-footer>
            <cc-inject target="beneathFooter"></cc-inject>
        </div>
    </div>

</div>
