
$slide-duration: 0.4s;
$slide-easing: ease-out;

.slide-in-rtl {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(100%,0,0));
}
 
.slide-in-rtl.slide-in-rtl-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(0%,0,0));
}

.slide-out-rtl {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(0%,0,0));
}
 
.slide-out-rtl.slide-out-rtl-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(-100%,0,0));
}

.slide-in-ltr {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(-100%,0,0));
}
 
.slide-in-ltr.slide-in-ltr-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(0%,0,0));
}

.slide-out-ltr {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(0%,0,0));
}
 
.slide-out-ltr.slide-out-ltr-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(100%,0,0));
}

.slide-in-ttb {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(0,-100%,0));
}
 
.slide-in-ttb.slide-in-ttb-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(0%,0,0));
}

.slide-out-ttb {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(0%,0,0));
}
 
.slide-out-ttb.slide-out-ttb-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(0, 100%,0));
}

.slide-in-btt {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(0,100%,0));
}
 
.slide-in-btt.slide-in-btt-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(0%,0,0));
}

.slide-out-btt {
 @include vendor-prefix('transition', all $slide-duration $slide-easing);
 
 /* The animation preparation code */
 position: absolute;
 @include vendor-prefix('transform',translate3d(0%,0,0));
}
 
.slide-out-btt.slide-out-btt-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(0,-100%,0));
}

.fade-out {
 @include vendor-prefix('transition', opacity 0.5s linear);
 opacity: 1;
}
 
.fade-out.fade-out-active {
 opacity: 0;
}

.fade-in {
 @include vendor-prefix('transition', opacity 0.5s linear);
 opacity: 0;
}
 
.fade-in.fade-in-active {
 opacity: 1;
}
