
.slide-in-rtl {
 @include vendor-prefix('transition', all 0.5s linear);
 /* The animation preparation code */
 position: relative;
 @include vendor-prefix('transform',translate3d(100%,0,0));
}
 
.slide-in-rtl.slide-in-rtl-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(0%,0,0));
}

.slide-out-rtl {
 @include vendor-prefix('transition', all 0.3s linear );
 
 /* The animation preparation code */
 position: relative;
 @include vendor-prefix('transform',translate3d(0%,0,0));
}
 
.slide-out-rtl.slide-out-rtl-active {
 /* The animation code itself */
 @include vendor-prefix('transform',translate3d(-100%,0,0));
}

.fade-out {
 @include vendor-prefix('transition', all 0.5s linear);
 opacity: 1;
}
 
.fade-out.fade-out-active {
 opacity: 0;
}