/* CSS Mobile Reset */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body
{
    font-family: $font1;
    line-height:1.5;
    font-size:16px;
    background: $background-color;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

ul { list-style-type: none; padding: 0; margin: 0}

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }

//some generic helper classes

.cc-unstyled{

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6{ font-weight: normal; font-size: 100%; }

    address, caption, cite, code, dfn, em, strong, th, var {
        font-style: normal;
        font-weight: normal;
    }
}


.cc-full-width-height, %cc-full-width-height{
    width: 100%;
    height: 100%;
    position:relative;
}

.cc-expand-only, %cc-expand-only{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cc-dock-left, %cc-dock-left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.cc-dock-right, %cc-dock-right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.cc-expand{
    @extend %cc-full-width-height;
    @extend %cc-expand-only;
}

%cc-scrollable {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.cc-scrollable{
    @extend %cc-scrollable;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.cc-scrollable-enabled .cc-scrollable {
    @extend %cc-scrollable;
}

.cc-container, %cc-container{
    display: -webkit-box;
}

.cc-body{
    @extend %cc-container;
    overflow: hidden;
    -webkit-box-flex: 1;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.cc-toolbar{
    @extend %cc-container;
    height: 45px;
    width: 100%;
}

.cc-footer{
    height: 45px;
    width: 100%;
    background: #a456a4
}

.cc-docking-vertical{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    min-width: 100%;
    min-height: 100%;
}

.cc-grid-cell, %cc-grid-cell{
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -webkit-box-flex: 1;
}

.cc-grid-row, %cc-grid-row{
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    width: 100%;
}

.cc-grid, %cc-grid{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    height: 100%;
}

.cc-table-cell, %cc-table-cell{
    display: table-cell;
}

.cc-table-cell-bottom-aligned, %cc-table-cell-bottom-aligned{
    @extend %cc-table-cell;
    vertical-align: bottom;
}

.cc-table-row, %cc-table-row{
    display: table-row;
}

.cc-table, %cc-table{
    display: table;
    width: 100%;
    height: 100%;
}
.cc-full-width-height .cc-view-wrapper{
    // some tweaks for less flickering
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    position: absolute;
    width:100%;
}
.cc-view-wrapper{
    padding: 10px;
    height: 100%;
}

.cc-view-phone{
    color: $background-text-color;
}

.cc-view-title{
    font-size: $font-size-big;
    font-weight: bold;
}

.cc-view-content{
    font-size: $font-size-regular;
}

$button-color-normal: lighten($default-button-background-color, 10%);
$button-color-pressed: lighten($default-button-background-color, 20%);

.cc-couch-action-button{

    @include vendor-prefix('border-radius', 5px);
    //using a top and bottom padding is better than setting a fixed height
    //since it keeps the text centered
    padding: 12px;
    border: 2px solid $default-button-background-color;
    font-size: $font-size-medium;
    color: $default-button-text-color;
    text-align: center;
    //This is so that we can use <a> tags as buttons as well
    display: inline-block;
    
    @if lightness($default-button-text-color) > 40 {
        text-shadow: 1px 1px 1px #000000;
    }
    @else {
        text-shadow: 1px 1px 1px #ffffff;
    }

    text-align: center;
    width: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(28%,$button-color-pressed),color-stop(100%,$button-color-normal));
    background-image: -webkit-linear-gradient(bottom,$button-color-pressed 28%,$button-color-normal 100%);
    background-image: linear-gradient(bottom,$button-color-pressed 28%,$button-color-normal 100%);

    &:active{
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(28%,$button-color-normal),color-stop(100%,$button-color-pressed));
        background-image: -webkit-linear-gradient(bottom,$button-color-normal 28%,$button-color-pressed 100%);
        background-image: linear-gradient(bottom,$button-color-normal 28%,$button-color-pressed 100%);
    }
}

//generic seperator lines that magically allways look awesome
//(it could be tweaked for black and white though)
.cc-line-seperator, %cc-line-seperator{
    border-top: 1px solid darken($background-color, 10%);
    border-bottom: 1px solid lighten($background-color, 10%);
}

.cc-padded-line-seperator{
    @extend %cc-line-seperator;
    margin-bottom: 10px;
}
