$button-color-normal: lighten($default-button-background-color, 10%);
$button-color-pressed: lighten($default-button-background-color, 20%);


.cc-button-base, %cc-button-base{
    @include vendor-prefix('border-radius', 15px);
    //using a top and bottom padding is better than setting a fixed height
    //since it keeps the text centered
    padding: 12px;
    text-align: center;
    width: 100%;
    //This is so that we can use <a> tags as buttons as well
    display: inline-block;

    background: none;
}

.cc-button-base--disabled, %cc-button-base--disabled{
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.cc-couch-action-button{
    @extend %cc-button-base;

    border: 1px solid darken($default-button-background-color, 10%);
    color: #FFFFFF;
    background: $default-button-background-color;
    border-bottom: 0;
    //android 2.3 needs blur for box shadow
    -webkit-box-shadow: 0 $border-bottom-width 1px 0 lighten($default-button-background-color, 15%);
    box-shadow: 0 $border-bottom-width 0 0 lighten($default-button-background-color, 15%);

    &:active, &.ng-click-active{
        background: lighten($default-button-background-color, 15%);
        border: 1px solid lighten($default-button-background-color, 5%);
        border-bottom: 0;
        //android 2.3 needs blur for box shadow
        -webkit-box-shadow: 0 $border-bottom-width 1px 0 lighten($default-button-background-color, 30%);
        box-shadow: 0 $border-bottom-width 0 0 lighten($default-button-background-color, 30%);
    }
}

.cc-couch-action-button--disabled{
    @extend %cc-button-base--disabled;
}

.cc-couch-default-button-on-content{
    @extend %cc-button-base;

    border: 1px solid lighten($content-border-color, 20%);
    color: $content-text-color;
    border-bottom: 0;
    //android 2.3 needs blur for box shadow
    -webkit-box-shadow: 0 $border-bottom-width 1px 0 $content-border-color;
    box-shadow: 0 $border-bottom-width 0 0 $content-border-color;

    &:active, &.ng-click-active{
        //android 2.3 needs blur for box shadow
        -webkit-box-shadow: 0 1px 1px 0 $content-border-color;
        box-shadow: 0 1px 0 0 $content-border-color;
    }
}

.cc-couch-default-button-on-content--disabled{
    @extend %cc-button-base--disabled;
}

.cc-couch-default-button-on-background{
    @extend %cc-button-base;

    border: 1px solid lighten($background-border-color, 20%);
    color: $background-text-color;

    border-bottom: 0;
    //android 2.3 needs blur for box shadow
    -webkit-box-shadow: 0 $border-bottom-width 1px 0 $background-border-color;
    box-shadow: 0 $border-bottom-width 0 0 $background-border-color;

    &:active, &.ng-click-active{
        -webkit-box-shadow: 0 1px 1px 0 $background-border-color;
        box-shadow: 0 1px 0 0 $background-border-color;
    }
}

.cc-couch-default-button-on-background--disabled{
    @extend %cc-button-base--disabled;
}

.cc-paypal-button{
    height: 89px;
    width: 100%;
    display: inline-block;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--disabled{
    @extend .cc-button-base--disabled;
}

.cc-paypal-button--de-de{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_de_DE_orange_195x37%402x.png);

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_de_DE_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--de-de--disabled{
    @extend .cc-paypal-button--de-de;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--en-en{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x.png);

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--en-en--disabled{
    @extend .cc-paypal-button--en-en;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--fr-fr{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_fr_FR_orange_195x37%402x.png);

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_fr_FR_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--fr-fr--disabled{
    @extend .cc-paypal-button--fr-fr;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--it-it{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_it_IT_orange_195x37%402x.png);

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_it_IT_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--it-it--disabled{
    @extend .cc-paypal-button--it-it;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--es-es{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_es_ES_orange_195x37%402x.png);

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_es_ES_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--es-es--disabled{
    @extend .cc-paypal-button--es-es;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--pl-pl{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_pl_PL_orange_195x37%402x.png);

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_pl_PL_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--pl-pl--disabled{
    @extend .cc-paypal-button--pl-pl;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--nl-nl{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_nl_NL_orange_195x37%402x.png);

    &:active, &.ng-click-active{
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_nl_NL_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--nl-nl--disabled{
    @extend .cc-paypal-button--nl-nl;
    @extend .cc-paypal-button--disabled
}