$button-color-normal: lighten($default-button-background-color, 10%);
$button-color-pressed: lighten($default-button-background-color, 20%);


.cc-button-base, %cc-button-base{
    @include vendor-prefix('border-radius', 5px);
    //using a top and bottom padding is better than setting a fixed height
    //since it keeps the text centered
    padding: 12px;
    text-align: center;
    width: 100%;
    //This is so that we can use <a> tags as buttons as well
    display: inline-block;
}

.cc-couch-action-button{
    @extend %cc-button-base;

    border: 2px solid $default-button-background-color;
    font-size: $font-size-medium;
    color: $default-button-text-color;
    @if lightness($default-button-text-color) > 40 {
        text-shadow: 1px 1px 1px #000000;
    }
    @else {
        text-shadow: 1px 1px 1px #ffffff;
    }

    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(28%,$button-color-pressed),color-stop(100%,$button-color-normal));
    background-image: -webkit-linear-gradient(bottom,$button-color-pressed 28%,$button-color-normal 100%);
    background-image: linear-gradient(bottom,$button-color-pressed 28%,$button-color-normal 100%);

    &:active, &.ng-click-active{
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(28%,$button-color-normal),color-stop(100%,$button-color-pressed));
        background-image: -webkit-linear-gradient(bottom,$button-color-normal 28%,$button-color-pressed 100%);
        background-image: linear-gradient(bottom,$button-color-normal 28%,$button-color-pressed 100%);
    }
}

$lighter-content-background-color: lighten($content-background-color, 10%);
$darker-content-background-color: darken($content-background-color, 5%);

.cc-couch-default-button-on-content{
    @extend %cc-button-base;

    border: 1px solid $content-border-color;
    color: $content-text-color;

    @if lightness($content-text-color) > 40 {
        text-shadow: 1px 1px 1px #000000;
    }
    @else {
        text-shadow: 1px 1px 1px #ffffff;
    }

    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(28%,$darker-content-background-color),color-stop(100%,$lighter-content-background-color));
    background-image: -webkit-linear-gradient(bottom,$darker-content-background-color 28%,$lighter-content-background-color 100%);
    background-image: linear-gradient(bottom,$darker-content-background-color 28%,$lighter-content-background-color 100%);

    &:active, &.ng-click-active{
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(28%,$lighter-content-background-color),color-stop(100%,$darker-content-background-color));
        background-image: -webkit-linear-gradient(bottom,$lighter-content-background-color 28%,$darker-content-background-color 100%);
        background-image: linear-gradient(bottom,$lighter-content-background-color 28%,$darker-content-background-color 100%);
    }
}