.cc-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 99;
}

.cc-modal--solid{
    @extend .cc-modal;
    opacity: 1;
}