
$cc-text-list__color: #000000;
$cc-text-list__icon-color: #000000;
$cc-text-list__font-size: 16px;
$cc-text-list__background: #ffffff;
$cc-text-list__highlight-icon-color: #ffffff;
$cc-text-list__border-top-width: 0px;
$cc-text-list__border-right-width: 0px;
$cc-text-list__border-bottom-width: 2px;
$cc-text-list__border-left-width: 0px;
$cc-text-list__border-top-left-radius: 0px;
$cc-text-list__border-top-right-radius: 0px;
$cc-text-list__border-bottom-right-radius: 0px;
$cc-text-list__border-bottom-left-radius: 0px;
$cc-text-list__border-color: grey;
$cc-text-list__text-left-margin: 10px;
$cc-text-list__icon-right-margin: 10px;
