$cc-text-box__font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
$cc-text-box__font-size: 14px;
$cc-text-box__color: #000000;
$cc-text-box__background: #ffffff;
$cc-text-box__border-radius: 15px;
$cc-text-box__border-top-width: 2px;
$cc-text-box__border-right-width: 1px;
$cc-text-box__border-bottom-width: 1px;
$cc-text-box__border-left-width: 1px;
$cc-text-box__border-top-color: grey;
$cc-text-box__border-right-color: #ffffff;
$cc-text-box__border-bottom-color: #ffffff;
$cc-text-box__border-left-color: #ffffff;

$cc-text-box--focused__border-top-width: 2px;
$cc-text-box--focused__border-right-width: 1px;
$cc-text-box--focused__border-bottom-width: 1px;
$cc-text-box--focused__border-left-width: 1px;
$cc-text-box--focused__border-top-color: red;
$cc-text-box--focused__border-right-color: red;
$cc-text-box--focused__border-bottom-color: red;
$cc-text-box--focused__border-left-color: red;
