
$cc-text-list---height: 120px;
$cc-text-list__row---border-radius: $primary-border-radius;

.cc-text-list, %cc-text-list{
    margin: 10px 0 10px 0;
    color: $content-text-color;
}

.cc-text-list__row, %cc-text-list__row{
    position: relative;
    background-color: $content-background-color;

    &:first-child{
        border-top-left-radius: $cc-text-list__row---border-radius;
        border-top-right-radius: $cc-text-list__row---border-radius;
    }

    &:last-child{
        border-bottom-left-radius: $cc-text-list__row---border-radius;
        border-bottom-right-radius: $cc-text-list__row---border-radius;
        border-bottom: 0;
        //android 2.3 needs blur for box shadow
        -webkit-box-shadow: 0 $border-bottom-width 1px 0 $content-border-color;
        box-shadow: 0 $border-bottom-width 0 0 $content-border-color;

        .cc-text-list__row-content{
            border-bottom: none;
        }
    }

    &.cc-highlight{ 
        /* Forward */

        [class^="icon-"], [class*=" icon-"] {
            color: $highlight-text-color;
        }
    }


}

.cc-text-list__row-content, %cc-text-list__row-content{
    margin-left: round($primary-padding*1.66);
    border-bottom: 1px solid $content-border-color;
    padding: 13px 0 13px 0;
    font-size: $font-size-big;
}

.cc-text-list__row-icon, %cc-text-list__row-icon{
    position: absolute;
    right: round($primary-padding*.8);
    top: 50%;
    //intentionally! We want the icon to use the same color as the border
    color: $content-border-color;
    margin-top: -.4em;
    font-size: .85em;
}

