//This file is to apply defaults to missing style config values
//So if we upgrade an older version and it's missing a styleconfig value
//because at the time the app was themed it didn't exist that the default
//will be picked from here

//$notification-color: #fcefa1 !default;

//$color-font-cartsummary-box: $color-font !default;

//by default make borders on the background 20% lighter than text
//on the background. Except the text is very light already than make it
//20 % darker

//it also has a safe guard to doesn't crash SASS if it's transparent
$temp-background-border-color: #000000;

    @if $background-text-color == 'transparent'{
        $temp-background-border-color: #000000
    }
    @else if lightness($background-text-color) > 80 {
        $temp-background-border-color:  darken($background-text-color, 20%);
    }
    @else {
        $temp-background-border-color:  lighten($background-text-color, 20%);
    }

$background-border-color: $temp-background-border-color !default;


//use a 10% darker or brighter color for the toolbar border.
//Excepct the toolbar color is transparent, then set the toolbar-background-color
//to transparent as well
$temp-toolbar-border-color: #000000;

    @if $toolbar-background-color == 'transparent'{
        $temp-toolbar-border-color: 'transparent'
    }
    @else if lightness($toolbar-background-color) < 30 {
        $temp-toolbar-border-color:  lighten($toolbar-background-color, 10%);
    }
    @else {
        $temp-toolbar-border-color:  darken($toolbar-background-color, 10%);
    }

$toolbar-border-color: $temp-toolbar-border-color !default;

//by default make borders on the content 20% lighter than text
//on the content. Except the text is very light already than make it
//20 % darker

//it also has a safe guard to doesn't crash SASS if it's transparent
$temp-content-border-color: #000000;

    @if $content-text-color == 'transparent'{
        $temp-content-border-color: #000000
    }
    @else if lightness($content-text-color) > 80 {
        $temp-content-border-color:  darken($content-text-color, 50%);
    }
    @else {
        $temp-content-border-color:  lighten($content-text-color, 50%);
    }

$content-border-color: $temp-content-border-color !default;