input {
    font-family: $font1;
    line-height:1.5;
    font-size:16px;
}

.cc-text-box-on-background .cc-text-box, 
.cc-text-box-on-background.cc-text-box{

    //android 2.3 needs blur for box shadow
    -webkit-box-shadow: inset 0 $border-bottom-width 1px 0 $content-border-color;
    box-shadow: inset 0 $border-bottom-width 0 0 $content-border-color;
    //this might sound strange on first glance. However, it makes
    //perfect sense to give form elements that are placed on the background the content-background-color.
    //that's exactly the purpose of the content-background-color. To style areas that sit on the background.
    //In other words, text boxes and select boxes are are content areas.
    background: $content-background-color;

    border: 2px solid $background-color;
}

$text-box-default-border: #646666;

.cc-text-box{
    color: $content-text-color;
    border: 2px solid transparent;
    width: 100%;
    font-size: $font-size-medium;
    padding: 10px;
    border-radius: $primary-border-radius;
    margin: 5px 0 5px 0;
    outline-color: transparent;
    outline-style: none;
    height: 50px;
    -webkit-user-select: text;
    -webkit-appearance: none;
}

.cc-text-box:focus{
    border: 2px solid rgba($highlight-color, 1);
    -webkit-box-shadow: inset 0 $border-bottom-width 1px 0 rgba($highlight-color, .8);
    box-shadow: inset 0 $border-bottom-width 0 0 rgba($highlight-color, .8);
}

.cc-text-box:disabled{
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.cc-grouped, cc-grouped{
    margin: 5px 0 5px 0;
    //unknown elements don't have that as default
    display: block;
}

.cc-grouped .cc-text-box, cc-grouped .cc-text-box{
    border-radius: 0px;
    margin: 0px;
}

.cc-text-box:first-child{
    border-top-left-radius: $primary-border-radius;
    border-top-right-radius: $primary-border-radius;
}

.cc-text-box:last-child{
    border-bottom-left-radius: $primary-border-radius;
    border-bottom-right-radius: $primary-border-radius;
}

.cc-grouped .cc-text-box + .cc-text-box,
cc-grouped .cc-text-box + .cc-text-box,
.cc-grouped .cc-select-box-select-wrapper + .cc-text-box,
cc-grouped .cc-select-box-select-wrapper + .cc-text-box{
    border-top: none;
}

