.cc-info-box{
    padding: 10px;
    border-radius: 5px;
    background: #ffebb6;
    color: #857a5e;
    border: 1px solid #857a5e;
}

.cc-warning-box {
    padding: 10px;
    border-radius: 5px;
    background: #b03a32;
    color: #fff;
    border: 1px solid #fff;
}

.cc-tooltip {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 16px;
    position: relative;
    display: inline-block;
    &:before {
      width: 0;
      height: 0;
      border-bottom: 20px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: "";
      position: absolute;
      top: -13px;
      left: 10px
    }
}

.cc-tooltip--info {
    @extend .cc-tooltip;
    background: #ffebb6; 

    &:before {
      border-bottom-color: #ffebb6;
    }
}
