.cc-button--pressed {

    margin-bottom: -2px;
    &:active, &.ng-click-active{

        -webkit-box-shadow: 0 1px 1px 0 transparent;
        box-shadow: 0 1px 0 0 transparent;
        margin-top: 0;
    }
}


