.cc-highlight{
    background: $highlight-color;
    color: $highlight-text-color;
}

.cc-highlight--animated{
    -webkit-animation: fade-out 0.6s ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fade-out {
    0% {background: $highlight-color;}
    70% {background: $highlight-color;}
    100% {background: none;}
}

@keyframes fade-out {
    0% {background: $highlight-color;}
    70% {background: $highlight-color;}
    100% {background: none;}
}

.cc-button--pressed {
    &:active, &.ng-click-active{

        -webkit-box-shadow: 0 1px 1px 0 transparent;
        box-shadow: 0 1px 0 0 transparent;

        margin-top: 2px;
        margin-bottom: -2px;
    }
}


