.cc-list-row, %cc-list-row{
    height: 120px;
    position: relative;
    border: 1px solid $background-border-color;
    border-top: 0;
    background-color: $content-background-color;
}

.cc-list-row:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}

.cc-list-row:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cc-list-row:first-child{
    border-top: 1px solid $background-border-color;
}

.cc-list-row-image, %cc-list-row-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -50px;
}

.cc-list-row-text, %cc-list-row-text{
    margin-left: 120px;
    height: 100%;
    display: table;
}

.cc-list-row-text-centered{
    display: table-cell;
    vertical-align: middle;
}