/*
    Consider this file a styleconfig.scss for us developers. It's not editable
    by CouchCommerce customers but it helps us to keep our SASS DRY.

    It may also act as an playground for variables that we may want to
    expose on the public styleconfig.scss if they have profen useful.
*/

//this should always be dividable by 2.
$primary-padding: 16px;

$cc-header---height: 54px;

$primary-border-radius: 15px;

$border-bottom-width: 3px;