// START Configuration **********************************************************************************************
$toolbar-background-color: #D34F65;
//applies to icons on the toolbar
$toolbar-icon-color: #ffffff; //#d1828c;
//applies to text on the toolbar
$toolbar-text-color: #ffffff;

$toolbar-border-color: #a94052;

$footer-background-color: #BFD5CB;
//applies to icons on the footer
$footer-icon-color: #7D8685;
//applies to text on the footer
$footer-text-color: #5F5B65;
//applies to border on the footer
$footer-border-color: #7D8685;


$background-color: #ECE5DF;
//applies to icons on the background (if any)
$background-icon-color: #7F7F7F;
//applies to text on the background
$background-text-color: #666666;
//OPTIONAL $background-border-color that applies to borders on the background
$background-border-color: #ABA1A2 ;


$content-background-color: #ffffff;
//applies to icons on the content area
$content-icon-color: #ADA8A1;
//applies to text on the content area
$content-text-color:  #635B67;

//this is optional (we automatically try to pick a nice color)
$content-border-color: #ADA8A1;


//applies to default buttons
$default-button-background-color: #49404F;
// applies to text on default buttons
$default-button-text-color: #ffffff;


//applies to buttons that are somewhat positive (e.g. add, ok)
$positive-button-background-color: #c7e76c;
//applies to text on buttons that are somewhat positive
$positive-button-text-color: #F1FFD6;


//applies to buttons that are somewhat negative (e.g. remove, cancel)
$negative-button-background-color: #C94A27;
//applies to text on buttons that are somewhat negative
$negative-button-text-color: #ffe0cb;


//applies to info areas
$info-area-background-color: #ffebb6;
//applies to icons on info areas
$info-area-icon-color: #857a5e;
//applies to text on info areas
$info-area-text-color: #857a5e;


//applies to warning areas
$warning-background-color: #b03a32;
//applies to icons on warning areas
$warning-icon-color: #ffffff;
//applies to text on warning areas
$warning-text-color: #ffffff;

$highlight-color: #E18073;

$highlight-text-color: #ffffff;

$font1: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;

$font-size-huge: 26px;

$font-size-big: 20px;

$font-size-medium: 16px;

$font-size-regular: 13px;

$font-size-small: 12px;

$font-size-tiny: 11px;

$logo-small: url(../images/logo_small.png);
$logo-medium: url(../images/logo_medium.png);
$logo-big: url(../images/logo_big.png);