.cc-table-cell, %cc-table-cell{
    display: table-cell;
    vertical-align: middle;
}

.cc-table-cell--bottom-aligned, %cc-table-cell--bottom-aligned{
    @extend %cc-table-cell;
    vertical-align: bottom;
}

.cc-table-cell--top-aligned, %cc-table-cell--top-aligned{
    @extend %cc-table-cell;
    vertical-align: top;
}

.cc-table-row, %cc-table-row{
    display: table-row;
}

.cc-table, %cc-table{
    display: table;
    width: 100%;
    height: 100%;
}