
.cc-wishlist-list {
    .cc-wishlist-list__item-image {
        width:50px;
        height:50px;
        background-color: #fff;
        border:0;
        margin:0 10px 0 0;
    }
}
.cc-wishlist-list__item {
    background-color: rgba(255,255,255,.9);
    overflow: hidden;
    border-top: 1px solid #ccc;
    clear:both;
}
.cc-wishlist-list__item:first-child {
    border-top:0;
}


// Required for padding AND smooth animation. The web is the platform...
.cc-wishlist-list-item__wrapper {
    padding: 5px;

    &:after {
        @extend %cc-clearfix;
    }
}

.cc-wishlist-list__item.ng-leave {
    @include fade-out-and-shrink(150px);
}
.cc-wishlist-list__item.ng-leave.ng-leave-active {
    @extend %fade-out-and-shrink--active;
}

.cc-wishlist-list__item-image {
    @extend .cc-cart-list__item-image;
}

.cc-wishlist-list__item-content {
    color:#333;
    font-size: 14px;
}

.cc-wishlist-list__item-title {
    display:block;
    font-weight: 400;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cc-wishlist .cc-price__price {
    padding: 0;
}
.cc-wishlist-button--remove {
    @extend .cc-cart-button--decrease;
    float:right;
}