<div class="sofa-wishlist" bindonce="ln">

    <p class="sofa-wishlist__empty-hint" bo-text="ln.wishlistEmpty" ng-show="isEmpty"></p>

    <div ng-if="showFirstUseInfo" class="sofa-wishlist__first-use-hint" bo-html="ln.wishlistFirstUse"></div>

    <sofa-editable-list
            ng-show="!isEmpty"
            repeater="(key,item) in wishlist"
            on-remove="removeItem">
        <div class="sofa-wishlist__item" ng-click="navigateToProduct(item.product)">
            <img class="sofa-wishlist__item-image" cc-src="item.product.getImage('large')" cc-src-config="{maxwidth: 64, maxheight: 64, forceDimensions: true}" alt=""/>
            <div class="sofa-wishlist__item-content">
                <strong class="sofa-wishlist__item-title" ng-bind="item.product.name"></strong>
                <span class="sofa-wishlist__item-price">
                    <cc-price product="item.product" selected-variant="item.variant"></cc-price>
                </span>
            </div>
        </div>
    </sofa-editable-list>

</div>
