.cc-product-view-image-wrapper{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-color: $cc-product-view__image-background-color;
    border-radius: $cc-product-view__image-border-radius;
    background-size: contain;
    background-position: center center;

    position: relative;
}
.cc-product-view-image{
    position: relative;
    z-index: 500;
    visibility: hidden;
}

.cc-product-view-image-convert-to-div{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $cc-product-view__image-background-color;
}

.cc-product-view-image-mask-view-fix {
    -webkit-backface-visibility: visible !important;
    -webkit-transform-style: flat !important;
    -webkit-overflow-scrolling: initial !important;
}

.cc-product-view-image-mask-app-fix {
    -webkit-overflow-scrolling: initial !important;
}

.cc-product-view-image--expanded{
    @extend .cc-product-view-image;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $cc-product-view__image-background-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    opacity: 0;
    -webkit-transition: 0.5s opacity ease-out;
}

.cc-product-view-image--expanded--visible{
    @extend .cc-product-view-image--expanded;
    opacity: 1;
}

.cc-product-view-image-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1200;
    background-color: $cc-product-view__image-background-color;
    opacity: 0.0;
    pointer-events: none;
}

.cc-zippy-icon{
    font-size: 24px;
    margin-top: -12px;
    right: 10px;
    //intentionally! We want to keep the fine line and the icon
    //to be the same color
    color: $cc-product-view__zippy-icon-color;
}


.cc-product-view__content-box{
    @extend .cc-content-box--padded--stick-right;
    color: $cc-product-view__content-box-color;
}

.cc-view-product{
    .cc-zippy-caption{
        margin: 5px 0 5px 0;
        border-bottom: 1px solid $cc-product-view__zippy-border-color;
        //TODO: Look into eliminating !important here
        padding: 15px 0 15px 0;
        font-size: $cc-product-view__zippy-caption-font-size;
    }

    .cc-zippy-content{
        padding-right: 25px;;
    }
}

td.cc-product-view-attributes-row-key{
    padding-right: 10px;
    font-weight: bold;
}
