<div class="cc-product-buy-box" bindonce="ln">
    <div class="cc-product-buy-box__price">
        {{ price | currency }}
    </div>
    <a 
        ng-click="addToBasket(product)"
        ng-if="!product.isOutOfStock()"
        class="cc-product-buy-box__add-to-cart"
        bo-text="ln.addToCart">
    </a>
    <span 
        ng-if="product.isOutOfStock()" 
        class="cc-product-buy-box__sold-out"
        bo-text="ln.soldOut"> 
    </span>
    <div class="cc-product-buy-box__info">
        <div class="cc-product-buy-box__info-left">
            <span ng-bind="productTaxText"></span>
            <div ng-if="cfg.shippingCost !== null"> {{shippingCosts}}</div>
            <div ng-if="cfg.shippingCost === null">
                <a class="cc-link" ng-click="navigationService.navigateToShippingCostsPage()">{{ln.shippingCostsGeneric}}</a>
            </div>
            <div>{{product.getBasePriceInfo()}}</div> 
        </div>
        <div class="cc-product-buy-box__info-right">
            {{ product.delivery }}
        </div>
    </div>
</div>
