<div cc-scroller-announcer class="cc-scroller--if-fixed cc-view-wrapper">
    <div rn-carousel-infinite rn-carousel-current="product" rn-carousel-prev="getPrevProduct(item)" rn-carousel-next="getNextProduct(item)">
        <cc-inject target="aboveContent"></cc-inject>

        <div bindonce="product" ng-if="product">
            <h1 class="cc-title--huge" bo-text="product.name"></h1>
            
            <cc-inject target="beneathTitle"></cc-inject>

            <div class="cc-product-view-image-wrapper">
                <img cc-image-zoom image="selectedImage.url" class="cc-product-view-image">
             </div>

            <cc-thumbnail-bar
                ng-show="$parent.images.length > 1"
                class="cc-thumbnail-bar-on-background"
                images="product.getAllImages()"
                on-change="onThumbnailSelected(product, image)"
                >
            </cc-thumbnail-bar>

            <cc-variant-selector
                class="cc-variant-selector-on-background "
                choose-text="ln.choose"
                variants="product.variants"
                variant="variants.selectedVariant"
                selected-properties="variants.selectedProperties">
            </cc-variant-selector>

            <div ng-include="tpl.PRODUCT_BUY_BOX"></div>

            <div class="cc-content-box--padded--stick-right cc-on-content cc-unstyled">

                <cc-zippy caption="ln.productDetails" init-opened="true">
                    <div ng-bind-html="$sce.trustAsHtml(product.description)"></div>
                </cc-zippy>

                <cc-zippy caption="ln.productSpecifications">
                    <table class="cc-product-view-attributes">
                        <tr class="cc-product-view-attributes-row" ng-repeat="(key, value) in product.attributes track by key">
                            <td class="cc-product-view-attributes-row-key">{{key}}</td>
                            <td class="cc-product-view-attributes-row-value">{{value}}</td>
                        </tr>
                    </table>
                </cc-zippy>

            </div>
        </div>

        <div ng-if="!product" ng-include="tpl.404"></div>

        <cc-inject target="aboveFooter"></cc-inject>
        <cca-footer></cca-footer>
        <cc-inject target="beneathFooter"></cc-inject>
    </div>
</div>

