.cc-product-buy-box{
    margin: 10px 0 10px 0;
}

.cc-product-buy-box__info{
    padding-top: $primary-padding;
    font-size: $font-size-small;
    display: inline-block;
    width: 100%;
}

.cc-product-buy-box-price-wrapper {
    float:left;
}

.cc-product-buy-box__price{
    font-size: $font-size-huge;
}

.cc-product-buy-box__price-old{
    margin-left: 20px;
    font-size: $font-size-big;
    text-decoration:line-through;
}

@media only screen and (min-width: 500px) {
    .cc-product-buy-box__price{
        float: left;
    }
    .cc-product-buy-box__price-old{
        float: left;
    }
}

.cc-product-buy-box__add-to-cart{
    @extend .cc-couch-action-button;
    float: right;
}

.cc-product-buy-box__sold-out{
    @extend %cc-button-base;
    float: right;
    background: $warning-background-color;
    color: $warning-text-color;
}

.cc-product-buy-box__info-left{
    float: left;
}

.cc-product-buy-box__info-right{
    float: right;
}
