<div class="cc-product-buy-box">
    <div class="cc-product-buy-box__price">
        {{ price | currency }}
    </div>
    <a 
        ng-click="addToBasket(product)" 
        class="cc-product-buy-box__add-to-cart">{{ln.addToCart}}
    </a>

    <div class="cc-product-buy-box__info">
        <div class="cc-product-buy-box__info-left" ng-bind="productTaxText"></div>
        <div class="cc-product-buy-box__info-right">
            <div ng-if="cfg.shippingCost !== null"> {{shippingCosts}}</div>
            <div ng-if="cfg.shippingCost === null">
                <a class="cc-link" ng-click="navigationService.navigateToShippingCostsPage()">{{ln.shippingCostsGeneric}}</a>
            </div>    
            <div>{{product.getBasePriceInfo()}}<div>
        </div>
    </div>
</div>
