.cc-product-buy-box{
    margin: 10px 0 10px 0;
}

.cc-product-buy-box__info{
    padding-top: $primary-padding;
    font-size: $font-size-small;
    display: inline-block;
    width: 100%;
}

.cc-product-buy-box__price{
    float: left;
    font-size: $font-size-huge;
}

.cc-product-buy-box__add-to-cart{
    @extend .cc-couch-action-button;
    float: right;
}

.cc-product-buy-box__info-left{
    float: left;
}

.cc-product-buy-box__info-right{
    float: right;
}
