/* CSS Mobile Reset */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

html, body, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    border: 0;
}

table {
    width:auto;
    border-collapse: collapse;
    border-spacing: 0;
}
