
// TODO: clean up
.modern-flexbox {

    .sofa-view--product.sofa-view--tablet {
        display: flex;

        .sofa-product {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    .sofa-product {

        .sofa-view__header {
            display: flex;
            flex-direction: row;
            flex: auto 0 0;
        }

        .sofa-product__content-block {
            display: flex;
            flex: 1;
        }

        .sofa-scroll-area {
            overflow-y: auto;
        }

        .sofa-product__content-box {
            padding:0;
        }
    }
}

@include breakpoint(wide) {
    .no-modern-flexbox {

        .sofa-product {
            height:100%;

            .sofa-product__content-block {
                height:100%;
                position: relative;
                overflow:hidden;
            }

            .sofa-product__image-block {
                position: absolute;
                height:100%;
                width:50%;
                left:0;
            }

            .sofa-product__info-block {
                position: absolute;
                height:100%;
                width:50%;
                right:0;
                overflow-y: scroll;
            }
        }
    }

    .modern-flexbox {
        .sofa-product__image-block {
            position: relative;
            margin:0;
        }
    }
}

@include breakpoint(wide-cap) {

    .modern-flexbox {
        .sofa-product__content-block {
            flex-direction: column;

            .sofa-product__image-block {
                display: flex;
                flex-direction: row;
                flex: 1;
            }

            .sofa-product__info-block {
                display: flex;
                flex-direction: row;
                flex: 1;
            }

            .sofa-product__primary-info {
                order: 2;
                flex: 1;
            }

            .sofa-product__content-box {
                order: 2;
                flex: 1;
            }
        }
    }
}

@include breakpoint(extra-wide) {

    // Fallback
    .no-modern-flexbox {
        .sofa-view--tablet {
            .sofa-product {
                .sofa-product__image-block {
                    width:62%;
                }

                .sofa-product__info-block {
                    width:38%;
                }
            }
        }
    }

    // And for the flexbox
    .modern-flexbox {
        .sofa-product__content-block {

            flex-direction: row;

            .sofa-product__image-block {
                display: flex;
                flex-direction: column;
                flex: 0 0 62%;
                width:62%;
            }

            .sofa-product__info-block {
                display: flex;
                flex-direction: column;
                flex: 0 0 38%;
                width:38%;
            }

            .sofa-product__content-box {
                flex: 1;
            }
        }
    }
}

.modern-flexbox {
    .sofa-view--product.sofa-view--tablet {
        .sofa-touch-slider-wrapper {
            @extend %sofa-dock-all;

            display: flex;
            flex-direction: column;
            margin: 0;
        }
        .sofa-touch-slider-mask {
            flex: 1;
        }
    }
}

.sofa-full-page-view {
    .sofa-touch-slider-indicator {
        position: absolute;
        width:100%;
    }
}
