.sofa-product-view-image-wrapper {
    padding: 10px;
    position: relative;
    background-color: #fff;

    .sofa-full-page-view__content & {
        padding: 0;
    }
}

.sofa-product-view-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

@include breakpoint(narrow) {
    .sofa-product-view-image-wrapper {
        height: 200px;
        box-sizing: content-box;
    }
}

.sofa-product__image-slider {

    .sofa-full-page-view & {
        border: 0;
    }

    &:before,
    &:after {
        width: .5rem;
        border-color: #ccc;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.sofa-product-information {
    padding: 1rem .625rem;
}

.sofa-product-information__block {
    & + & {
        margin-top: 1rem;
    }
}
