.sofa-search-box {
    @extend .sofa-app-header;
    @extend %sofa-dock-top;

    transform: translateY(0);
    transition: .2s ease-in-out;
}

.sofa-search-box--closed {
    transform: translateY(-100%);
    box-shadow: none;
}

.sofa-search-box__close {
    @extend .sofa-app-header__button;
    @include fa-icon-type($fa-var-times);

    float: right;
}

.sofa-search-result-empty {
    background: $theme-color-light;
    color: $theme-color-light__darker--33;
    padding: .625rem;
    text-align: center;
}

.sofa-search-box__input-wrapper {
    margin-right: 3rem;

    .sofa-search-field {
        width: 100%;
    }

    .sofa-search-field__input {
        border-color: transparent;

        &:focus {
            border-color: transparent;
        }
    }
}

.sofa-search-field__icon--label,
.sofa-search-field__icon--clear {
    color: $theme-color-dark__lighter--50;
}
