// for low contrast color sets we want to add some borders to some of our
// components.
@if $background-color == $content-background-color{
    $cc-content-box__border-left-width: 1px;
    $cc-content-box__border-right-width: 1px;
    $cc-content-box__border-top-width: 1px;

    $cc-text-list__border-left-width: 1px;
    $cc-text-list__border-right-width: 1px;
    $cc-text-list__border-top-width: 1px;

    $cc-category-grid__border-top-width: 1px;
    $cc-category-grid__border-right-width: 1px;
    $cc-category-grid__border-left-width: 1px;

    $cc-product-grid__border-top-width: 1px;
    $cc-product-grid__border-right-width: 1px;
    $cc-product-grid__border-left-width: 1px;

    $cc-select-box__border-left-width: 1px;
    $cc-select-box__border-right-width: 1px;
    $cc-select-box__border-top-width: 1px;
    
    $cc-text-box__border-left-color: $cc-text-box__border-top-color;
    $cc-text-box__border-right-color: $cc-text-box__border-top-color;
    $cc-text-box__border-bottom-color: $cc-text-box__border-top-color;
}

$cc-line-seperator__base-color: $background-color;