$cc-view-wrapper__padding: $primary-padding;
//this should be smarter so that it works also if $cc-header-base__height is not defined (composability!)
$cc-view-wrapper__fixed-header-top-padding: $cc-header-base__height;
$cc-view-wrapper__color: $background-text-color;