<div ng-show="vm.page === vm.SUMMARY_PAGE" bindonce="ln" class="cc-scroller--if-fixed cc-view-wrapper">

    <div class="cc-checkout__header-block">

        <div class="cc-checkout__up-nav">
            <cc-go-back-button>
                <i class="cc-go-back-button__icon"></i>
                <span class="cc-go-back-button__text" ng-bind="ln.back"></span>
            </cc-go-back-button>
        </div>

        <div class="cc-checkout__header">
            <h1 bo-text="ln.summary" class="cc-title--huge"></h1>
        </div>

    </div>

    <div class="cc-checkout__wrapper">

        <section class="cc-summary__info">
            <div class="cc-grid__row">
                <div class="cc-grid__cell--1-2">
                    <h2 class="cc-title--big">{{ln.billingAddress}}</h2>
                    <cc-address class="cc-summary__info-data" data="vm.invoiceAddress"></cc-address>
                </div>
                <div class="cc-grid__cell--1-2">
                    <h2 class="cc-title--big">{{ln.shippingAddress}}</h2>
                    <cc-address class="cc-summary__info-data" data="vm.shippingAddress"></cc-address>
                </div>
            </div>
            <div class="cc-grid__row">
                <div class="cc-grid__cell--1-2">
                    <h2 class="cc-title--big">{{ln.paymentMethod}}</h2>
                    <div class="cc-summary__info-data">{{vm.paymentMethod}}</div>
                </div>
                <div class="cc-grid__cell--1-2">
                    <h2 class="cc-title--big">{{ln.shippingMethod}}</h2>
                    <div class="cc-summary__info-data">{{vm.shippingMethod}}</div>
                </div>
            </div>
        </section>

        <section class="cc-summary__cart">
            <!-- This borrows some classes from the cart. I think the real problem is the
            seperation of cart, summary and thankyou page. This should all live in one directory
            called "checkout" or something like that. Then the styles could be named
            cc-checkout-list and be used across both screens. No? -->
            <ul class="cc-cart-list">
                <li ng-repeat="item in vm.items" class="cc-cart-list__item">
                    <div class="cc-cart-list__item-image"
                         style="background-image: url({{ item.imageURL }})">
                    </div>
                    <div class="cc-cart-list__item-content">
                        <strong class="cc-cart-list__item-title">{{item.name}}</strong>
                        <!-- TODO: make variant data available -->
                    </div>
                    <div class="cc-cart-list__item-footer">

                        <!-- TODO: make special price available -->
                        <span class="cc-cart__item-price">
                            {{item.qty}} &times;
                            <cc-price product="item"></cc-price>
                        </span>

                        <span class="cc-cart__item-price--total">
                            {{item.subtotal | currency}}
                        </span>

                    </div>

                </li>
            </ul>
            <!-- is that a candidate for a cc-total-box directive? -->
            <div ng-include="tpl.TOTALBOX"></div>
        </section>

        <section class="cc-summary__agreements">
            <!-- For some reason, ng-show's not working here. However, ng-if is fine, too -->
            <cc-check-box
                    ng-if="vm.showGeneralAgreement"
                    class="cc-check-box-on-background"
                    value="vm.generalAgreement" agreement="ln.combinedAgreement">
            </cc-check-box>

            <!-- For some reason, ng-show's not working here. However, ng-if is fine, too -->
            <cc-check-box
                    ng-if="vm.showAgeAgreement"
                    class="cc-check-box-on-background"
                    value="vm.ageAgreement"
                    label="ln.ageAgreement">
            </cc-check-box>

            <div class="cc-summary__finish-wrapper">
                <a  ng-click="acceptedAgreements() && proceed()"
                    ng-disabled="!acceptedAgreements()"
                    ng-class="acceptedAgreements() ? 'cc-couch-action-button--stretched' : 'cc-couch-action-button--disabled--stretched'"
                        >{{ ln.buyButton }}
                </a>
            </div>

        </section>

    </div>

    <cc-footer></cc-footer>
</div>
