
%theme-checkout-section {
    max-width:600px;
    margin: 0 auto .875rem;
    padding:.5rem .625rem .75rem;
}

.cc-checkout-section,
.cc-checkout-section--customer-login {
    @extend %theme-checkout-section;
}
.cc-checkout-section--customer-login {
    padding: 0;
}
.cc-checkout__navigation {

    .cc-message-box--warning {
        margin-bottom: .875rem;
    }
}

.cc-checkout-button {
    @extend %theme-button--primary;
    @extend %theme-button--block;
}
.cc-checkout-button--disabled {
    @extend .cc-checkout-button;
    @extend %theme-button--disabled;
}

.cc-checkout-button--guest-checkout {
    @extend %theme-button--primary;
}

@mixin checkout-section--wide {
    @include breakpoint(wide) {
        padding: .75rem .625rem 1.5rem;
        border-radius:$theme-border-radius--basic;
        background: rgba(0,0,0,.05);
    }
}
%checkout-section--wide {
    @include checkout-section--wide;
}

.cc-checkout__wrapper {
    background: $theme-color-light__darker--05;
    padding: 0 0 .625rem;

    .cc-customer-login {
        padding:.5rem .625rem .75rem;
        background: rgba(0,0,0,.05);
    }

    .cc-customer-account-intro {
        background: rgba(0,0,0,.05);
    }
}

.cc-checkout__up-nav {
    @extend %up-nav--generic;
    @extend %up-nav--narrow;
}

.cc-checkout__header {
    @extend %main-headline--generic;
}

@include breakpoint(wide) {

    .cc-checkout__wrapper {
        padding: .625rem 0;
    }
    .cc-checkout-section {
        @extend %checkout-section--wide;
    }
    .cc-checkout-section--customer-login {
        @extend %checkout-section--wide;

        padding: 0;
    }
    .cc-checkout__navigation {

        text-align: right;

        .cc-checkout-button,
        .cc-checkout-button--disabled {
            display: inline-block;
            width: 50%;
        }

        .cc-message-box--warning {
            text-align: left;
        }
    }

    .cc-checkout__header-block {
        @include flexbox;
    }
    .cc-checkout__up-nav {
        @include flex(auto, 0, 0);
    }
    .cc-checkout__header {
        @include flex(1);

        .cc-title--huge {
            line-height: 2.75rem;
        }

    }

    .cc-checkout__up-nav {
        @extend %up-nav--wide;

        .cc-go-back-button {
            @extend %go-up-control--wide;
        }
        .cc-go-back-button__icon {
            @extend %go-up-control__icon--wide;
        }
        .cc-go-back-button__text {
            @extend %go-up-control__text--wide;
        }

    }

}
