$cc-category-grid__box-background: hsla($color-6-h, $color-6-s, $color-6-l, 1);
$cc-category-grid__space-between-boxes: $cc-primary-padding;
$cc-category-grid__box-font-size: $cc-font-size-big;
$cc-category-grid__border-top-width: 0px;
$cc-category-grid__border-right-width: 0px;
$cc-category-grid__border-bottom-width: $cc-border-bottom-width;
$cc-category-grid__border-left-width: 0px;
$cc-category-grid__border-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.22);
$cc-category-grid__border-radius: $cc-primary-border-radius;
$cc-category-grid__category-label-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.8);;