$cc-category-grid__box-background: $content-background-color;
$cc-category-grid__space-between-boxes: $primary-padding;
$cc-category-grid__box-font-size: $font-size-big;
$cc-category-grid__border-top-width: 0px;
$cc-category-grid__border-right-width: 0px;
$cc-category-grid__border-bottom-width: $border-bottom-width;
$cc-category-grid__border-left-width: 0px;
$cc-category-grid__border-color: $content-border-color;
$cc-category-grid__border-radius: $primary-border-radius;
$cc-category-grid__category-label-color: $content-text-color;