.cc-validation{
    position: relative;
}

.cc-validation__message--success{
    display: none;
    position: absolute;
    right: 5px;
    //set line-height to the height of the text-box
    line-height: 50px;
    color: $cc-validation__success-message-color;
}

.cc-validation__message--fail{
    display: none;
    background: $cc-validation__warning-message-background-color;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    color: $cc-validation__warning-message-color;
}

.cc-validation__message--fail:before{
    width: 0;
    height: 0;
    border-bottom: 20px solid $cc-validation__warning-message-background-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    top: -10px;
    left: 10px
}

.cc-valid >{
    .cc-validation__message--success{
        display: inline-block;
    }
}

.cc-invalid >{
    .cc-validation__message--fail{
        display: inline-block;
    }
}

//This deals with all different forms of how validations can mess up the grouping :)
.cc-grouped .cc-validation + .cc-text-box,
cc-grouped .cc-validation + .cc-text-box,
.cc-grouped .cc-validation + .cc-validation .cc-text-box,
cc-grouped .cc-validation + .cc-validation .cc-text-box,
.cc-grouped .cc-text-box + .cc-validation .cc-text-box,
cc-grouped .cc-text-box + .cc-validation .cc-text-box,
.cc-grouped .cc-select-box-select-wrapper + .cc-validation .cc-text-box,
cc-grouped .cc-select-box-select-wrapper + .cc-validation .cc-text-box,
.cc-grouped .cc-validation + .cc-select-box-select-wrapper,
cc-grouped .cc-validation + .cc-select-box-select-wrapper
{
    border-top: none;
}

.cc-grouped .cc-validation .cc-text-box:last-child,
cc-grouped .cc-validation .cc-text-box:last-child{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
}

