
// Generic CC button classes
%theme-button--base {
    @extend %sofa-button--base;

    border-radius: $theme-border-radius--basic;
    color: $theme-color-dark;
    background: $theme-color-light;
    box-shadow: 0 $theme-box-shadow-width 0 $theme-color-light__shaded--30;

    &:active,
    &.ng-click-active {
        background: $theme-color-light__darker--05;
    }
}

%theme-button--primary {
    @extend %sofa-button--base;

    border-radius: $theme-border-radius--basic;
    color: $theme-color-light;
    background: $theme-color-accent;
    box-shadow: 0 $theme-box-shadow-width 0 $theme-color-accent__darker--20;

    &:active,
    &.ng-click-active {
        background: $theme-color-accent__darker--10;
    }
}

%theme-button--block {
    @extend %sofa-button--block;
}

%theme-button--disabled {
    @extend %sofa-button--disabled;
}

%theme-button--primary--disabled {
    @extend %theme-button--disabled;

    background: $theme-color-accent__saturated--33;
}

// PayPal Buttons...

.cc-paypal-button {
    height: 46px;
    display: block;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--disabled {
    @extend %theme-button--disabled;
}

.cc-paypal-button--de-de {
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_de_DE_orange_195x37%402x.png);

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_de_DE_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--de-de--disabled {
    @extend .cc-paypal-button--de-de;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--en-gb,
.cc-paypal-button--en-us{
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x.png);

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_en_EN_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--en-gb--disabled,
.cc-paypal-button--en-us--disabled{
    @extend .cc-paypal-button--en-gb;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--fr-fr {
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_fr_FR_orange_195x37%402x.png);

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_fr_FR_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--fr-fr--disabled {
    @extend .cc-paypal-button--fr-fr;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--it-it {
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_it_IT_orange_195x37%402x.png);

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_it_IT_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--it-it--disabled {
    @extend .cc-paypal-button--it-it;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--es-es {
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_es_ES_orange_195x37%402x.png);

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_es_ES_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--es-es--disabled {
    @extend .cc-paypal-button--es-es;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--pl-pl {
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_pl_PL_orange_195x37%402x.png);

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_pl_PL_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--pl-pl--disabled {
    @extend .cc-paypal-button--pl-pl;
    @extend .cc-paypal-button--disabled
}

.cc-paypal-button--nl-nl {
    @extend .cc-paypal-button;
    background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_nl_NL_orange_195x37%402x.png);

    &:active, &.ng-click-active {
        background-image: url(http://cdn.couchcommerce.com/images/paypal/CO_nl_NL_orange_195x37%402x_P.png);
    }
}

.cc-paypal-button--nl-nl--disabled {
    @extend .cc-paypal-button--nl-nl;
    @extend .cc-paypal-button--disabled
}
