/**
 * That's for the base styling of the app
 * things that are not generic enough to be put in the sdk
 * but also do not belong into any specify component
 *
 */

%cc-flex-column, 
.cc-flex-column {
    @extend %flexbox;

    @include flex-direction(column);
}

%cc-scroll-container {
    overflow: auto;
    overflow-x: hidden;
}

%cc-stretch-container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.cc-has-overflow-support.cc-modern-flexbox {
    .cc-app-wrapper {
        @extend %cc-stretch-container;

        overflow: hidden;
    }
}

.cc-link {
    text-decoration: underline;
}

// the page wrapper needs to be `position:relative` for the animations
// since those need `position: absolute
.cc-page-wrapper {
    position: relative;
}

.cc-no-modern-flexbox {
    .cc-page-wrapper {
        height: 100%;
    }
}

.snap-content:after {
    content: '';
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:100%;
    background-color: rgba(0,0,0,0);
    -webkit-transition: background-color .3s ease-in, right .01s ease-in .3s;
    transition: background-color .3s ease-in, right .01s ease-in .3s;
}

.snapjs-left,
.snapjs-right {
    .snap-content:after {
        right:0;
        background-color: rgba(0,0,0,0.5);

        -webkit-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;
    }
}

.cc-has-overflow-support.cc-modern-flexbox {
    .cc-page-wrapper,
    .cc-main-wrapper {
        @extend %cc-flex-column;
        @include flex(1);
    }
    .cc-ui-view {
        @include flex(1);
    }
}

.cc-has-no-overflow-support{
    .cc-main-wrapper{
        // if we use `height` instead of `min-height` scrolling does not
        // work anymore on Android 2.3. I love the web!
        min-height: 100%;
    }
}

.cc-ipad-ios-7 {
    position: fixed;
    top:0;
}

.cc-ipad-ios-7 > body {
    position: absolute;
    top:0;
    bottom:0;
}