
.cc-modern-flexbox {

    .cc-list, %cc-list {
        @include flexbox;
        @include flex-flow(row wrap);
    }

    .cc-list__item {
        @include flexbox;
        @include justify-content(center);
        @include flex(0, 0, 50%);
    }

    @include breakpoint(wide) {
        .cc-list__item {
            // The 5 at the end is a hack since the mixin won't return more than 5 decimal spaces (and we need 6 to make 1/3 work perfectly).
            // see http://stackoverflow.com/questions/20817397/any-way-to-change-precision-in-node-sass-libsass
            @include flex(0, 0, 33.333333%);
        }
    }

    @include breakpoint(extra-wide) {
        .cc-list__item {
            @include flex(0, 0, 25%);
        }
    }
}

.cc-list, %cc-list {
    list-style: none;
    margin-right:-1px;
    border-style:solid;
    border-width: 1px 0 0;
}

.cc-list__item {
    border-style:solid;
    border-width:0 1px 1px 0;

    // display and width will be overwritten with flex for browsers that support the modern flexbox
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

@include breakpoint(wide) {

    .cc-list__item {
        // won't have an effect for flex box
        width: 33.333333%;
    }

}

@include breakpoint(extra-wide) {

    .cc-list__item {
        // won't have an effect for flex box
        width: 25%;
    }

}
