.cc-view-wrapper{
    // some tweaks for less flickering
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

//On Android 2, those two styles cause the page to jump around
//when focusing input elements. This totaly breaks things like
//checkout forms for such users. We normally set those for better
//performance but we disable them for Android 2.x
//https://github.com/scottjehl/Device-Bugs/issues/32
.cc-os-android.cc-osv-2{
    .cc-view-wrapper{
        -webkit-backface-visibility: initial;
        -webkit-transform-style: initial;
    }
}

.cc-has-overflow-support {
    .cc-view-wrapper {
        @extend %cc-scrollable-vertical;

        overflow: auto;
        height:100%;
    }
}

.cc-has-overflow-support.cc-modern-flexbox {
    .cc-view-wrapper {
        @include flex(1, 1, auto);
    }
}

.cc-view-wrapper--unpadded{
    @extend .cc-view-wrapper;
    padding-left: 0;
    padding-right: 0;
}