
// Three Color Theme

// dark purple grey
$color-1: #333333;

// white
$color-6: #ffffff;

// couch red
$color-2: #d13149;

$logo-small: url(../images/logo_small.png);
$logo-big: url(../images/logo_big.png);
