
// Three Color Theme

// dark purple grey
$color-1: hsla(276, 10%, 28%, 1);

// white
$color-6: hsla(0, 0%, 100%, 1);

// couch red
$color-2: hsla(350, 60%, 57%, 1);

$logo-small: url(../images/logo_small.png);
$logo-big: url(../images/logo_big.png);
