.cc-search-result__group-list-item-header{
    padding: $primary-padding;
    position: relative;
    border-bottom: 1px solid $background-border-color;
    border-top: 1px solid $background-border-color;
    font-weight: bold;
}

.cc-search-result__group-list-item-header-icon{
    @extend .cc-text-list__row-icon;
}

.cc-search-result__item-list{
    background: $content-background-color;
    display: table;
    width: 100%;
    border-collapse:separate; 
    border-spacing:3px;
}

.cc-search-result__list-item{
    display: table-row;

    &:last-child{
        .cc-search-result__list-item-text-wrapper:after{
            content: none;
        }
    }
}

.cc-search-result__list-item-product-image{
    width: 50px;
    height: 50px;
    background-size: contain;
    display: table-cell;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cc-search-result__list-item-text-wrapper{
    display: table-cell;
    vertical-align: middle;
    padding-left: $primary-padding;
    position: relative;

    &:after{
        content: "";
        position: absolute;
        border-bottom: 1px solid $content-border-color;
        left: $primary-padding;
        right: 0;
        bottom: 0;
    }
}

.cc-search-result__list-item-icon{
    @extend .cc-text-list__row-icon;
}
