<div class="cc-variant-selector">
    <div class="cc-select-box-select-wrapper"
         ng-repeat="property in properties">
         <span class="cc-select-box-display-value" ng-bind="selectedProperties[property]"></span>
         <span class="cc-select-box-display-value" ng-hide="selectedProperties[property]">{{chooseText}} {{property}}</span>
         <i class="cc-select-box-select-icon icon-chevron-down"></i>
        <select name="{{property}}"
                class="cc-select-box-native-select" 
                ng-model="selectedProperties[property]" 
                ng-options="val for val in variants|ccVariantFilter:selectedProperties:property">
            <option value="">-- {{chooseText}} {{property}} --</option>
        </select>
    </div>
</div>
