//we probably want to have that somewhere more generic?
.cc-form-label{ 
    margin: 0 0 0 5px;
    font-size: $font-size-small;
}

.cc-checkout-navigation{
    display:table;
    width: 100%;
    margin-top: 30px;
}

.cc-checkout-navigation__left-col{
    display: table-cell; 
    width: 100px;
}

.cc-checkout-navigation__middle-col{
    display: table-cell; 
    width: 10px;
}

.cc-checkout-navigation__right-col{
    display: table-cell;
}
