<div class="cc-view-wrapper cc-view-phone">
    <div class="cc-title--big" ng-bind="ln.checkout"></div>
    <a ng-click="navigationService.navigateToCart()" class="cc-couch-default-button-on-background">{{ ln.backToCart }}</a>

    <cc-grouped>
        <cc-select-box
            class="cc-select-box-on-background" 
            selected-value="checkoutModel.selectedPaymentMethod" 
            choose-text="ln.choose" 
            property-name="ln.paymentMethod" 
            display-value-exp="'title'" 
            data="checkoutModel.supportedPaymentMethods">
        </cc-select-box>

        <cc-select-box
            class="cc-select-box-on-background" 
            selected-value="checkoutModel.selectedShippingMethod" 
            choose-text="ln.choose" 
            property-name="ln.shippingMethod" 
            display-value-exp="'title'" 
            data="checkoutModel.supportedShippingMethods">
        </cc-select-box>
    </cc-grouped>

    <div class="cc-info-box" ng-show="checkoutModel.surchargeHint">
        <i class="icon-exclamation-sign"></i>
        {{ checkoutModel.surchargeHint }}
    </div>

    <h3>{{ln.billingAddress}}</h3>
    <form class="cc-text-box-on-background cc-grouped cc-select-box-group">
        <input ng-model="checkoutModel.billingAddress.company" class="cc-text-box" type="text" placeholder="{{ln.formCompany}}"/>
        <input ng-model="checkoutModel.billingAddress.surname" class="cc-text-box" type="text" placeholder="{{ln.formSurname}}"/>
        <input ng-model="checkoutModel.billingAddress.name" class="cc-text-box" type="text" placeholder="{{ln.formGivenName}}"/>
        <input ng-model="checkoutModel.billingAddress.street" class="cc-text-box" type="text" placeholder="{{ln.formStreet}}"/>
        <input ng-model="checkoutModel.billingAddress.city" class="cc-text-box" type="text" placeholder="{{ln.formCity}}"/>
        <input ng-model="checkoutModel.billingAddress.zip" class="cc-text-box" type="text" placeholder="{{ln.formZip}}"/>
        <cc-select-box
            class="cc-select-box-on-background" 
            selected-value="checkoutModel.billingAddress.country" 
            choose-text="'wähle'" 
            property-name="'Rechnungsland'" 
            display-value-exp="'label'" 
            data="checkoutService.getSupportedCountries()">
        </cc-select-box>
        <input ng-model="checkoutModel.billingAddress.email" class="cc-text-box" type="text" placeholder="email@example.com"/>
    </form>


    <h3>{{ln.shippingAddress}}</h3>

    <cc-check-box class="cc-check-box-on-background" value="checkoutModel.addressEqual" label="'Wie Rechnungsadresse'"></cc-check-box>

    <form ng-hide="checkoutModel.addressEqual" class="cc-text-box-on-background cc-grouped cc-select-box-group">
        <input ng-model="checkoutModel.shippingAddress.company" class="cc-text-box" type="text" placeholder="{{ln.formCompany}}"/>
        <input ng-model="checkoutModel.shippingAddress.surname" class="cc-text-box" type="text" placeholder="{{ln.formSurname}}"/>
        <input ng-model="checkoutModel.shippingAddress.name" class="cc-text-box" type="text" placeholder="{{ln.formGivenName}}"/>
        <input ng-model="checkoutModel.shippingAddress.street" class="cc-text-box" type="text" placeholder="{{ln.formStreet}}"/>
        <input ng-model="checkoutModel.shippingAddress.city" class="cc-text-box" type="text" placeholder="{{ln.formCity}}"/>
        <input ng-model="checkoutModel.shippingAddress.zip" class="cc-text-box" type="text" placeholder="{{ln.formZip}}"/>
        <cc-select-box
            class="cc-select-box-on-background" 
            selected-value="checkoutModel.shippingAddress.country" 
            choose-text="ln.choose" 
            property-name="'Lieferland'" 
            display-value-exp="'label'" 
            data="checkoutService.getSupportedCountries()">
        </cc-select-box>
        <input ng-model="checkoutModel.shippingAddress.email" class="cc-text-box" type="text" placeholder="email@example.com"/>
    </form>
    <!-- is that a candidate for a cc-total-box directive? -->
    <div ng-show="!isEmpty" ng-include="tpl.TOTALBOX"></div>

    <a ng-click="proceed()" class="cc-couch-action-button">{{ ln.nextStep }}</a>
    <!-- WTF!? why can't we get that to work with ng-show? -->
    <cc-footer ng-if="!isEmpty"></cc-footer>
</div>
