<div class="cc-view-wrapper cc-view-phone">
    <div class="cc-title--big" ng-bind="ln.checkout"></div>
    <a ng-click="navigationService.navigateToCart()" class="cc-couch-default-button-on-background">{{ ln.backToCart }}</a>

    <cc-grouped>
        <cc-select-box
            class="cc-select-box-on-background" 
            ng-model="checkoutModel.selectedPaymentMethod" 
            choose-text="ln.choose" 
            allow-null
            omit-null
            property-name="ln.paymentMethod" 
            display-value-exp="'title'" 
            data="checkoutModel.supportedPaymentMethods">
        </cc-select-box>

        <cc-select-box
            class="cc-select-box-on-background" 
            ng-model="checkoutModel.selectedShippingMethod" 
            allow-null
            omit-null
            choose-text="ln.choose" 
            property-name="ln.shippingMethod" 
            display-value-exp="'title'" 
            data="checkoutModel.supportedShippingMethods">
        </cc-select-box>
    </cc-grouped>

    <div class="cc-info-box" ng-show="checkoutModel.surchargeHint">
        <i class="icon-exclamation-sign"></i>
        {{ checkoutModel.surchargeHint }}
    </div>

    <h3>{{ln.billingAddress}}</h3>
    <form name="billingAddressForm" novalidate class="cc-text-box-on-background cc-grouped cc-select-box-group">
        <input ng-model="checkoutModel.billingAddress.company" class="cc-text-box" type="text" placeholder="{{ln.formCompany}}"/>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.billingAddress.surname" required cc-lazy-validation="parent" name="surname" class="cc-text-box" type="text" placeholder="{{ln.formSurname}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Lastname}}</span>
        </span>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.billingAddress.name" required cc-lazy-validation="parent" name="name" class="cc-text-box" type="text" placeholder="{{ln.formGivenName}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Firstname}}</span>
        </span>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.billingAddress.street" required cc-lazy-validation="parent" name="street" class="cc-text-box" type="text" placeholder="{{ln.formStreet}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Street}}</span>
        </span>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.billingAddress.city" required cc-lazy-validation="parent" name="city" class="cc-text-box" type="text" placeholder="{{ln.formCity}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_City}}</span>
        </span>
        <input ng-model="checkoutModel.billingAddress.phone" cc-lazy-validation="parent" name="city" class="cc-text-box" type="text" placeholder="{{ln.formTelephone}}"/>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.billingAddress.zip" required cc-lazy-validation="parent" name="zip" class="cc-text-box" type="text" placeholder="{{ln.formZip}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Zip}}</span>
        </span>
        <cc-select-box
            name="country"
            ng-model="checkoutModel.billingAddress.country"
            class="cc-select-box-on-background"
            omit-null 
            fail-message="'Bitte wählen Sie ein Rechnungsland'"
            choose-text="'wähle'" 
            property-name="'Rechnungsland'" 
            display-value-exp="'label'" 
            data="configService.getSupportedCountries()">
        </cc-select-box>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input type="email" ng-model="checkoutModel.billingAddress.email" required cc-lazy-validation="parent" name="email" class="cc-text-box" type="text" placeholder="email@example.com*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Email}}</span>
        </span>
    </form>


    <h3>{{ln.shippingAddress}}</h3>

    <cc-check-box class="cc-check-box-on-background" value="checkoutModel.addressEqual" label="'Wie Rechnungsadresse'"></cc-check-box>

    <form ng-hide="checkoutModel.addressEqual" name="shippingAddressForm" class="cc-text-box-on-background cc-grouped cc-select-box-group">

        <input ng-model="checkoutModel.shippingAddress.company" class="cc-text-box" type="text" placeholder="{{ln.formCompany}}"/>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.shippingAddress.surname" required cc-lazy-validation="parent" name="surname" class="cc-text-box" type="text" placeholder="{{ln.formSurname}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Lastname}}</span>
        </span>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.shippingAddress.name" required cc-lazy-validation="parent" name="name" class="cc-text-box" type="text" placeholder="{{ln.formGivenName}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Firstname}}</span>
        </span>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.shippingAddress.street" required cc-lazy-validation="parent" name="street" class="cc-text-box" type="text" placeholder="{{ln.formStreet}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Street}}</span>
        </span>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.shippingAddress.city" required cc-lazy-validation="parent" name="city" class="cc-text-box" type="text" placeholder="{{ln.formCity}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_City}}</span>
        </span>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input ng-model="checkoutModel.shippingAddress.zip" required cc-lazy-validation="parent" name="zip" class="cc-text-box" type="text" placeholder="{{ln.formZip}}*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Zip}}</span>
        </span>
        <cc-select-box
            class="cc-select-box-on-background" 
            selected-value="checkoutModel.shippingAddress.country" 
            choose-text="ln.choose" 
            property-name="'Lieferland'" 
            display-value-exp="'label'" 
            data="checkoutService.getSupportedCountries()">
        </cc-select-box>
        <span class="cc-validation">
            <i class="cc-validation__message--success icon-2x icon-ok"></i>
            <input type="email" ng-model="checkoutModel.shippingAddress.email" required cc-lazy-validation="parent" name="email" class="cc-text-box" type="text" placeholder="email@example.com*"/>
            <span class="cc-validation__message--fail">{{ln.invalidInput_Email}}</span>
        </span>
    </form>
    <!-- is that a candidate for a cc-total-box directive? -->
    <div ng-show="!isEmpty" ng-include="tpl.TOTALBOX"></div>

    <a ng-click="canProceed() && proceed()" ng-class="{ 'cc-couch-action-button--disabled':!canProceed() }" class="cc-couch-action-button">{{ ln.nextStep }}</a>
    <!-- WTF!? why can't we get that to work with ng-show? -->
    <cc-footer ng-if="!isEmpty"></cc-footer>
</div>
