.cc-side-menu {
    background: #444;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: scroll;

    .cc-category-tree-view {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .cc-category-tree-view__list-item {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .cc-category-tree-view__category-entry {
        padding:5px 10px;
    }

    .cc-category-tree-view__category-entry-icon {
        font-size: 14px;
    }

    .cc-category-tree-view__category-entry--active {
        background:#333;
        color:#fff;
    }

    .cc-category-tree-view__list--child {
        font-size: 14px;
        color: #CCC;
    }

}

.cc-side-menu__heading {
    line-height: 18px;
    padding: 20px 10px;
    background: #333;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}