.cc-category-grid {
    @extend %cc-list;

    text-align: center;
    border:0;

    .cc-list__item {
        // no-flex-box fallback
        min-height:230px;
        // product/category image background...
        background: #fff;
    }
}

@include breakpoint(wide) {

    .cc-category-grid {
        .cc-list__item {
            // won't have an effect for flex box
            width: 50%;
        }
    }

    .cc-modern-flexbox {
        .cc-category-grid {
            .cc-list__item {
                @include flex(0, 0, 50%);
            }
        }
    }

}

@include breakpoint(extra-wide) {

    .cc-category-grid {
        .cc-list__item {
            // won't have an effect for flex box
            width: 33.333333%;
        }
    }

    .cc-modern-flexbox {
        .cc-category-grid {
            .cc-list__item {
                @include flex(0, 0, 33.333333%);
            }
        }
    }

}
