<div cc-scroller-announcer class="cc-scroller--if-fixed cc-view-wrapper">
    <cc-inject target="aboveContent"></cc-inject>

    <div bindonce="category" ng-if="category">

        <div class="cc-category__header-block">
            <div class="cc-category__up-nav" ng-show="category.parent">
                <cc-go-up-control home-text="{{ ln.home }}" category="category"></cc-go-up-control>
            </div>
            <div class="cc-category__header">
                <h1 class="cc-title--huge" bo-text="headline"></h1>
            </div>
        </div>

        <ul class="cc-category-grid">
            <li ng-repeat="category in category.children" class="cc-list__item">

                <div class="cc-category-item"
                     ng-click="goToCategory(category, $event)"
                     ng-class="{ 'cc-highlight': backStepHighlightService.isHighlighted(category) }">

                    <div class="cc-category-item__media-wrapper">
                        <div class="cc-category-item__media" style="background-image: url({{ category.image }})"></div>
                    </div>

                    <div class="cc-category-item__info-wrapper">
                        <strong class="cc-category-item__title" bo-text="category.label"></strong>
                    </div>

                </div>

            </li>
        </ul>
    </div>

    <div ng-if="!category" ng-include="tpl.404"></div>

    <cc-inject target="aboveFooter"></cc-inject>
    <cca-footer></cca-footer>
    <cc-inject target="beneathFooter"></cc-inject>
</div>
