<div cc-scroller-announcer class="sofa-view">

    <div class="sofa-sticky-view">

        <div class="sofa-sticky-view__content">
            <cc-inject target="aboveContent"></cc-inject>

            <div bindonce="category" ng-if="category">

                <div class="sofa-view__header sofa-view__header--category">
                    <div class="sofa-up-nav" ng-if="category.parent">
                        <sofa-go-back-control button-text="{{ ln.home }}" category="category"></sofa-go-back-control>
                    </div>
                    <div class="sofa-view__title">
                        <h1 class="cc-title--huge" bo-text="headline"></h1>
                    </div>
                </div>

                <ul class="sofa-category-list">
                    <li ng-repeat="category in category.children" class="sofa-category-list__item">
                        <a class="sofa-category-link"
                           ng-class="{ 'sofa-highlight--out': backStepHighlightService.isHighlighted(category) }"
                           ng-click="goToCategory(category, $event)"
                           ng-href="{{category.getOriginFullUrl()}}"
                           bo-text="category.label">
                        </a>
                    </li>
                </ul>
            </div>
            <div ng-if="!category" ng-include="tpl.404"></div>
        </div>

        <div class="sofa-sticky-view__footer">
            <cc-inject target="aboveFooter"></cc-inject>
            <cc-footer></cc-footer>
            <cc-inject target="beneathFooter"></cc-inject>
        </div>
    </div>
</div>
