.cc-cart-total-panel{
    background: $content-background-color;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.cc-cart-total-panel__line{
    overflow: hidden;
}

.cc-cart-total-panel__line:last-child{
    border-top: 1px solid $content-border-color;
    font-size: $font-size-huge;
}

.cc-cart-total-panel-text{
    float: left;
    clear: both;
}

.cc-cart-total-panel-figure{
    float: right;
}