<div class="cc-side-menu cc-side-menu--cart" bindonce="ln">

    <div class="cc-side-menu__header">
        <span bo-text="ln.shoppingCart"></span>
    </div>

    <div class="cc-side-menu__content">

        <div class="cc-side-menu__scroll-container">

            <div class="cc-sticky-view-wrapper">
                <div class="cc-sticky-view-wrapper__content">
                    <div class="cc-cart__content-box">

                        <div class="cc-cart-empty-hint" ng-show="isEmpty">
                            <div class="cc-cart-empty-hint-content">
                                <div class="fa-4x fa fa-shopping-cart"></div>
                                <div bo-text="ln.cartIsEmpty"></div>
                            </div>
                        </div>

                        <ul class="cc-cart-list" ng-show="!isEmpty">
                            <li ng-repeat="item in items" class="cc-cart-list__item" ng-animate="{ leave: 'fade-out' }">
                                <div class="cc-cart-list__item-image"
                                     ng-click="navigationService.navigateToUrl(item.product.getOriginFullUrl())"
                                     style="background-image: url({{ item.product.getImage('small') }})">
                                </div>
                                <div class="cc-cart-list__item-content">
                                    <strong class="cc-cart-list__item-title">
                                        {{item.product.name}}
                                    </strong>


                                    <ul class="cc-cart-list__item-variants">
                                        <li ng-repeat="(variantProperty, variantPropertyValue) in item.variant.properties">
                                            <span class="cc-properties__key">{{variantProperty}}:</span>
                                            <span class="cc-properties__value">{{variantPropertyValue}}</span>
                                        </li>
                                    </ul>

                                </div>

                                <div class="cc-cart-list__item-footer">

                                    <span class="cc-cart__item-price">
                                        {{item.quantity}} &times;
                                        <cc-price product="item.product" selected-variant="item.variant">

                                        </cc-price>
                                    </span>

                                    <span class="cc-cart__item-price--total">
                                        {{item.getTotal() | currency: '€'}}
                                    </span>
                                </div>

                                <div class="cc-cart-quantity-selector">
                                    <span ng-click="decreaseItem(item)" class="cc-cart-button--decrease"></span>
                                    <span ng-show="basketService.canBeIncreasedBy(item, 1)" ng-click="basketService.increaseOne(item)" class="cc-cart-button--increase"></span>
                                </div>
                            </li>
                            <li ng-repeat="coupon in coupons" class="cc-cart-list__item cc-cart-list__item--coupon" ng-animate="{ leave: 'fade-out' }">
                                <div class="cc-cart-list__item-content">
                                    <strong class="cc-cart-list__item-title">
                                        <span ng-bind="ln.promotionCode"></span><br>
                                        {{coupon.name}}
                                    </strong>
                                </div>
                                <div class="cc-cart-list__item-footer">
                                    <span class="cc-cart__item-price--total">
                                        {{-coupon.amount | currency: '€'}}
                                    </span>
                                </div>
                                <div class="cc-cart-quantity-selector">
                                    <span ng-click="basketService.removeCoupon(coupon.code)" class="cc-cart-button--decrease"></span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="cc-cart-promotioncode-box" ng-show="!isEmpty && enablePromotionCodes">
                        <a class="cc-cart-coupon-button" ng-hide="promotionCodeModel.showForm" ng-click="promotionCodeModel.showForm=!promotionCodeModel.showForm">{{ln.promotionCodeHint}}</a>
                        <form name="billingAddressForm" novalidate class="cc-text-box-on-background" ng-show="promotionCodeModel.showForm">
                            <p class="cc-form-label">{{ln.promotionCode}}</p>
                            <input ng-model="promotionCodeModel.code" class="cc-text-box" type="text"/>
                            <a ng-click="canRedeemCode() && redeemCode()" ng-class="canRedeemCode() ? 'cc-promotion-code-button' : 'cc-promotion-code-button--disabled'">{{ln.promotionCodeButton}}</a>
                        </form>
                    </div>

                </div>
                <div class="cc-sticky-view-wrapper__footer">
                    <div class="cc-cart__total-box-wrapper" ng-show="!isEmpty">
                        <!-- is that a candidate for a cc-total-box directive? -->
                        <div cc-include="tpl.TOTALBOX"></div>
                    </div>

                    <div class="cc-cart-actions" ng-show="!isEmpty">

                        <a ng-if="cfg.showCheckoutButton"
                           ng-click="navigationService.navigateToCheckout()"
                           class="cc-cart-checkout-button"
                           bo-text="ln.checkout"></a>

                        <a ng-if="cfg.showPayPalButton"
                           ng-click="checkoutWithPayPal()"
                           bo-class="configService.getLocalizedPayPalButtonClass()"></a>

                    </div>
                    <!--<div class="cc-side-menu__footer">-->
                    <!---->
                    <!--</div>-->
                </div>
            </div>

        </div>

    </div>

</div>
