<div class="modal-body cc-paypal-overlay">
    <i class="cc-paypal-overlay__close-icon" ng-click="close()"></i>
    <div class="cc-form__item">
        <label class="cc-form__label">{{::ln.formCountry}}</label>
        <sofa-select-box
            model="vm.selectedCountry"
            data="vm.countries"
            property-name="{{ln.paymentMethod}}"
            display-value-exp="'label'">
        </sofa-select-box>
    </div>
    <div class="cc-form__item">
        <label class="cc-form__label">{{::ln.shippingMethod}}</label>
        <sofa-select-box
            model="vm.selectedShippingMethod"
            data="vm.supportedShippingMethods"
            property-name="{{ln.shippingMethod}}"
            display-value-exp="shippingMethodFormatter">
        </sofa-select-box>
    </div>
    <div class="cc-message-box--error" ng-show="!vm.supportedShippingMethods.length">{{::ln.noPayPalShippingMethod}}</div>
    <a ng-click="vm.canProceed && proceed()" ng-class="configService.getLocalizedPayPalButtonClass(!vm.canProceed)"></a>
    <sofa-loading-spinner ng-show="processing"></sofa-loading-spinner>
</div>
