$cc-search-result__group-header-padding: $primary-padding;
$cc-search-result__group-header-border-color: $background-border-color;
$cc-search-result__item-list-background: $content-background-color;
$cc-search-result__list-item-padding-left: $primary-padding;
$cc-search-result__list-item-border-color: $content-border-color;
$cc-search-result__list-item-color: $content-text-color;