//yep, that's pure shit. But we have to deal with it
//for now. There's backend stuff involved :-/
#agblink,
#widerruflink{
    background: $cc-summary__legal-link-background;
    color: $cc-summary__legal-link-color;
    padding: 3px;
    border-radius: 5px;
}