//yep, that's pure shit. But we have to deal with it
//for now. There's backend stuff involved :-/
#agblink,
#widerruflink{
    background: $info-area-background-color;
    color: $info-area-text-color;
    padding: 3px;
    border-radius: 5px;
}