<div class="cc-side-menu cc-side-menu--navigation" ng-controller="SidemenuController">
    <div class="cc-side-menu__header">
        <div class="cc-side-menu-tabs">
            <i class="cc-side-menu-tabs__icon cc-side-menu-tabs__icon--categories"
               ng-class="{'cc-side-menu-tabs__icon--active': sidemenuUiState.activeTab === 'categories'}"
               ng-click="sidemenuUiState.setActiveTab('categories')"></i>
            <i class="cc-side-menu-tabs__icon"
               ng-class="{
                   'cc-side-menu-tabs__icon--active': sidemenuUiState.activeTab === 'wishlist',
                   'cc-side-menu-tabs__icon--wishlist': !isEmpty,
                   'cc-side-menu-tabs__icon--wishlist--empty': isEmpty}"
               ng-click="sidemenuUiState.setActiveTab('wishlist')" cc-wishlist-state></i>
        </div>
        <div class="cc-side-menu-tabs-title">
            <span ng-bind="ln.categories" ng-show="sidemenuUiState.activeTab === 'categories'"></span>
            <span ng-bind="ln.wishlist" ng-show="sidemenuUiState.activeTab === 'wishlist'"></span>
        </div>
    </div>
    <div class="cc-side-menu__content">
        <div class="cc-side-menu__scroll-container" ng-show="sidemenuUiState.activeTab === 'categories'">
            <div class="sofa-sticky-view">
                <div class="sofa-sticky-view__content">
                    <cc-category-tree-view></cc-category-tree-view>
                </div>
                <div class="sofa-sticky-view__footer">
                    <div class="cc-side-menu__footer">
                        <cc-footer-links></cc-footer-links>
                    </div>
                </div>
            </div>
        </div>

        <div class="cc-side-menu__scroll-container" ng-controller="WishlistController" ng-include="tpl.WISHLIST" ng-show="sidemenuUiState.activeTab === 'wishlist'"></div>
    </div>
</div>
