<ul class="cc-cart-total-panel cc-properties--block">
    <li>
        <span class="cc-properties__key" ng-bind="ln.summarySubtotal" ></span>
        <span class="cc-properties__value" ng-bind="summary.sum | currency"></span>
    </li>
    <li ng-if="summary.shipping !== null">
        <span class="cc-properties__key" ng-bind="ln.summaryShipping" ></span>
        <span class="cc-properties__value" ng-bind="summary.shipping | currency"></span>
    </li>
    <li ng-if="summary.shipping === null">
        <a class="cc-link" ng-click="navigationService.navigateToShippingCostsPage()">{{ln.shippingCostsGeneric}}</a>
    </li>
    <li ng-show="summary.surcharge">
        <span class="cc-properties__key" ng-bind="ln.surcharge" ></span>
        <span class="cc-properties__value" ng-bind="summary.surcharge | currency"></span>
    </li>
    <li>
        <span class="cc-properties__key" ng-bind="ln.summaryTaxLabel"></span>
        <span class="cc-properties__value" ng-bind="summary.vat | currency"></span>
    </li>
    <li class="cc-cart-total-panel__line" ng-repeat="coupon in coupons">
        <span class="cc-properties__key">
            <span ng-bind="ln.promotionCode"></span> <span ng-bind="coupon.name"></span>
        </span>
        <span class="cc-properties__value" ng-bind="-coupon.amount | currency"></span>
    </li>
    <li class="cc-cart-total-panel__grand-total">
        <span class="cc-properties__key" ng-bind="ln.summaryGrandTotalLabel"></span>
        <span class="cc-properties__value" ng-bind="summary.total | currency"></span>
    </li>
</ul>
