
.cc-cart-total-panel {

    font-size: smaller;
    padding:6px 0;

    .cc-key {
        width:65%;
        padding: 6px 10px 0;
    }
    .cc-value {
        width:35%;
        text-align: right;
        padding: 6px 0 0;
    }
    .cc-link {
        display:block;
        padding: 6px 10px 0;
        color:inherit;
    }
}

.cc-cart-total-panel__grand-total {
    font-size: larger;
}
