//.cc-pages__up-nav {
//    @extend %up-nav--generic;
//    @extend %up-nav--narrow;
//}
//
//.cc-pages__header {
//    @extend %main-headline--generic;
//}

//@include breakpoint(wide) {
//    .cc-pages__header-block {
//        display: flex;
//    }
//    .cc-pages__up-nav {
//        flex: auto 0 0;
//    }
//    .cc-pages__header {
//        flex: 1;
//
//        .cc-title--huge {
//            line-height: 44px;
//        }
//    }
//
//    .cc-pages__up-nav {
//        @extend %up-nav--wide;
//
//        .cc-go-back-button {
//            @extend %go-up-control--wide;
//        }
//        .cc-go-back-button__icon {
//            @extend %go-up-control__icon--wide;
//        }
//        .cc-go-back-button__text {
//            @extend %go-up-control__text--wide;
//        }
//
//    }
//
//}

.cc-pages__content-box {

    padding: 6px 0;
    max-width: 45rem;
    margin:0 auto;

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        margin:0 0 1rem;
        font-weight: 700;
    }
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 135%;
    }
    h3 {
        font-size: 125%;
    }
    h4 {
        font-size: 115%;
    }
    h5 {
        font-size: 110%;
    }
    h6 {
        font-size: 105%;
    }

    p {
        font-size: 100%;
        line-height: 1.4;
        margin: .5rem 0;
    }

    ul {
        list-style: disc;
        margin: 1rem 0;
        padding-left: 2.5rem;
    }
}

@include breakpoint(narrow) {
    .cc-pages__content-box {
        padding: 6px 10px;
    }
}

.cc-pages__send-as-mail {
    @include fa-icon-type($fa-var-envelope);

    margin: 10px 0;

    &:before {
        margin-right:10px;
    }
}

.cc-pages__loading-box {
    position: relative;
}

.cc-pages__loading-box-spinner {
    left: 50%;
    margin-left: -64px;
}
