.cc-header {
    z-index: 999;

    @include flex(0, 0, auto);
}

.cc-header__icon-wrapper--left {
    float:left;
}

.cc-header__icon-wrapper--right {
    float:right;
}

.cc-header__icon {
    position: relative;
    display: inline-block;
    text-align: center;

    @extend .cc-button--pressed;
}

.cc-header__icon-badge {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
}

.cc-header__icon-badge--cart {
    @extend .cc-header__icon-badge;
}

.cc-header__logo {
    width:33.33333%;
    margin:0 auto;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
