<div class="sofa-app-header" ng-controller="HeaderController">
    <button type="button" class="sofa-app-header__button sofa-app-header__button--side-menu" snap-toggle>
    </button>
    <button type="button" class="sofa-app-header__button sofa-app-header__button--cart" ng-click="snapCart()">
        <span class="sofa-app-header__badge" ng-bind="basketItemCount" ng-show="basketItemCount > 0"></span>
    </button>
    <button type="button" class="sofa-app-header__button sofa-app-header__button--search" ng-click="showSearch()">
    </button>

    <a class="sofa-app-header__logo" href="/"></a>
</div>
