.cc-category-grid{
    font-size: $cc-category-grid__box-font-size;
}

.cc-category-grid:after{
    content: "";
    clear: both;
    display: block;
}

$cc-category-grid__half-space-between-boxes: $cc-category-grid__space-between-boxes / 2;
.cc-category-grid__box-wrapper{
    float: left;
    width: 33.33%;
    height: 300px;
    padding: 0 $cc-category-grid__half-space-between-boxes $cc-category-grid__space-between-boxes $cc-category-grid__half-space-between-boxes;

    &:nth-child(3n + 1){
        padding-left: 0;
    }

    &:nth-child(3n + 3){
        padding-right: 0;
    }
}

.cc-category-grid__box{
    width: 100%;
    height: 100%;
    position: relative;
    background: $cc-category-grid__box-background;

    border-style: solid;
    border-color: $cc-category-grid__border-color;
    border-top-width: $cc-category-grid__border-top-width;
    border-left-width: $cc-category-grid__border-left-width;
    border-right-width: $cc-category-grid__border-right-width;

    border-bottom-width: 0;
    //border bottom is implemented via box-shadow as it looks like ass otherwise
    //for android 2.3
    //also android 2.3 needs blur for box shadow
    -webkit-box-shadow: 0 $cc-category-grid__border-bottom-width 1px 0 $cc-category-grid__border-color;
    box-shadow: 0 $cc-category-grid__border-bottom-width 0 0 $cc-category-grid__border-color;
    border-radius: $cc-category-grid__border-radius;
}

.cc-category-grid__box-image{
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-bottom: 65px solid transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.cc-category-grid__box-label{
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: center;
    background: $cc-category-grid__box-background;
    color: $cc-category-grid__category-label-color;
}

.cc-highlight .cc-category-grid__row-highlight-helper {
    @extend %cc-box-highlight-helper;
    border-radius: $cc-category-grid__border-radius;
}