$cc-cart-total-panel__background: hsla($color-6-h, $color-6-s, $color-6-l, 1);
$cc-cart-total-panel__last-line-border-top-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.22);;
$cc-cart-total-panel__font-size: $cc-font-size-huge;