<div class="cc-header cc-fixed-element" ng-controller="HeaderController">
    <div class="cc-header__icon-wrapper--left" >
        <i class="cc-header__icon fa fa-bars" 
           snap-toggle></i>
    </div>
    <div class="cc-header__logo" ng-click="navigationService.navigateToRootCategory()">&nbsp;</div>
    <div class="cc-header__icon-wrapper--right">
        <i class="cc-header__icon fa fa-search"
           ng-click="showSearch()">
        </i>
    </div>
    <div class="cc-header__icon-wrapper--right">
        <i class="cc-header__icon fa fa-shopping-cart"
           ng-click="navigationService.navigateToCart()">
            <span class="cc-header__icon-badge--cart" ng-bind="basketItemCount"ng-show="basketItemCount > 0"></span>
        </i>
    </div>
    <div cc-include="tpl.SEARCH_BOX"></div>
</div>
