.cc-wishlist-button {
    @extend .fa;
    @extend .fa-heart-o;

    @extend %theme-button--base;

    display: block;
    text-align:left;
    line-height: 2.75rem;
    padding: 0 .875rem;
    color: $theme-color-light__shaded--30;

    &:before {
        display:inline-block;
        font-size: 1.5rem;
        margin-right: 0.875rem;
        vertical-align: top;

        -webkit-transition: color .3s;
                transition: color .3s;
    }

    .cc-wishlist-button__text {
        display: inline-block;
        vertical-align: top;
    }
}

.cc-wishlist-button.cc-wishlist-button--active {
    @extend .fa-heart;

    &:before {
        color: $theme-color-accent;
    }
}
