<div bindonce="ln" class="cc-scroller--if-fixed cc-view-wrapper cc-center">

    <div class="cc-sticky-view-wrapper">

        <div class="cc-sticky-view-wrapper__content">

            <div class="cc-checkout__header-block">

                <div class="cc-checkout__header">
                    <h1 bo-text="ln.thankYouTitle" class="cc-title--huge"></h1>
                </div>

            </div>

            <div class="cc-checkout__wrapper">

                <div ng-bind-html="ln.thankYouText"></div>

                <a ng-click="navigationService.navigateToRootCategory()" class="cc-checkout-button">{{ ln.continueShopping }}</a>

                <div ng-if="cfg.trustedShopsEnabled" class="cc-trusted-shops-thankyou">
                    <div>
                        <img class="cc-trusted-shops-dialog__image" ng-src="https://www.trustedshops.de/certificate/images/logo/trustedshops_{{ trustedShopsService.locale }}.jpg">
                        <p ng-bind-html="ln.tsRegistrationBuyerProtection"></p>
                    </div>

                    <form id="formTShops" name="formTShops" method="post"
                          action="https://www.trustedshops.com/shop/protection.php" target="_blank">

                        <input name="_charset_" type="hidden" value="">
                        <input name="shop_id" type="hidden" value="{{ cfg.trustedShopsId }}">
                        <input name="email" type="hidden" value="">
                        <input name="amount" type="hidden" value="{{ vm.summary.total }}">
                        <input name="curr" type="hidden" value="{{ cfg.currency }}">
                        <input name="paymentType" type="hidden" value="{{ vm.trustedShopsPaymentIdentifier }}">
                        <input name="kdnr" type="hidden" value="-">
                        <input name="ordernr" type="hidden" value="-">

                        <input type="submit" class="cc-checkout-button" value="{{ ln.tsButtonBuyerProtection }}">
                    </form>
                </div>

            </div>
        </div>

        <div class="cc-sticky-view-wrapper__footer">
            <cc-footer></cc-footer>
        </div>

    </div>
</div>
