%side-menu-headline--base {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.sofa-side-menu {
    font-size: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    .sofa-tabs__header {
        background: $theme-color-light__darker--20;
    }

    .sofa-tab {
        float: left;
        padding: .25rem;
    }

    .sofa-tab--active {
        background: $theme-color-light;

        .sofa-tab__button {
            color: $theme-color-accent;
        }
    }

    .sofa-tab__button {
        @extend .sofa-app-header__button;

        display: block;
        color: $theme-color-dark__lighter--33;

        background: transparent;
        border-radius: 0;
        box-shadow: none;

        &:before {
            font-size: 1.5rem;
        }

    }

    .sofa-tab__button--categories {
        @include fa-icon-type($fa-var-bars);
    }
    .sofa-tab__button--wishlist {
        @include fa-icon-type($fa-var-heart);
    }
    .sofa-tab__button--wishlist--empty {
        @include fa-icon-type($fa-var-heart-o);
    }

}

.sofa-side-menu__header {
    background: $theme-color-light__darker--20;
}

.sofa-side-menu__heading {
    @extend %side-menu-headline--base;

    font-size: 1rem;
    line-height: 3.25rem;
}

.sofa-side-menu__sub-heading {
    @extend %side-menu-headline--base;

    line-height: 2.75rem;
    font-size: small;
}

.overflow-support.modern-flexbox {

    .sofa-side-menu {
        display: flex;
        flex-direction: column;

        .sofa-tabs {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .sofa-tabs__header {
            flex: 0 0 auto;
        }

        .sofa-tabs__content {
            flex: 1;
            position: relative;
        }

        .sofa-tab-pane {
            @extend %sofa-dock-all;

            display: flex;
            flex-direction: column;
        }

        .sofa-side-menu__sub-heading {
            flex: 0 0 2.75rem;
        }

        .sofa-sticky-view,
        .sofa-side-menu__tab-pane {
            @extend %sofa-scroll-container;

            min-height: 0;
            flex: 1;
        }
    }

    .sofa-side-menu__header {
        flex: 0 0 3.25rem;
    }

    .sofa-side-menu__content {
        flex: 1;
        position: relative;
    }

    .sofa-side-menu__scroll-container {
        @extend %sofa-dock-all;
        @extend %sofa-scroll-container;

        display: flex;
        flex-direction: column;
    }

}

.sofa-side-menu--cart {
    background: $theme-color-light__darker--15;
}

// solves some issues where the content can be dragged horizontally
.snap-drawers,
.snap-content {
    overflow-x: hidden;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}

//for the poor folks with Android 2.x or iOS <=4
// TODO: check if this still works AND whether we need it anymore
.no-overflow-support{

    .snap-drawer-left, .snap-drawer-right{
        display: none;
    }

    .snapjs-left{
        .snap-drawer-left{
            display: block;
        }
    }

    .snapjs-right{
        .snap-drawer-right{
            display: block;
        }
    }

    .cc-side-menu{
        overflow: visible;
        bottom: auto;
        min-height: 100%;
    }

    .snap-drawer{
        overflow: visible;
    }

    .snap-content{
        position: relative;
    }
}
