
.cc-products__list {
    @extend %cc-list;

    border:0;

    .cc-list__item {
        text-align: center;
        // no-flex-box fallback
        min-height:230px;
        // product/category image background...
        background: #fff;
    }

}

@include breakpoint(wide) {
    .cc-products__controls {

        &:after {
            @include clearfix;
        }

        .cc-select-box {
            float: right;
            width: auto;
            min-width: 19em;
        }
    }
}


// TODO: extract to a separate module

.cc-product-item {
    display: block;
    padding:1px;
    text-decoration: none;
}
.cc-product-item__media-wrapper {
    padding:20px 0 10px;
}
.cc-product-item__media {
    height:100px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cc-product-item__info-wrapper {
    padding:5px 5px 0;
    min-height: 110px; // no-flex-box fallback
}

.cc-product-item__title {
    display:block;
    margin-bottom:10px;
    padding:5px 0;
    font-weight: 400;
}

.cc-modern-flexbox {

    .cc-product-item {
        width:100%;
    }
    .cc-product-item,
    .cc-product-item__info-wrapper {

        @extend %flexbox;
        @include flex-dir($value: column);
    }

    .cc-product-item__info-wrapper {
        @include flex(1);

        .cc-product-item__title {
            @include flex(1);
        }
        .cc-price {
            @include flex(0, 0, 2em);
        }
    }

}
