<div cc-scroller-announcer class="sofa-view">

    <div class="sofa-sticky-view">

        <div class="sofa-sticky-view__content">
            <sofa-inject target="aboveContent"></sofa-inject>

            <div class="sofa-view__header sofa-view__header--products">
                <div class="sofa-up-nav">
                    <sofa-go-back-control button-text="{{ ln.home }}" category="productsController.category"></sofa-go-back-control>
                </div>
                <div class="sofa-view__title">
                    <h1 class="cc-title--huge">{{::productsController.headline}}</h1>
                </div>
            </div>

            <div ng-if="productsController.products.length">
                <div class="sofa-product-controls">
                    <sofa-select-box
                            model="productsController.sortModel.sortBy"
                            data="productsController.sortModel.sortTypes"
                            choose-text="ln.sortBy"
                            display-value-exp="'title'">
                    </sofa-select-box>
                    <span ng-if="isTabletSize" class="sofa-product-controls-count">
                        <b>{{::productsController.products.length}}</b>
                        <span>{{::ln.productCountText}}</span>
                    </span>
                </div>

                <div class="sofa-product-grid">
                    <ul class="sofa-product-grid__list" ng-class="{'sofa-product-grid__list--loading': productsController.loading}">
                        <li ng-repeat="product in productsController.products | orderBy:productsController.sortModel.sortBy.key:productsController.sortModel.sortBy.reverse"
                            class="sofa-product-grid__item">

                            <a ng-class="{ 'sofa-highlight--out': productsController.isHighlighted(product) }"
                               ng-href="{{ product.getOriginFullUrl(category.getOriginFullUrl()) }}"
                               ng-click="productsController.goToProduct(product, $event)"
                               class="sofa-product-item">

                                <div class="sofa-product-item__media-wrapper">
                                    <div class="sofa-product-item__media">
                                        <img class="sofa-product-item__image" cc-src="product.getMainImage()" cc-src-config="{maxwidth: 140, maxheight: 140, forceDimensions: true}" cc-src-spinner="true" alt=""/>
                                    </div>
                                </div>
                                <div class="sofa-product-item__info-wrapper">
                                    <strong class="sofa-product-item__title">{{::product.name}}</strong>
                                    <div>
                                        <sofa-price price="product.getPrice()" special-price="product.getSpecialPrice()"></sofa-price>
                                        <div class="sofa-product-item__base-price-info" ng-bind="productsController.getBasePriceInfo(product)"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="sofa-pager">
                        <button class="sofa-pager__load-more-button" ng-disabled="productsController.loading"
                                ng-click="productsController.loadMore()" ng-show="productsController.hasMoreItems"
                                ng-bind="ln.loadMore | stringReplace:productsController.productPaging.size">
                        </button>
                    </div>
                </div>
            </div>

            <div ng-if="!productsController.products.length" class="sofa-no-products-message">
                <p>{{::ln.noProductResults}}</p>
            </div>

        </div>

        <div class="sofa-sticky-view__footer">
            <sofa-inject target="aboveFooter"></sofa-inject>
            <cc-footer></cc-footer>
            <sofa-inject target="beneathFooter"></sofa-inject>
        </div>
    </div>
</div>
