<div cc-scroller-announcer class="sofa-view">
    <cc-inject target="aboveContent"></cc-inject>

    <div bindonce="product" ng-if="product">

        <div class="sofa-view__header sofa-view__header--product">
            <div class="sofa-up-nav">
                <sofa-go-back-control category="upCategory"></sofa-go-back-control>
            </div>
            <div class="sofa-view__title">
                <h1 bo-text="product.name" class="cc-title--huge"></h1>
            </div>
        </div>

        <cc-inject target="beneathTitle"></cc-inject>

        <sofa-full-page-view on-open="setCloneState" on-close="setOriginalState">
            <sofa-full-page-view-clone class="cc-animate">
                <sofa-touch-slider
                        class="cc-product__image-slider"
                        items="productImages"
                        display-items="1"
                        snap="true"
                        slide-index="shared.slideIndex"
                        show-indicator="true"
                        data-snap-ignore="true">
                    <div class="cc-product-view-image-wrapper">
                        <img ng-src="{{item.image.url}}" class="cc-product-view-image"
                             sofa-image-zoom="item.zoomImage.loaded && item.zoomImage.url">
                    </div>
                </sofa-touch-slider>
            </sofa-full-page-view-clone>
            <sofa-full-page-view-original>
                <sofa-touch-slider
                        class="cc-product__image-slider"
                        items="productImages"
                        display-items="1"
                        on-item-click="openFullPageView(e)"
                        snap="true"
                        slide-index="shared.slideIndex"
                        show-indicator="true"
                        data-snap-ignore="true">
                    <div class="cc-product-view-image-wrapper"
                         ng-click="onItemClick({e: $event});"
                         ng-class="{'cc-img-loading': !item.image.loaded}">
                        <img ng-src="{{item.image.url}}" class="cc-product-view-image">
                    </div>
                </sofa-touch-slider>
            </sofa-full-page-view-original>
        </sofa-full-page-view>

        <cc-variant-selector
            choose-text="ln.choose"
            variants="product.variants"
            variant="variants.selectedVariant"
            selected-properties="variants.selectedProperties">
        </cc-variant-selector>

        <div cc-include="tpl.PRODUCT_BUY_BOX"></div>

        <div class="cc-product__content-box" ng-if="product.description || product.hasAttributes()">

            <cc-zippy caption="ln.productDetails" init-opened="true" ng-if="product.description">
                <div class="cc-cms-content cc-product-description" ng-bind-html="product.description"></div>
            </cc-zippy>

            <cc-zippy caption="ln.productSpecifications" ng-if="product.hasAttributes()">
                <ul class="cc-properties--block">
                    <li ng-repeat="(key, value) in product.attributes track by key">
                        <span class="cc-properties__key">{{key}}</span>
                        <span class="cc-properties__value" ng-bind-html="$sce.trustAsHtml(value)"></span>
                    </li>
                </ul>
            </cc-zippy>
        </div>

    </div>

    <div ng-if="!product" ng-include="tpl.404"></div>

    <cc-inject target="aboveFooter"></cc-inject>
    <cc-footer></cc-footer>
    <cc-inject target="beneathFooter"></cc-inject>

</div>
