<div cc-scroller-announcer class="cc-view-wrapper cc-flex-column">

        <div bindonce="product" ng-if="product" class="cc-product--tablet">

            <div class="cc-product__header-block">

                <div class="cc-product__up-nav">
                    <cc-go-up-control category="upCategory"></cc-go-up-control>
                </div>

                <div class="cc-product__header">
                    <h1 bo-text="product.name" class="cc-title--huge"></h1>
                </div>

            </div>

            <div class="cc-product__content-block">

                <div class="cc-product__image-block">

                    <sofa-full-page-view on-open="setCloneState" on-close="setOriginalState">
                        <sofa-full-page-view-clone class="cc-animate">
                            <sofa-touch-slider
                                    class="cc-product__image-slider"
                                    items="productImages"
                                    display-items="1"
                                    snap="true"
                                    slide-index="shared.slideIndex"
                                    show-indicator="true"
                                    data-snap-ignore="true">
                                <div class="cc-product-view-image-wrapper">
                                    <img ng-src="{{item.image.url}}" class="cc-product-view-image"
                                         sofa-image-aspect-ratio sofa-image-zoom="item.zoomImage.loaded && item.zoomImage.url">
                                </div>
                            </sofa-touch-slider>
                        </sofa-full-page-view-clone>
                        <sofa-full-page-view-original>
                            <sofa-touch-slider
                                    class="cc-product__image-slider"
                                    items="productImages"
                                    display-items="1"
                                    on-item-click="openFullPageView(e)"
                                    snap="true"
                                    slide-index="shared.slideIndex"
                                    show-indicator="true"
                                    data-snap-ignore="true">
                                <div class="cc-product-view-image-wrapper"
                                     ng-click="onItemClick({e: $event});"
                                     ng-class="{'cc-img-loading': !item.image.loaded}">
                                    <img ng-src="{{item.image.url}}" class="cc-product-view-image">
                                </div>
                            </sofa-touch-slider>
                        </sofa-full-page-view-original>
                    </sofa-full-page-view>

                </div>

                <div class="cc-product__info-block">

                    <div class="cc-product__primary-info">

                        <cc-variant-selector
                            choose-text="ln.choose"
                            variants="product.variants"
                            variant="variants.selectedVariant"
                            selected-properties="variants.selectedProperties">
                        </cc-variant-selector>

                        <div cc-include="tpl.PRODUCT_BUY_BOX"></div>
                    </div>

                    <div class="cc-product__content-box cc-scroll-area">

                        <cc-zippy caption="ln.productDetails" init-opened="true">
                            <div class="cc-unstyled cc-product-description" ng-bind-html="$sce.trustAsHtml(product.description)"></div>
                        </cc-zippy>

                        <cc-zippy caption="ln.productSpecifications">
                            <ul class="cc-properties--block">
                                <li ng-repeat="(key, value) in product.attributes track by key">
                                    <span class="cc-properties__key">{{key}}</span>
                                    <span class="cc-properties__value" ng-bind-html="$sce.trustAsHtml(value)"></span>
                                </li>
                            </ul>
                        </cc-zippy>
                    </div>

                </div>

            </div>

        </div>

        <div ng-if="!product" ng-include="tpl.404"></div>

</div>
