<div cc-scroller-announcer class="cc-scroller--if-fixed cc-view-wrapper">
    <cc-inject target="aboveContent"></cc-inject>

    <div bindonce="product" ng-if="product">

        <div class="cc-product__header-block">

            <div class="cc-product__up-nav">
                <cc-go-up-control category="upCategory"></cc-go-up-control>
            </div>

            <div class="cc-product__header">
                <h1 bo-text="product.name" class="cc-title--huge"></h1>
            </div>

        </div>

        <cc-inject target="beneathTitle"></cc-inject>

        <div class="cc-product-view-image-wrapper">
            <img ng-src="{{selectedImage.url}}"
                 cc-image-zoom
                 cc-image-full-screen
                 class="cc-product-view-image"
                 zoom-anim-duration="500">
        </div>

        <cc-thumbnail-bar
            ng-show="$parent.images.length > 1"
            images="product.getAllImages()"
            on-change="onThumbnailSelected(product, image)">
        </cc-thumbnail-bar>

        <cc-variant-selector class="cc-variant-selector-on-background"
            choose-text="ln.choose"
            variants="product.variants"
            variant="variants.selectedVariant"
            selected-properties="variants.selectedProperties">
        </cc-variant-selector>

        <div ng-include="tpl.PRODUCT_BUY_BOX"></div>

        <div class="cc-product__content-box" ng-if="product.description || product.hasAttributes()">

            <cc-zippy caption="ln.productDetails" init-opened="true" ng-if="product.description">
                <div class="cc-unstyled cc-product-description" ng-bind-html="$sce.trustAsHtml(product.description)"></div>
            </cc-zippy>

            <cc-zippy caption="ln.productSpecifications" ng-if="product.hasAttributes()">
                <ul class="cc-properties--block">
                    <li ng-repeat="(key, value) in product.attributes track by key">
                        <span class="cc-properties__key">{{key}}</span>
                        <span class="cc-properties__value">{{value}}</span>
                    </li>
                </ul>
            </cc-zippy>
        </div>

    </div>

    <div ng-if="!product" ng-include="tpl.404"></div>

    <cc-inject target="aboveFooter"></cc-inject>
    <cc-footer></cc-footer>
    <cc-inject target="beneathFooter"></cc-inject>

</div>
