.cc-product-view-image-wrapper{
    max-height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-color: $cc-product-view__image-background-color;
    border-radius: $cc-product-view__image-border-radius;
    background-size: contain;
    background-position: center center;
    position: relative;
}
.cc-product-view-image{
    position: relative;
    z-index: 500;
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

.cc-zippy-icon{
    font-size: 24px;
    margin-top: -12px;
    right: 10px;
    //intentionally! We want to keep the fine line and the icon
    //to be the same color
    color: $cc-product-view__zippy-icon-color;
}


.cc-product-view__content-box{
    @extend .cc-content-box--padded--stick-right;
    color: $cc-product-view__content-box-color;
}

.cc-view-product{
    .cc-zippy-caption{
        margin: 5px 0 5px 0;
        border-bottom: 1px solid $cc-product-view__zippy-border-color;
        //TODO: Look into eliminating !important here
        padding: 15px 0 15px 0;
        font-size: $cc-product-view__zippy-caption-font-size;
    }

    .cc-zippy-content{
        padding-right: 25px;;
    }
}

td.cc-product-view-attributes-row-key{
    padding-right: 10px;
    font-weight: bold;
}
