.cc-product-view-image-wrapper {
    padding: 10px;
    position: relative;
    background-color: #fff;
}
.cc-product-view-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.cc-product__header {
    @extend .cc-products__header;
}

.cc-variant-selector {
    padding:6px 4px;
}

.sofa-full-page-view__content {
    .cc-product-view-image-wrapper {
        padding: 0;
    }
}
