// TODO: use media query instead?
.cc-tablet-size.cc-view-product {
    .cc-app-wrapper {
        @include flex(1);
    }
}

.cc-product--tablet {

    @extend %flexbox;
    @include flex-direction(column);

    @include flex(1);

    .cc-product__header-block {
        @extend %flexbox;
        @include flex-direction(row);

        @include flex(auto, 0, 0);
    }

    .cc-product__content-block {
        @extend %flexbox;

        @include flex(1);
    }

    .cc-product__info-block {
        border:1px solid #ccc;
    }

    .cc-scroll-area {
        overflow-y: auto;
    }

    .cc-product__content-box {
        padding:0;
    }

    .cc-product__image-wrapper {
        padding: 10px;
    }
    .cc-thumbnail-bar__item {
        height: 80px;
    }

}


@include breakpoint(wide) {
    .cc-product__up-nav {
        @include flex(auto, 0, 0);
    }
    .cc-product__header {
        @include flex(1);
    }
    .cc-flex-image-helper {
        @include flex(1);
    }

}

@include breakpoint(wide-cap) {

    .cc-product__content-block {

        @include flex-direction(column);

        .cc-product__image-block {

            @include flexbox;
            @include flex-direction(row);

            @include flex(1);

            .cc-thumbnail-bar {
                @include flex(0, 0, 20%);
                @include flex-direction(column);
                margin:0;
                padding:2px;
            }

            .cc-thumbnail-bar__item {
                @include flex(1);

                width:100%;
                margin:0 0 2px;
            }

            .cc-thumbnail-bar__item--active {
                box-shadow: -2px 0 0 #D35065, 2px 0 0 #D35065;
            }
        }

        .cc-product__info-block {
            @include flexbox;
            @include flex-direction(row);

            @include flex(1);

            border-width:1px 0 0;
        }

        .cc-product__primary-info {
            @include order(2);
            @include flex(1);
        }

        .cc-product__content-box {
            @include order(1);
            @include flex(1);
        }

    }
}

@include breakpoint(extra-wide) {

    .cc-product__content-block {

        @include flex-direction(row);

        .cc-product__image-block {

            @include flexbox;
            @include flex-direction(column);

            @include flex(0, 0, 62%);
        }

        .cc-product__info-block {
            @include flexbox;
            @include flex-direction(column);

            @include flex(0, 0, 38%);

            border-width:0 0 0 1px;
        }

        .cc-product__content-box {
            @include flex(1);
        }
    }
}


// TODO: remove as soon as we have an image factory
// flex-box container seem to prevent (min-)height:100%; on child elements
.cc-flex-image-helper {
    position: relative;

    .cc-product-view-image-wrapper {
        position: absolute;
        height:auto;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }
}