<div class="sofa-product-interaction" bindonce="ln">
    <sofa-variant-selector
            choose-text="ln.choose"
            variants="productController.product.variants"
            variant="productController.variants.selectedVariant"
            selected-properties="productController.variants.selectedProperties">
    </sofa-variant-selector>

    <div class="sofa-product-interaction__info">
        <sofa-wish-list-button product="productController.product"></sofa-wish-list-button>
        <sofa-price price="productController.price" special-price="productController.specialPrice"></sofa-price>
        <span class="sofa-product-interaction__base-price-info" ng-bind="productController.getBasePriceInfo()"></span>
    </div>

    <div class="sofa-product-interaction__buy">
        <button type="button" class="sofa-product-interaction__add-to-cart"
           ng-click="productController.addToBasket(productController.product)"
           ng-if="!productController.product.isOutOfStock()"
           bo-text="ln.addToCart">
        </button>

        <span class="sofa-product-interaction__sold-out"
              ng-if="productController.product.isOutOfStock()"
              bo-text="ln.soldOut">
        </span>
    </div>

    <div class="sofa-product-interaction__info sofa-product-interaction__info--legal">
        <span class="sofa-product-interaction__tax-info" ng-bind="ln.productTaxText | stringReplace:productController.vat"></span>

        <span class="sofa-product-interaction__shipping-info" ng-if="productController.shippingCost !== null" ng-bind="productController.shippingCost"></span>

        <div class="sofa-product-interaction__shipping-info" ng-if="productController.shippingCost === null">
            <a class="sofa-link" ng-click="productController.navigateToShippingCostsPage()" bo-text="ln.shippingCostsGeneric"></a>
        </div>
    </div>

    <div class="sofa-product-interaction__delivery">
        <span bindonce="productController.product" bo-html="productController.product.delivery"></span>
    </div>

</div>
