<div cc-scroller-announcer class="sofa-view">
    <cc-inject target="aboveContent"></cc-inject>

    <div bindonce="viewCtrl.product" ng-if="viewCtrl.product">

        <div class="sofa-view__header sofa-view__header--product">
            <div class="sofa-up-nav">
                <sofa-go-back-control category="viewCtrl.upCategory"></sofa-go-back-control>
            </div>
            <div class="sofa-view__title">
                <h1 bo-text="viewCtrl.product.name" class="cc-title--huge"></h1>
            </div>
        </div>

        <cc-inject target="beneathTitle"></cc-inject>

        <sofa-full-page-view on-open="setCloneState" on-close="setOriginalState">
            <sofa-full-page-view-clone class="cc-animate">
                <sofa-touch-slider
                        class="sofa-product__image-slider"
                        items="viewCtrl.productImages"
                        display-items="1"
                        snap="true"
                        slide-index="shared.slideIndex"
                        show-indicator="true"
                        data-snap-ignore="true">
                    <div class="sofa-product-view-image-wrapper">
                        <img ng-src="{{item.image.url}}" class="sofa-product-view-image"
                             sofa-image-zoom="item.zoomImage.loaded && item.zoomImage.url">
                    </div>
                </sofa-touch-slider>
            </sofa-full-page-view-clone>
            <sofa-full-page-view-original>
                <sofa-touch-slider
                        class="sofa-product__image-slider"
                        items="viewCtrl.productImages"
                        display-items="1"
                        on-item-click="openFullPageView(e)"
                        snap="true"
                        slide-index="shared.slideIndex"
                        show-indicator="true"
                        data-snap-ignore="true">
                    <div class="sofa-product-view-image-wrapper"
                         ng-click="onItemClick({e: $event});"
                         ng-class="{'cc-img-loading': !item.image.loaded}">
                        <img ng-src="{{item.image.url}}" class="sofa-product-view-image">
                    </div>
                </sofa-touch-slider>
            </sofa-full-page-view-original>
        </sofa-full-page-view>

        <div cc-include="tpl.PRODUCT_INTERACTION"></div>

        <div class="sofa-product-information" ng-if="viewCtrl.hasInfo()">

            <div class="sofa-product-information__block" ng-if="viewCtrl.product.description">
                <h2 class="cc-title--big" bo-text="ln.productDetails"></h2>
                <div class="cc-cms-content" ng-bind-html="viewCtrl.product.description"></div>
            </div>

            <div class="sofa-product-information__block" ng-if="viewCtrl.product.hasAttributes()">
                <h2 class="cc-title--big" bo-text="ln.productSpecifications"></h2>
                <ul class="cc-properties--block">
                    <li ng-repeat="(key, value) in viewCtrl.product.attributes track by key">
                        <span class="cc-properties__key" ng-bind="key"></span>
                        <span class="cc-properties__value" ng-bind-html="viewCtrl.getTrustedHtml(value)"></span>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div ng-if="!viewCtrl.product" ng-include="tpl.404"></div>

    <cc-inject target="aboveFooter"></cc-inject>
    <cc-footer></cc-footer>
    <cc-inject target="beneathFooter"></cc-inject>

</div>
