$cc-content-box__font-size: $font-size-medium;
$cc-content-box__background: $content-background-color;
$cc-content-box__border-radius: $primary-border-radius;
$cc-content-box__border-top-width: 0px;
$cc-content-box__border-right-width: 0px;
$cc-content-box__border-bottom-width: $border-bottom-width;
$cc-content-box__border-left-width: 0px;
$cc-content-box__border-color: $content-border-color;
$cc-content-box__margin: $primary-padding 0 $primary-padding 0;
$cc-content-box--padded__padding: $primary-padding;