$cc-select-box__background: grey;

$cc-select-box__color: #000000;

$cc-select-box__font-size: 12px;

$cc-select-box__height: 50px;

$cc-select-box__border-radius: 5px;

$cc-select-box__border-color: darkgrey;

$cc-select-box__border-top-width: 0px;

$cc-select-box__border-right-width: 0px;

$cc-select-box__border-bottom-width: 2px;

$cc-select-box__border-left-width: 0px;