<div class="cc-select-box">
     <span class="cc-select-box__display-value" ng-bind="displayFn(_selectedValue)"></span>
     <span class="cc-select-box__display-value" ng-hide="_selectedValue">{{chooseText}} {{propertyName}}</span>
     <i class="cc-select-box__select-icon fa fa-chevron-down"></i>
    <select name="{{propertyName}}"
            class="cc-select-box__native-select" 
            ng-model="_selectedValue" 
            ng-options="displayFn(val) for val in data">
        <option ng-if="!_omitNull" value="">-- {{chooseText}} {{propertyName}} --</option>
    </select>
    <span class="cc-validation__message--fail">{{ failMessage }}</span>
</div>