.cc-thumbnail-bar-image{
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: $cc-thumbnail-bar__border-radius;
    border-color: $cc-thumbnail-bar__border-radius;
}

.cc-thumbnail-active{
    border-width: 3px;
}