%theme-button--base {
    @extend %sofa-button--base;

    border-radius: $theme-border-radius--basic;
    box-shadow: 0 $theme-box-shadow-width 0 $theme-color-light__shaded--30;
}

%theme-button--primary {
    @extend %sofa-button--primary;

    border-radius: $theme-border-radius--basic;
    box-shadow: 0 $theme-box-shadow-width 0 $theme-color-accent__darker--20;
}

%theme-button--secondary {
    @extend %sofa-button--secondary;

    border-radius: $theme-border-radius--basic;
    box-shadow: 0 $theme-box-shadow-width 0 $theme-color-accent__darker--20;
}

%theme-button--block {
    @extend %sofa-button--block;
}

// @deprecated, use HTML disabled state on buttons
%theme-button--disabled {
    @extend %sofa-button--disabled;
}

// @deprecated, use HTML disabled state on buttons
%theme-button--primary--disabled {
    @extend %theme-button--disabled;

    background: $theme-color-accent__saturated--33;
}