
// List Highlighting

%cc-highlight-transition--list {
    -webkit-transition: background-color .4s ease-out, color .4s ease-out;
            transition: background-color .4s ease-out, color .4s ease-out;
}
%cc-highlight-transition--grid {

    &:after {
        -webkit-transition: border-color .4s ease-out;
                transition: border-color .4s ease-out;
    }
}

%cc-highlight--list {
    background: $theme-color-highlight;
}

%cc-highlight--list--in {
    @extend %cc-highlight--list;
}

%cc-highlight--list--out {
    -webkit-animation:                  list-highlight--fade-out ($slide-duration * 2) ease-out;
    -webkit-animation-iteration-count:  1;
    animation:                          list-highlight--fade-out ($slide-duration * 2) ease-out;
    animation-iteration-count:          1;
}

@-webkit-keyframes list-highlight--fade-out {
    0% {
        background: $theme-color-highlight;
    }
    66% {
        background: $theme-color-highlight;
    }
    100% {
        background: none;
    }
}
@keyframes list-highlight--fade-out {
    0% {
        background: $theme-color-highlight;
    }
    66% {
        background: $theme-color-highlight;
    }
    100% {
        background: none;
    }
}
// Grid Highlighting

%cc-highlight--grid {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        border-style: solid;
        border-width: 5px;
        border-color: transparent;
    }
}
%cc-highlight--grid--in {
    @extend %cc-highlight--grid;

    &:after {
        border-color: $theme-color-highlight;
    }
}

%cc-highlight--grid--out {
    @extend %cc-highlight--grid;

    &:after {
        -webkit-animation:                  grid-highlight--fade-out ($slide-duration * 2) ease-out;
        -webkit-animation-iteration-count:  1;
        animation:                          grid-highlight--fade-out ($slide-duration * 2) ease-out;
        animation-iteration-count:          1;
    }
}

@-webkit-keyframes grid-highlight--fade-out {
    0% {
        border-color: $theme-color-highlight;
    }
    66% {
        border-color: $theme-color-highlight;
    }
    100% {
        border-color: transparent;
    }
}
@keyframes grid-highlight--fade-out {
    0% {
        border-color: $theme-color-highlight;
    }
    66% {
        border-color: $theme-color-highlight;
    }
    100% {
        border-color: transparent;
    }
}
