
.sofa-totals {
    margin: 1rem 0;
    padding: 0 .625rem;
    font-size: smaller;
    color: $theme-color-dark__lighter--20;

    .sofa-link {
        display: block;
        padding: .25rem .25rem .25rem 0;
        color: inherit;
    }
}

.sofa-totals__list {
    & li {
        @extend %sofa-clearfix;
    }
}

.sofa-totals__label {
    float: left;
    width: 65%;
    padding: .25rem .25rem .25rem 0;
    font-weight: 400;
}

.sofa-totals__label--discount {
    & > span {
        display: block;
    }
}

.sofa-totals__value {
    float: right;
    width: 35%;
    padding: .25rem 0;
    text-align: right;
}

.sofa-totals__grand-total {
    margin-top: .625rem;
    padding-top: .375rem;
    border-top: 2px solid $theme-color-dark__lighter--20;
    font-size: larger;
    color: $theme-color-dark;
}
