$cc-cart__content-box-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.8);
$cc-cart__quantity-selector-font-size: $cc-font-size-big;
$cc-cart-list__row-border-bottom-color: hsla($color-1-h, $color-1-s, $color-1-l, 0.22);
$cc-cart-list__row-content-padding: $cc-primary-padding;
$cc-cart-list__row-total-font-size: $cc-font-size-big;
