
.sofa-footer-list {
    padding-top: .625rem;
    color: $theme-color-dark__lighter--50;
}
.sofa-footer-list__item {
    border-color:$theme-color-dark__lighter--10;
}
@include breakpoint(wide) {
    .sofa-footer-list {
        margin: 0 0 .625rem;
    }
}