<footer class="cc-footer" bindonce="config">
    <cc-footer-links></cc-footer-links>

    <ul class="cc-trust-list">
        <li bo-if="config.trustedShopsEnabled" ng-click="showTrustedShopsCertificate()" class="cc-trust-list__item">
            <i class="cc-trust-list__icon cc-trusted-shops-icon"></i>
            <span class="cc-trust-list__text" bindonce bo-text="ln.tsButtonTitle"></span>
        </li>
        <li bo-if="config.showAppExitLink" ng-click="exitWebApp()" class="cc-trust-list__item">
            <i class="cc-trust-list__icon cc-exit-link-icon"></i>
            <span class="cc-trust-list__text" bindonce bo-text="ln.showDesktopView"></span>
        </li>
    </ul>

</footer>
