

.cc-category__up-nav {
    @extend %up-nav--generic;
    @extend %up-nav--narrow;
}

.cc-category__header {
    @extend %main-headline--generic;
}

@include breakpoint(wide) {
    .cc-category__header-block {
        @include flexbox;
    }
    .cc-category__up-nav {
        @include flex(auto, 0, 0);
    }
    .cc-category__header {
        @include flex(1);

        .cc-title--huge {
            line-height: 44px;
        }

    }

    .cc-category__up-nav {
        @extend %up-nav--wide;

        .cc-go-up-control {
            @extend %go-up-control--wide;
        }
        .cc-go-up-control__icon {
            @extend %go-up-control__icon--wide;
        }
        .cc-go-up-control__text {
            @extend %go-up-control__text--wide;
        }

    }

}

.cc-category-grid {
    .cc-list__item {
        border-color: $theme-color-dark__lighter--50;
    }

    .cc-category-item {
        @extend %cc-highlight-transition--grid;

        &.cc-highlight--in {
            @extend %cc-highlight--grid--in;
        }
        &.cc-highlight--out {
            @extend %cc-highlight--grid--out;
        }
    }
}

.cc-category-item {
    display: block;
    text-decoration: none;
    padding:1px;
    width:100%;
    color: hsl(275, 6%, 42%);
}
.cc-category-item__media-wrapper {
    position: relative;
    padding:10px;
    min-height:220px;
}

.cc-category-item__media {
    width: 100%;
    height:200px;
}

// TODO: refactor as soon as the image resizer supports "force-dimensions"
.cc-category-item__image {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.cc-category-item__info-wrapper {
    padding:6px 10px;
    background: $theme-color-light__darker--05;
}

.cc-category-item__title {
    display:block;
    font-weight: 400;
}

.cc-modern-flexbox {
    .cc-category-item {
        @include flexbox;
        @include flex-direction(column);
    }
    .cc-category-item__media-wrapper {
        @include flex(1, 0, 220px);
    }
    .cc-category-item__info-wrapper {

    }
}
