.cc-product-view-image{
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: $content-background-color;
    border: 1px solid $background-border-color;
}