.cc-category-list {
    @extend %cc-link-list;

    background: #fff;

    li:first-child .cc-category-list__item {
        border-top: 0;
    }
}

.cc-category-list__item {
    @extend %cc-link-list__item;
    @extend %cc-highlight-transition--list;

    border-top: 1px solid hsl(0, 0%, 80%);
    display: block;
    color: hsl(275, 6%, 42%);
    text-decoration: none;

    &.cc-highlight--in {
        @extend %cc-highlight--list--in;
    }
    &.cc-highlight--out {
        @extend %cc-highlight--list--out;
    }
}
