
.cc-search-box {
    height: $theme-header__height;
    padding: $theme-header__paddings;
    background: $theme-color-accent;
}

.cc-search-box__input-wrapper {
    margin-right: $theme-header__icon-width + $theme-header__padding-x;

    .cc-search-field {
        width: 100%;
    }
    
    .cc-search-field__input {
        border-color: transparent;

        &:focus {
            border-color: transparent;
        }
    }
}

.cc-search-field__icon--label,
.cc-search-field__icon--clear {
    color:$theme-color-dark__lighter--50;
}

.cc-search-no-result {
    padding: ($theme-header__height + 32px) 0 0;
}
