$cc-search-result__top:                     $cc-header__height;
$cc-search-result__image-size:              50px;
$cc-search-result__image-background-color:  $color-6; // this should match the product images' background color.
