.cc-search-result__group-header {
    border-bottom: 1px solid lighten($color-1, 50%);
    background: darken($color-6, 7.5%);
}

.cc-search-result__item {
    background: darken($color-6, 2.5%);
}

.cc-search-result__item-text-wrapper {
    border-top:1px solid $color-4;
}

.cc-search-result__item-icon {
    color: lighten($color-1, 50%);
}
