
// Search Box
$cc-search-box__background-color: $color-2;
$cc-search-box__height:           $cc-header__height;
$cc-search-box__paddings:         $cc-header__paddings;
$cc-search-box__shadow-size-y:    $cc-header__shadow-size-y;
$cc-search-box__shadow-color:     transparentize($color-1, .8);

// Search Input Wrapper
$cc-search-box__input-wrapper-margin:    $cc-header__icon-width + $cc-header__padding-x;

// Search Input
$cc-search-box__input-height:            $cc-header-base__element-height;
$cc-search-box__input-font-size:         $cc-header__icon-font-size;
$cc-search-box__input-border-color:      $color-2;
$cc-search-box__input-shadow-size-y:     $cc-border-bottom-width;
$cc-search-box__input-shadow-color:      transparentize($color-1, .75);
$cc-search-box__input-search-icon-color: lighten($color-1, 50%);