$cc-cart__content-box-color: $content-text-color;
$cc-cart__quantity-selector-font-size: $font-size-big;
$cc-cart-list__row-border-bottom-color: $content-border-color;
$cc-cart-list__row-content-padding: $primary-padding;
$cc-cart-list__row-total-font-size: $font-size-big;
