$cc-product-buy-box__info-padding-top: $cc-primary-padding;
$cc-product-buy-box__font-size: $cc-font-size-small;
$cc-product-buy-box__price: $cc-font-size-huge;
$cc-product-buy-box__price-old: $cc-font-size-big;
$cc-product-buy-box__sold-out-background: $cc-warning-background-color;
$cc-product-buy-box__sold-out-color: $cc-warning-text-color;