.cc-search-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $cc-search-box__height;
    padding: $cc-search-box__paddings;
    background: $cc-search-box__background-color;
    z-index: 999;
    box-shadow: 0 $cc-search-box__shadow-size-y 0 $cc-search-box__shadow-color;

    @include vendor-prefix(transform, translateY(0));
    @include vendor-prefix(transition, .2s ease-in-out);
}

.cc-search-box--closed {
    @extend .cc-search-box;
    @include vendor-prefix(transform, translateY(-100%));
}

.cc-search-box--opened {
    @extend .cc-search-box;
}

.cc-search-box__close {
    @extend .cc-header__icon;

    position:static;
    float:right;
}

.cc-search-box__input-wrapper {
    position: relative;
    margin-right: $cc-search-box__input-wrapper-margin;
}

.cc-search-box__input {
    @extend .cc-text-box;

    margin: 0;
    height: $cc-search-box__input-height;
    width: 100%;
    padding: 0 10px 0 30px;
    font-size: $cc-search-box__input-font-size;
    line-height: $cc-search-box__input-height;

    border-color: $cc-search-box__input-border-color;
    box-shadow: inset 0 $cc-search-box__input-shadow-size-y 0 0 $cc-search-box__input-shadow-color;
}

.cc-search-box__input-search-icon {
    position: absolute;
    font-size: 16px;
    line-height: $cc-search-box__input-height;
    top: 0;
    left:10px;
    color:$cc-search-box__input-search-icon-color;
}