<div ng-class="{'cc-search-box--opened': vm.searchUiState.isOpen(), 'cc-search-box--closed' : !vm.searchUiState.isOpen() }" ng-controller="SearchController as vm">
    <i class="cc-search-box__close fa fa-angle-up" ng-click="searchUiState.abort()"></i>

    <div class="cc-search-box__input-wrapper">
        <i class="cc-search-box__input-search-icon fa fa-search"></i>
        <input
            ng-model="searchUiState.searchTerm"
            class="cc-search-box__input"
            type="search"
            cc-ios-input-focus-fix>
    </div>
</div>

<div class="cc-modal"
     ng-click="searchUiState.abort()"
     ng-show="(searchUiState.isOpen() && !searchUiState.hasResults()) || (searchUiState.isOpen() && searchUiState.isRunningSearch)">

    <cc-loading-spinner class="cc-loading-spinner--centered"
                        ng-show="searchUiState.isRunningSearch">
    </cc-loading-spinner>
</div>

<div class="cc-modal--solid" ng-show="searchUiState.hasNoMatch()">

    <div bindonce="ln" class="cc-center-wrapper">
        <span class="cc-center-wrapper__centered-child" bo-text="ln.searchNotFound"></span>
    </div>

</div>
