.cc-content-box{
    font-size: $cc-content-box__font-size;
    background: $cc-content-box__background;
    border-radius: $cc-content-box__border-radius;
    border-style: solid;
    border-width: 0;
    border-color: $cc-content-box__border-color;
    border-top-width: $cc-content-box__border-top-width;
    border-right-width: $cc-content-box__border-right-width;
        //android 2.3 needs blur for box shadow
    -webkit-box-shadow: 0 ($cc-content-box__border-bottom-width) 1px 0 $cc-content-box__border-color;
    box-shadow: 0 ($cc-content-box__border-bottom-width) 0 0 $cc-content-box__border-color;
    border-left-width: $cc-content-box__border-left-width;
    margin: $cc-content-box__margin;
}

.cc-content-box--padded{
    @extend .cc-content-box;
    padding: $cc-content-box--padded__padding;
}

.cc-content-box--padded--stick-right{
    @extend .cc-content-box--padded;
    padding-right: 0;
}