.cc-search-result {
    position: absolute;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    .cc-view-wrapper {
        padding:10px 6px;
        height: 100%;
    }
}

.cc-search-result__group {
    margin-bottom:10px;
}

.cc-search-result__group-header {
    position: relative;
    padding: 10px 25px 10px 10px;
}

.cc-search-result__item-list {
    display: table;
    width: 100%;
    border-collapse:separate;
}

.cc-search-result__item {
    display: table-row;

    &:first-child {
        .cc-search-result__item-image-wrapper,
        .cc-search-result__item-text-wrapper {
            border-top:0;
        }
    }
}

%cc-search-result__table-cells {
    display: table-cell;
    padding: 4px 6px;
    vertical-align: middle;
}

.cc-search-result__item-image-wrapper {
    @extend %cc-search-result__table-cells;

    .cc-search-result__item-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.cc-search-result__item-text-wrapper {
    @extend %cc-search-result__table-cells;

    position: relative;
    padding-right:25px;
}

.cc-search-result__item-icon {
    @extend .fa;
    @extend .fa-angle-right;

    position: absolute;
    right: 10px;
    top:50%;
    line-height: inherit;
    font-size: 125%;

    @include vendor-prefix(transform, translateY(-50%));
}
