.cc-search-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    @include vendor-prefix(transform, translateY(0));
    @include vendor-prefix(transition, .2s ease-in-out);
}

.cc-search-box--closed {
    @extend .cc-search-box;
    @include vendor-prefix(transform, translateY(-100%));
}

.cc-search-box--opened {
    @extend .cc-search-box;
}

.cc-search-box__close {
    @extend .cc-header__icon;

    position:static;
    float:right;
}

.cc-search-no-result {
    text-align: center;
}