.sofa-category-tree-view__list-item {
    @extend %sofa-link-list__item;

    .sofa-category-tree-view__list--closed & {
        display: none;
    }

    .sofa-category-tree-view__list--child & {
        font-size: 90%;
    }
}

.sofa-category-tree-view__link {
    @extend %sofa-link-list__link--arrow;

    &:after {
        content: '';
        color: $theme-color-dark__lighter--20;
    }
}

.sofa-category-tree-view__link--active {
    color: $theme-color-accent;
}

.sofa-category-tree-view__link--has-children {
    @include fa-icon-type($fa-var-angle-down, after);
}

.sofa-category-tree-view__link--open {
    @include fa-icon-type($fa-var-angle-up, after);
}

.sofa-category-tree-view__list--open {
    &.sofa-category-tree-view__list--child {
        background: rgba(0, 0, 0, .05);
    }
}

.sofa-category-tree-view__list--child {
    padding: 0;

    .sofa-category-tree-view__link {
        padding-left: 1.5rem;
    }

    .sofa-category-tree-view__list--child {

        .sofa-category-tree-view__link {
            padding-left: 2.5rem;
        }

        .sofa-category-tree-view__list--child {
            .sofa-category-tree-view__link {
                padding-left: 55px;
            }
        }
    }
}
