
.cc-side-menu {
    background: $theme-color-dark__low--33;
}

.cc-side-menu__footer {
    background: $theme-color-dark__low--25;
}

.cc-side-menu__header {
    background: $theme-color-dark__low--20;
}
