
.sofa-wishlist__item {
    @extend %sofa-clearfix;

    padding: .625rem;
}

.sofa-wishlist__item-image {
    float: left;
    width: 4rem;
    max-height: 4rem;
    margin: 0 .625rem 0 0;
}

.sofa-wishlist__item-title {
    display: block;
    font-weight: 400;
    margin-bottom: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sofa-wishlist__empty-hint {
    @include fa-icon-type($fa-var-heart-o);

    text-align: center;

    &:before {
        display: block;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

.sofa-wishlist__first-use-hint {
    @extend %sofa-message-box--info;

    position: relative;
    padding: .5rem .5rem .5rem 1.5rem;
    font-size: smaller;

    @include fa-icon-type($fa-var-info-circle);

    &:before {
        position: absolute;
        left: 5px;
        top: 0.5em;
        font-size: larger;
    }

}

.sofa-wishlist {
    .sofa-editable-list__item--open .sofa-editable-list__drawer {
        transform: translateX(4rem); // width of the delete button
    }
}
