<div class="cc-header" ng-controller="HeaderController">
    <span 
    class="cc-header-icon cc-header-go-back icon-2x icon-chevron-left" 
    ng-click="navigationService.goUp()"
    ng-show="!navigationService.isRootCategory()"
    ></span>
    <div class="cc-header-logo-wrapper">
        <span class="cc-header-logo" ng-click="navigationService.navigateToRootCategory()">YOUR COMPANY</span>
    </div>
    <span class="cc-header-icon cc-header-shopping-cart icon-2x icon-shopping-cart" ng-click="navigationService.navigateToCart()">
        <span class="cc-header-badge cc-header-shopping-cart-badge" ng-bind="basketItemCount"ng-show="basketItemCount > 0"></span>
    </span>

</div>