<div class="cc-header" ng-controller="HeaderController">
    <div class="cc-header__icon-wrapper">
        <i class="cc-header__icon icon-shopping-cart" 
           ng-click="navigationService.goUp()"
           ng-show="!navigationService.isRootCategory()"></i>
    </div>
    <div class="cc-header__logo">&nbsp;</div>
    <div class="cc-header__icon-wrapper">
        <i class="cc-header__icon icon-search"
           ng-click="showSearch()">
        </i>
    </div>
    <div class="cc-header__icon-wrapper">
        <i class="cc-header__icon icon-shopping-cart"
           ng-click="navigationService.navigateToCart()">
            <span class="cc-header__icon-badge--cart" ng-bind="basketItemCount"ng-show="basketItemCount > 0"></span>
        </i>
    </div>
</div>