.cc-side-menu{
    background: #49404f;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: scroll;
}

.cc-side-menu__heading{
    border-bottom: 3px solid white;
}

