$cc-header-base__height: 56px;
$cc-header-base__icon-padding: round(($cc-header-base__height * .17));
$cc-header-base__icon-height: round($cc-header-base__height * .43);
$cc-header-base__element-height: 2 * $cc-header-base__icon-padding + $cc-header-base__icon-height;